USE [Pbsa]
GO
/****** Object:  StoredProcedure [dbo].[BOC_MULTIPLEINVOICING]    Script Date: 12/18/2016 09:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		DANESHWARI
-- CREATE DATE: 08/30/16
-- DESCRIPTION:	MULTIPLE INVOICING
--				THE SCENARIO MONITORS TRANSACTIONS TO ALERT INSTANCES WHERE THE INVOICE NUMBER IS IDENTICAL BUT THE VALUE OF DOCUMENT AMOUNT/CUSTOMER/GOODS TYPE VARIES
-- =============================================

CREATE PROCEDURE [dbo].[BOC_MULTIPLEINVOICING]
	--INPUT PARAMETERS THAT CAN BE PROVIDED WHILE RUNNING THE STORED PROCEDURE
	@CURRPERIODSTART							INT ,	-- START DATE OF CURRENT MONTH FOR MONITORING (FORMAT:YYYYMMDD)
	@CURRPERIODEND								INT 	-- END DATE OF CURRENT MONTH FOR MONITORING (FORMAT:YYYYMMDD)

AS
BEGIN

	-- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM INTERFERING WITH SELECT STATEMENTS. 
	-- THIS PROVIDES SIGNIFICANT BOOST IN PERFORMANCE
	SET NOCOUNT ON;
	
	
	--DELETE THE TABLES IF THEY ALREADY EXIST. THESE TABLE HOLD THE ALERT INFORMATION GENERAETED FROM PRIOR RUN
		IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'MULTINVALERTCUSTTRANS')
			BEGIN
				DROP TABLE MULTINVALERTCUSTTRANS
			END

		IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'MULTINVALERTCUSTOMERS')
			BEGIN
				DROP TABLE MULTINVALERTCUSTOMERS
			END

		IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'MULTINVOICEMAPDATA')
			BEGIN
				DROP TABLE MULTINVOICEMAPDATA
			END



--GET THE LATEST RECORDS FROM THE TABLE: MULTI_LC_HIST
	SELECT a.ID,OLD_LC_NUMBER,LC_TYPE,LC_AMOUNT,LC_NUMBER,ISSUE_DATE
		,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,	BENEFICIARY_CUSTNO,
		BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE,a.ASOFDATE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER
		INTO #MULTI_LC_HIST 
		FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_LC_HIST A
		INNER JOIN (SELECT B.ID,MAX(B.ASOFDATE) 
						FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_LC_HIST B 
						GROUP BY B.ID) TEMP(ID,ASOFDATE)
		ON A.ID=TEMP.ID
		WHERE A.ASOFDATE=TEMP.ASOFDATE



	--GET THE LATEST RECORDS FROM THE TABLE: MULTI_DRAWINGS_HIST
	SELECT A.ID,DRAWING_TYPE, COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,DOCUMENT_AMOUNT,
		DOC_RECE_DT,VALUE_DATE,DATE_TIME,ACT_GOODS_DESC,GOODSTYPE,VESSEL_NAME,VOYAGE_NUMBER,DISCREPANCY,a.ASOFDATE
		INTO #MULTI_DRAWINGS_HIST 
		FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_DRAWINGS_HIST A
		INNER JOIN (SELECT B.ID, MAX(B.ASOFDATE) 
					FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_DRAWINGS_HIST B 
					GROUP BY B.ID) TEMP(ID,ASOFDATE)
		ON A.ID=TEMP.ID
		WHERE A.ASOFDATE=TEMP.ASOFDATE
	
	

			--UPDATE QUERY: REPLACE [F_BOC_LCGOODSTYPE_CODE] BY THE IDENTICAL TABLE FROM US_DATA_MART. CONNECT TO THE TABLE USING LINKED SERVER OBJECT
			SELECT * INTO #LCGOODSTYPE
			FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.[F_BOC_LCGOODSTYPE_CODE]


			--UPDATES GOODSTYPE FOR HISTORICAL TRANSACTIONS SINCE 2016 FEB FOR THE DRAWINGS RECORDS
			IF(getdate()<cast(cast(20170502 as char(8)) as datetime))
			UPDATE #MULTI_DRAWINGS_HIST
			SET GOODSTYPE=(SELECT A.LC_GOODSTYPE_ID FROM #LCGOODSTYPE A WHERE
			UPPER(LTRIM(RTRIM(A.GOODS_DISPLAY))) = (SELECT UPPER(LTRIM(RTRIM(A.GOODS_TYPE))) FROM GOODSREFID A WHERE
			UPPER(LTRIM(RTRIM(#MULTI_DRAWINGS_HIST.ACT_GOODS_DESC)))=UPPER(LTRIM(RTRIM(A.ACT_GOODS_DESC ))) COLLATE DATABASE_DEFAULT GROUP BY A.GOODS_TYPE) COLLATE DATABASE_DEFAULT
			) WHERE  #MULTI_DRAWINGS_HIST.GOODSTYPE IS NULL and #MULTI_DRAWINGS_HIST.DOC_RECE_DT>20160331 ;


			--UPDATES GOODSTYPE FOR HISTORICAL TRANSACTIONS SINCE 2016 FEB FOR THE LC RECORDS
			IF(getdate()<cast(cast(20170502 as char(8)) as datetime))
			UPDATE #MULTI_LC_HIST
			SET GOODSTYPE=(SELECT A.LC_GOODSTYPE_ID FROM #LCGOODSTYPE A WHERE
			UPPER(LTRIM(RTRIM(A.GOODS_DISPLAY))) = (SELECT UPPER(LTRIM(RTRIM(A.GOODS_TYPE))) FROM GOODSREFID A WHERE
			UPPER(LTRIM(RTRIM(#MULTI_LC_HIST.ACT_GOODS_DESC)))=UPPER(LTRIM(RTRIM(A.ACT_GOODS_DESC )))   COLLATE DATABASE_DEFAULT GROUP BY A.GOODS_TYPE) COLLATE DATABASE_DEFAULT
			)WHERE #MULTI_LC_HIST.GOODSTYPE IS NULL AND #MULTI_LC_HIST.ISSUE_DATE > 20160331;


	--CREATE TABLE TO STORE AND RELEVANT RECORDS WITHIN THE LOOKBACK AND THE CURRENT PERIOD
	CREATE TABLE #MULTIPLEINVOICE(
		ID							VARCHAR(25),
		FOCALENTITY					VARCHAR(50),
		OLD_LC_NUMBER				VARCHAR(20),
		LC_TYPE						VARCHAR(10),
		DRAWING_TYPE				VARCHAR(2),
		COUNTRY_ORIG				VARCHAR(9),
		SHIP_FM_COUNTRY				VARCHAR(35),
		SHIP_TO_COUNTRY				VARCHAR(9),
		VESSEL_NAME					VARCHAR(50),
		VOYAGE_NUMBER				VARCHAR(50),
		DOCUMENT_AMOUNT				DECIMAL(19,2),
		LC_AMOUNT					DECIMAL(19,2),
		LC_NUMBER					VARCHAR(16),
		--NOTE: TRANS_DATE IS POPULATED BY THE FIELD 'ISSUE_DATE' OR 'DOC_RECE_DT' DEPENDING ON THE LC TYPE
		TRANS_DATE					VARCHAR(8), 
		VALUE_DATE					VARCHAR(8),
		DATE_TIME					VARCHAR(8),
		APPLICANT					VARCHAR(MAX),
		APPLICANT_CUSTNO			VARCHAR(10),
		APPLICANT_ACC				INT,
		BENEFICIARY					VARCHAR(MAX),
		BENEFICIARY_CUSTNO			INT,
		BENEFICIARY_ACC				INT,
		ACT_GOODS_DESC				VARCHAR(100),
		GOODSTYPE					VARCHAR(100),
 		)


	--INSERT THE REQUIRED FIELDS INTO TABLE #MULTIPLEINVOICE FOR THE TRANSACTIONS WHOSE LC TYPES DO NOT BEGIN WITH 'C' (i.e. lc types other than collections)
	INSERT INTO #MULTIPLEINVOICE(ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER,
		DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,
		BENEFICIARY_CUSTNO,BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE ) 
		SELECT MD.ID,
		 CASE WHEN (ML.LC_TYPE LIKE 'I%' OR ML.LC_TYPE LIKE 'SO%'  )
							THEN
								CASE 
									WHEN APPLICANT_CUSTNO IS NOT NULL THEN APPLICANT_CUSTNO 
									WHEN APPLICANT IS NOT NULL THEN APPLICANT
									ELSE ML.ID  
								END

						ELSE 
								CASE 
								WHEN BENEFICIARY_CUSTNO IS NOT NULL THEN BENEFICIARY_CUSTNO 
								WHEN BENEFICIARY IS NOT NULL THEN BENEFICIARY
								ELSE ML.ID  
								END
						END,
		ML.OLD_LC_NUMBER,ML.LC_TYPE,MD.DRAWING_TYPE,MD.COUNTRY_ORIG,MD.SHIP_FM_COUNTRY,MD.SHIP_TO_COUNTRY,MD.VESSEL_NAME,MD.VOYAGE_NUMBER,
		MD.DOCUMENT_AMOUNT,ML.LC_AMOUNT,ML.LC_NUMBER,
		MD.DOC_RECE_DT,MD.VALUE_DATE,MD.DATE_TIME,ML.APPLICANT,ML.APPLICANT_CUSTNO,ML.APPLICANT_ACC,ML.BENEFICIARY,
		ML.BENEFICIARY_CUSTNO,ML.BENEFICIARY_ACC,MD.ACT_GOODS_DESC,MD.GOODSTYPE
			FROM #MULTI_DRAWINGS_HIST MD
			INNER JOIN #MULTI_LC_HIST ML
			ON LEFT(MD.ID,12)=ML.ID
			--CONDITIONAL STATEMENTS FOR TRANSACTIONS
			WHERE ML.LC_TYPE IS NOT NULL 
			AND ML.LC_TYPE <> 'RUS' 
			AND ML.LC_TYPE NOT LIKE 'C%' AND ML.LC_TYPE NOT LIKE 'ET%'
			AND MD.DOC_RECE_DT BETWEEN @CURRPERIODSTART AND @CURRPERIODEND     


		--INSERT THE REQUIRED FIELDS INTO TABLE #MULTIPLEINVOICE FOR THE TRANSACTIONS WHOSE LC TYPES BEGIN WITH 'C' (COLLECTION LC TYPES)
		INSERT INTO #MULTIPLEINVOICE (ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER,
		DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,
		BENEFICIARY_CUSTNO,BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE) 
		SELECT MD.ID,
				CASE 
				WHEN APPLICANT_CUSTNO IS NOT NULL THEN APPLICANT_CUSTNO 
				WHEN APPLICANT_CUSTNO IS NULL AND APPLICANT IS NOT NULL THEN APPLICANT
				ELSE ML.ID  
				END,
		ML.OLD_LC_NUMBER,ML.LC_TYPE,MD.DRAWING_TYPE,ML.COUNTRY_ORIG,ML.SHIP_FM_COUNTRY,ML.SHIP_TO_COUNTRY,ML.VESSEL_NAME,ML.VOYAGE_NUMBER,
		MD.DOCUMENT_AMOUNT,ML.LC_AMOUNT,ML.LC_NUMBER,ML.ISSUE_DATE,MD.VALUE_DATE,MD.DATE_TIME,ML.APPLICANT,ML.APPLICANT_CUSTNO,ML.APPLICANT_ACC,ML.BENEFICIARY,
		ML.BENEFICIARY_CUSTNO,ML.BENEFICIARY_ACC,ML.ACT_GOODS_DESC ,ML.GOODSTYPE 
		FROM #MULTI_DRAWINGS_HIST MD
		INNER JOIN #MULTI_LC_HIST ML
		ON LEFT(MD.ID,12)=ML.ID
		WHERE  ML.ISSUE_DATE BETWEEN @CURRPERIODSTART AND @CURRPERIODEND      
		AND ML.LC_TYPE LIKE 'C%'


		-- INSERT THE TRANSACTIONS WHICH BREACH THE ALERTING CONDITIONS INTO THE TABLE MULTINVALERTCUSTTRANS
		SELECT DISTINCT TEMP.ID, [dbo].[BOC_ReplaceSpaces](TEMP.FOCALENTITY) AS FOCALENTITY,'MULTIPLEINVOICE' AS ALERTCONDITION,TEMP.OLD_LC_NUMBER,TEMP.LC_TYPE,TEMP.DRAWING_TYPE,TEMP.COUNTRY_ORIG,TEMP.SHIP_FM_COUNTRY,TEMP.SHIP_TO_COUNTRY,
		TEMP.APPLICANT,TEMP.APPLICANT_CUSTNO,TEMP.APPLICANT_ACC,TEMP.BENEFICIARY,TEMP.BENEFICIARY_CUSTNO,TEMP.BENEFICIARY_ACC,TEMP.ACT_GOODS_DESC,TEMP.GOODSTYPE,TEMP.VESSEL_NAME,TEMP.VOYAGE_NUMBER,
		TEMP.DOCUMENT_AMOUNT,TEMP.LC_AMOUNT,TEMP.TRANS_DATE
		INTO PBSA.DBO.MULTINVALERTCUSTTRANS  FROM
		(SELECT A.ID,A.FOCALENTITY,'MULTIPLEINVOICE' AS ALERTCONDITION,A.OLD_LC_NUMBER,A.LC_TYPE,A.DRAWING_TYPE,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,
		A.APPLICANT,A.APPLICANT_CUSTNO,A.APPLICANT_ACC,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC,A.GOODSTYPE,A.VESSEL_NAME,A.VOYAGE_NUMBER,
		A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.TRANS_DATE
		 FROM #MULTIPLEINVOICE A,#MULTIPLEINVOICE B
			WHERE  
			LTRIM(RTRIM(UPPER(A.COUNTRY_ORIG)))				=LTRIM(RTRIM(UPPER(B.COUNTRY_ORIG))) 
			AND LTRIM(RTRIM(UPPER(A.SHIP_FM_COUNTRY)))		=LTRIM(RTRIM(UPPER(B.SHIP_FM_COUNTRY))) --AND A.SHIP_FM_COUNTRY<>'ZZ'
			AND LTRIM(RTRIM(UPPER(A.SHIP_TO_COUNTRY	)))		=LTRIM(RTRIM(UPPER(B.SHIP_TO_COUNTRY)))
			AND LTRIM(RTRIM(UPPER(A.APPLICANT)))			=LTRIM(RTRIM(UPPER(B.APPLICANT)))
			AND LTRIM(RTRIM(UPPER(A.BENEFICIARY)))			=LTRIM(RTRIM(UPPER(B.BENEFICIARY)))
			AND LTRIM(RTRIM(UPPER(A.GOODSTYPE)))			=LTRIM(RTRIM(UPPER(B.GOODSTYPE)))
			AND LTRIM(RTRIM(UPPER(A.VESSEL_NAME)))			=LTRIM(RTRIM(UPPER(B.VESSEL_NAME)))
			AND LTRIM(RTRIM(UPPER(A.VOYAGE_NUMBER)))		=LTRIM(RTRIM(UPPER(B.VOYAGE_NUMBER)))
			AND LTRIM(RTRIM(UPPER(A.DOCUMENT_AMOUNT)))		=LTRIM(RTRIM(UPPER(B.DOCUMENT_AMOUNT)))
			AND A.ID<>B.ID) TEMP
			


		--REPLACE GOODS TYPE ID WITH THE GOODS DISPLAY FIELD #LCGOODS
		UPDATE MULTINVALERTCUSTTRANS
		SET GOODSTYPE=(SELECT [dbo].[BOC_ReplaceSpaces](A.GOODS_DISPLAY)  FROM #LCGOODSTYPE A WHERE
		CAST(MULTINVALERTCUSTTRANS.GOODSTYPE AS FLOAT)=A.LC_GOODSTYPE_ID )



		--INSERT CUSTOMER LEVEL INFORMATION FOR ALERTED CUSTOMERS INTO A NEW TABLE
		SELECT  [dbo].[BOC_ReplaceSpaces](FOCALENTITY) as FOCALENTITY,COUNT(*) AS 'MULTIPLEINVOICECOUNT' INTO PBSA.DBO.MULTINVALERTCUSTOMERS 
		FROM MULTINVALERTCUSTTRANS GROUP BY FOCALENTITY



		--INSERT TRANSACTION LEVEL INFORMATION FOR ALERTED CUSTOMERS INTO A NEW TABLE. REPLACE ALL THE SPACES WITH UNDERSCORE
		SELECT A.ID ,[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) as FOCALENTITY,A.OLD_LC_NUMBER,A.LC_TYPE ,A.DRAWING_TYPE ,A.COUNTRY_ORIG ,
				A.SHIP_FM_COUNTRY ,A.SHIP_TO_COUNTRY ,CAST(A.DOCUMENT_AMOUNT AS VARCHAR) AS DOCUMENT_AMOUNT,CAST(A.LC_AMOUNT AS VARCHAR) AS LC_AMOUNT,A.LC_NUMBER,A.VESSEL_NAME,A.VOYAGE_NUMBER,A.TRANS_DATE,
				REPLACE(LTRIM(RTRIM(A.APPLICANT)),' ','_') AS APPLICANT ,CAST(A.APPLICANT_CUSTNO AS VARCHAR) AS APPLICANT_CUSTNO ,CAST(A.APPLICANT_ACC AS VARCHAR) AS APPLICANT_ACC,REPLACE(LTRIM(RTRIM(A.BENEFICIARY)),' ','_') AS BENEFICIARY ,
				CAST(A.BENEFICIARY_CUSTNO AS VARCHAR) AS BENEFICIARY_CUSTNO,CAST(A.BENEFICIARY_ACC AS VARCHAR) AS BENEFICIARY_ACC,REPLACE(LTRIM(RTRIM(A.ACT_GOODS_DESC)),' ','_') AS ACT_GOODS_DESC,[dbo].[BOC_ReplaceSpaces](B.GOODS_DISPLAY)AS GOODSTYPE,
				CASE ISNULL(TR.ID,0) 
						WHEN '0' THEN '0'
						ELSE '1'
						END AS 'ALERTEDTRANSACTION'
				INTO PBSA.DBO.MULTINVOICEMAPDATA
				FROM #MULTIPLEINVOICE A
				LEFT JOIN MULTINVALERTCUSTTRANS TR
				ON A.ID=TR.ID 
				LEFT JOIN #LCGOODSTYPE B
				ON CAST(A.GOODSTYPE AS FLOAT)=CAST(B.LC_GOODSTYPE_ID AS FLOAT)



		--INSERT CUSTOMER LEVEL INFORMATION W.R.T THE ALERTED CUSTOMERS IN THE HISTORICAL ALERTS TABLE
		INSERT INTO PBSA.DBO.CONSOLIDATEDALERTS
		SELECT  'MULTIPLE_INVOICING' AS ALERT_NAME,'MULTIPLE_INVOICING',[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) as FOCALENTITY,CUSTOMERNAME,DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME)),GETDATE()   FROM MULTINVALERTCUSTOMERS A
		LEFT JOIN 
		(SELECT FOCALENTITY, MAX(CUSTOMERNAME) AS CUSTOMERNAME FROM 
		(SELECT FOCALENTITY, 
		CASE 
		WHEN FOCALENTITY=CAST(BENEFICIARY_CUSTNO AS VARCHAR) THEN BENEFICIARY
		WHEN FOCALENTITY=CAST(APPLICANT_CUSTNO AS VARCHAR) THEN APPLICANT 
		WHEN UPPER(LTRIM(RTRIM(FOCALENTITY)))=UPPER(LTRIM(RTRIM(BENEFICIARY))) THEN BENEFICIARY 
		WHEN UPPER(LTRIM(RTRIM(FOCALENTITY)))=UPPER(LTRIM(RTRIM(APPLICANT))) THEN APPLICANT 
		END AS CUSTOMERNAME FROM MULTINVALERTCUSTTRANS)B 
		GROUP BY FOCALENTITY) C
		ON A.FOCALENTITY=C.FOCALENTITY
		WHERE NOT EXISTS (SELECT 1 FROM CONSOLIDATEDALERTS B WHERE  B.ALERTING_CONDITION='MULTIPLE_INVOICING'
		AND B.ALERT_MONTH=DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))
		AND  B.FOCALENTITY=A.FOCALENTITY)
	
		--INSERT ALL THE TRANSACTIONS FROM THE CURRENT RUN TO THE HISTORICAL TRANSACTION TABLE FOR THE ALERTED CUSTOMERS
		INSERT INTO PBSA.DBO.HISTORICALTRANSACTIONS 
		SELECT DISTINCT [dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) as FOCALENTITY,A.LC_NUMBER,A.ID,'MULTIPLE_INVOICING' AS SCENARIO,
		CASE
		WHEN D.ID IS NULL THEN NULL
		ELSE 'MULTIPLE_INVOICING' END,
		A.OLD_LC_NUMBER,A.APPLICANT,A.APPLICANT_CUSTNO,
		A.LC_TYPE,A.DRAWING_TYPE,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.VESSEL_NAME,A.VOYAGE_NUMBER,E.DISCREPANCY,
		A.TRANS_DATE,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,REPLACE(LTRIM(RTRIM(A.ACT_GOODS_DESC)),' ','_') AS ACT_GOODS_DESC,[dbo].[BOC_ReplaceSpaces](C.GOODS_DISPLAY)
		AS GOODSTYPE,DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME)) AS ALERT_MONTH,
		GETDATE() AS RUN_MONTH
		FROM #MULTIPLEINVOICE A
		INNER JOIN MULTINVALERTCUSTOMERS B
		ON A.FOCALENTITY=B.FOCALENTITY
		LEFT JOIN #LCGOODSTYPE C
		ON CAST(A.GOODSTYPE AS FLOAT)=CAST(C.LC_GOODSTYPE_ID AS FLOAT)
		LEFT JOIN MULTINVALERTCUSTTRANS D
		ON A.ID=D.ID
		LEFT JOIN #MULTI_DRAWINGS_HIST E
		ON A.ID=E.ID COLLATE DATABASE_DEFAULT
		AND NOT EXISTS (SELECT 1 FROM HISTORICALTRANSACTIONS B WHERE B.ID=A.ID AND B.ALERTINGCONDITIONS='MULTIPLE_INVOICING'
		AND B.ALERT_MONTH=DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))
		)

END





