USE [Pbsa]
GO
/****** Object:  StoredProcedure [dbo].[BOC_DOCDISCREPANCIES]    Script Date: 12/18/2016 09:36:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		DANESHWARI
-- CREATE DATE: 08/30/16
-- DESCRIPTION:	PATTERN OF DOCUMENTARY DISCREPANCIES
--				IDENTIFIES UNUSUAL PATTERN OF DOCUMENTARY DISCREPANCIES FOR THE SAME CLIENT 
-- =============================================

CREATE PROCEDURE [dbo].[BOC_DOCDISCREPANCIES]
	--INPUT PARAMETERS THAT CAN BE PROVIDED WHILE RUNNING THE STORED PROCEDURE
	@LOOKBACKSTART								INT ,			   --LOOKBACK START DATE FOR BUILDING CUSTOMER'S HISTORICAL PROFILE (FORMAT:YYYYMMDD)
	@CURRPERIODSTART							INT ,			   -- START DATE OF CURRENT MONTH FOR MONITORING (FORMAT:YYYYMMDD)
	@CURRPERIODEND								INT ,			   -- END DATE OF CURRENT MONTH FOR MONITORING (FORMAT:YYYYMMDD)
	@PERDISPNCYTHSLD							INT ,				-- THRESHOLD FOR PERCENTAGE OF TRANSACTIONS IN THE MONITORING PERIOD WITH DISCREPANCIES FOR ALL GOODS TYPES
	@PERHRGDSDISPNCYTHSLD						INT ,				-- THRESHOLD FOR PERCENTAGE OF TRANSACTIONS IN THE MONITORING PERIOD WITH DISCREPANCIES INVOLVING HIGH RISK GOODS TYPES
	@PERDUGDSDISPNCYTHSLD						INT ,				-- THRESHOLD FOR PERCENTAGE OF TRANSACTIONS IN THE MONITORING PERIOD WITH DISCREPANCIES INVOLVING DUAL USE GOODS
	@TOTDISPNCYTHSLD							INT	,				-- THRESHOLD FOR NUMBER OF TRANSACTIONS IN THE MONITORING PERIOD WITH DISCREPANCIES INVOLVING ALL GOODS TYPES
	@TOTNOOFDISPNCYHRGDSTHSLD					INT	,				-- THRESHOLD FOR NUMBER OF TRANSACTIONS IN THE MONITORING PERIOD WITH DISCREPANCIES INVOLVING HIGH RISK GOODS
	@TOTNOOFDISPNCYDUGDSTHSLD					INT					-- THRESHOLD NUMBER OF TRANSACTIONS IN THE MONITORING PERIOD WITH DISCREPANCIES INVOLVING DUAL USE GOODS TYPE


	
AS
BEGIN

		-- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM INTERFERING WITH SELECT STATEMENTS. 
		-- THIS PROVIDES SIGNIFICANT BOOST IN PERFORMANCE
		SET NOCOUNT ON;
		
		
		--DELETE THE TABLES IF THEY ALREADY EXIST. THESE TABLE HOLD THE ALERT INFORMATION GENERAETED FROM PRIOR RUN
			IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'DOCDSPYALERTCUSTOMERS')
				BEGIN
					DROP TABLE DOCDSPYALERTCUSTOMERS 
				END

			IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'DOCDSPYALERTTRANSACTION')
				BEGIN
					DROP TABLE DOCDSPYALERTTRANSACTION
				END

			IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'DOCDISCREPANCYMAPDATA')
				BEGIN
					DROP TABLE DOCDISCREPANCYMAPDATA
				END


--GET THE LATEST RECORDS FROM THE TABLE: MULTI_LC_HIST
	SELECT a.ID,OLD_LC_NUMBER,LC_TYPE,LC_AMOUNT,LC_NUMBER,ISSUE_DATE
		,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,	BENEFICIARY_CUSTNO,
		BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE,a.ASOFDATE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER
		INTO #MULTI_LC_HIST 
		FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_LC_HIST A
		INNER JOIN (SELECT B.ID,MAX(B.ASOFDATE) 
						FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_LC_HIST B 
						GROUP BY B.ID) TEMP(ID,ASOFDATE)
		ON A.ID=TEMP.ID
		WHERE A.ASOFDATE=TEMP.ASOFDATE



	--GET THE LATEST RECORDS FROM THE TABLE: MULTI_DRAWINGS_HIST
	SELECT A.ID,DRAWING_TYPE, COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,DOCUMENT_AMOUNT,
		DOC_RECE_DT,VALUE_DATE,DATE_TIME,ACT_GOODS_DESC,GOODSTYPE,VESSEL_NAME,VOYAGE_NUMBER,DISCREPANCY,a.ASOFDATE
		INTO #MULTI_DRAWINGS_HIST 
		FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_DRAWINGS_HIST A
		INNER JOIN (SELECT B.ID, MAX(B.ASOFDATE) 
					FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_DRAWINGS_HIST B 
					GROUP BY B.ID) TEMP(ID,ASOFDATE)
		ON A.ID=TEMP.ID
		WHERE A.ASOFDATE=TEMP.ASOFDATE
	



			--UPDATE QUERY: REPLACE [F_BOC_LCGOODSTYPE_CODE] BY THE IDENTICAL TABLE FROM US_DATA_MART. CONNECT TO THE TABLE USING LINKED SERVER OBJECT
			SELECT * INTO #LCGOODSTYPE
			FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.[F_BOC_LCGOODSTYPE_CODE]



			--UPDATES GOODSTYPE FOR HISTORICAL TRANSACTIONS SINCE 2016 FEB FOR THE DRAWINGS RECORDS
			IF(getdate()<cast(cast(20170502 as char(8)) as datetime))
			UPDATE #MULTI_DRAWINGS_HIST
			SET GOODSTYPE=(SELECT A.LC_GOODSTYPE_ID FROM #LCGOODSTYPE A WHERE
			UPPER(LTRIM(RTRIM(A.GOODS_DISPLAY))) = (SELECT UPPER(LTRIM(RTRIM(A.GOODS_TYPE))) FROM GOODSREFID A WHERE
			UPPER(LTRIM(RTRIM(#MULTI_DRAWINGS_HIST.ACT_GOODS_DESC)))=UPPER(LTRIM(RTRIM(A.ACT_GOODS_DESC ))) COLLATE DATABASE_DEFAULT GROUP BY A.GOODS_TYPE) COLLATE DATABASE_DEFAULT
			) WHERE  #MULTI_DRAWINGS_HIST.GOODSTYPE IS NULL and #MULTI_DRAWINGS_HIST.DOC_RECE_DT>20160331 ;



			--UPDATES GOODSTYPE FOR HISTORICAL TRANSACTIONS SINCE 2016 FEB FOR THE LC RECORDS
			IF(getdate()<cast(cast(20170502 as char(8)) as datetime))
			UPDATE #MULTI_LC_HIST
			SET GOODSTYPE=(SELECT A.LC_GOODSTYPE_ID FROM #LCGOODSTYPE A WHERE
			UPPER(LTRIM(RTRIM(A.GOODS_DISPLAY))) = (SELECT UPPER(LTRIM(RTRIM(A.GOODS_TYPE))) FROM GOODSREFID A WHERE
			UPPER(LTRIM(RTRIM(#MULTI_LC_HIST.ACT_GOODS_DESC)))=UPPER(LTRIM(RTRIM(A.ACT_GOODS_DESC )))   COLLATE DATABASE_DEFAULT GROUP BY A.GOODS_TYPE) COLLATE DATABASE_DEFAULT
			)WHERE #MULTI_LC_HIST.GOODSTYPE IS NULL AND #MULTI_LC_HIST.ISSUE_DATE > 20160331;




		--CREATE TABLE TO HOLD ALL THE RECORDS BELONGING TO THE LOOKBACK PERIOD AND THE CURRENT PERIOD
		CREATE TABLE #DOCDISCREPANCY
			(
			ID							VARCHAR(25),
			FOCALENTITY					VARCHAR(50),
			OLD_LC_NUMBER				VARCHAR(20),
			LC_TYPE						VARCHAR(10),
			DRAWING_TYPE				VARCHAR(2),
			DISCREPANCY					VARCHAR(50),
			DISCREPANCYFLAG				INT,
			HRGOODS						INT DEFAULT 0, 		--FLAG TO INDICATE HIGH RISK GOODS 
			DUGOODS						INT DEFAULT 0,		--FLAG TO INDICATE DUAL USE GOODS 
			COUNTRY_ORIG				VARCHAR(9),
			SHIP_FM_COUNTRY				VARCHAR(35),
			SHIP_TO_COUNTRY				VARCHAR(9),
			VESSEL_NAME					VARCHAR(50),
			VOYAGE_NUMBER				VARCHAR(50),
			DOCUMENT_AMOUNT				DECIMAL(19,2),
			LC_AMOUNT					DECIMAL(19,2),
			LC_NUMBER					VARCHAR(16),
			--NOTE: TRANS_DATE IS POPULATED BY THE FIELD 'ISSUE_DATE' OR 'DOC_RECE_DT' DEPENDING ON THE LC TYPE
			TRANS_DATE					VARCHAR(8), 
			VALUE_DATE					VARCHAR(8),
			DATE_TIME					VARCHAR(8),
			APPLICANT					VARCHAR(MAX),
			APPLICANT_CUSTNO			VARCHAR(10),
			APPLICANT_ACC				INT,
			BENEFICIARY					VARCHAR(MAX),
			BENEFICIARY_CUSTNO			INT,
			BENEFICIARY_ACC				INT,
			ACT_GOODS_DESC				VARCHAR(100),
			GOODSTYPE					VARCHAR(50),
			)


		--INSERT THE REQUIRED FIELDS INTO TABLE #DOCDISCREPANCY FOR THE TRANSACTIONS WHOSE LC TYPES DO NOT BEGIN WITH 'C' (i.e. lc types other than collections)
			INSERT INTO #DOCDISCREPANCY (ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,DISCREPANCY,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER,
				DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,
				BENEFICIARY_CUSTNO,BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE )  
						SELECT MD.ID,
							CASE WHEN (UPPER(ML.LC_TYPE) LIKE 'I%' OR UPPER(ML.LC_TYPE)  LIKE 'SO%')
								THEN
									CASE 
										WHEN APPLICANT_CUSTNO IS NOT NULL THEN APPLICANT_CUSTNO 
										WHEN APPLICANT_CUSTNO IS NULL AND APPLICANT IS NOT NULL THEN APPLICANT
										ELSE ML.ID  
									END

							ELSE 
								CASE 
									WHEN BENEFICIARY_CUSTNO IS NOT NULL THEN BENEFICIARY_CUSTNO 
									WHEN BENEFICIARY_CUSTNO IS NULL AND BENEFICIARY IS NOT NULL THEN BENEFICIARY
									ELSE ML.ID  
								END
						END,
				ML.OLD_LC_NUMBER,ML.LC_TYPE,MD.DRAWING_TYPE,MD.DISCREPANCY, MD.COUNTRY_ORIG,MD.SHIP_FM_COUNTRY,MD.SHIP_TO_COUNTRY,MD.VESSEL_NAME,MD.VOYAGE_NUMBER,MD.DOCUMENT_AMOUNT,ML.LC_AMOUNT,ML.LC_NUMBER,
				MD.DOC_RECE_DT,MD.VALUE_DATE,MD.DATE_TIME,ML.APPLICANT,ML.APPLICANT_CUSTNO,ML.APPLICANT_ACC,ML.BENEFICIARY,
				ML.BENEFICIARY_CUSTNO,ML.BENEFICIARY_ACC,MD.ACT_GOODS_DESC,MD.GOODSTYPE
					FROM #MULTI_DRAWINGS_HIST MD
					INNER JOIN #MULTI_LC_HIST ML
					ON LEFT(MD.ID,12)=ML.ID
					--CONDITIONAL STATEMENTS FOR TRANSACTIONS
					WHERE ML.LC_TYPE IS NOT NULL 
					AND ML.LC_TYPE <> 'RUS' 
					AND ML.LC_TYPE NOT LIKE 'C%' AND ML.LC_TYPE NOT LIKE 'ET%'
					AND MD.DOC_RECE_DT BETWEEN @LOOKBACKSTART AND @CURRPERIODEND       
					ORDER BY MD.ID



		--INSERT THE REQUIRED FIELDS INTO TABLE #DOCDISCREPANCY FOR THE TRANSACTIONS WHOSE LC TYPES BEGIN WITH 'C' (COLLECTION LC TYPES)
		INSERT INTO #DOCDISCREPANCY (ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,DISCREPANCY,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER,
		DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,
		BENEFICIARY_CUSTNO,BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE) 
		SELECT MD.ID,
				CASE 
				WHEN APPLICANT_CUSTNO IS NOT NULL THEN APPLICANT_CUSTNO 
				WHEN APPLICANT_CUSTNO IS NULL AND APPLICANT IS NOT NULL THEN APPLICANT
				ELSE ML.ID  
				END,
		ML.OLD_LC_NUMBER,ML.LC_TYPE,MD.DRAWING_TYPE,MD.DISCREPANCY,ML.COUNTRY_ORIG,ML.SHIP_FM_COUNTRY,ML.SHIP_TO_COUNTRY,ML.VESSEL_NAME,ML.VOYAGE_NUMBER,
		MD.DOCUMENT_AMOUNT,ML.LC_AMOUNT,ML.LC_NUMBER,ML.ISSUE_DATE,MD.VALUE_DATE,MD.DATE_TIME,ML.APPLICANT,ML.APPLICANT_CUSTNO,ML.APPLICANT_ACC,ML.BENEFICIARY,
		ML.BENEFICIARY_CUSTNO,ML.BENEFICIARY_ACC,ML.ACT_GOODS_DESC,ML.GOODSTYPE  
		FROM #MULTI_DRAWINGS_HIST MD
		INNER JOIN #MULTI_LC_HIST ML
		ON LEFT(MD.ID,12)=ML.ID
		WHERE  ML.ISSUE_DATE BETWEEN @LOOKBACKSTART  AND @CURRPERIODEND   
		AND ML.LC_TYPE LIKE 'C%' 


		--DETELE THE FOCALENTITIES WHO DO NOT HAVE A TRANSACTION IN THE CURRENT MONTH
		DELETE  FROM #DOCDISCREPANCY  
		WHERE NOT EXISTS 
		(SELECT 1 FROM #DOCDISCREPANCY B WHERE TRANS_DATE BETWEEN @CURRPERIODSTART AND @CURRPERIODEND  AND B.FOCALENTITY=#DOCDISCREPANCY.FOCALENTITY)



		--FLAG ONLY THOSE TRANSACTIONS WHICH HAVE A DISCREPANCY
		UPDATE #DOCDISCREPANCY
		SET DISCREPANCYFLAG=(CASE WHEN #DOCDISCREPANCY.DISCREPANCY IS NOT NULL AND UPPER(LTRIM(RTRIM(#DOCDISCREPANCY.DISCREPANCY ))) 
		NOT IN ('NO','NONE','N','ZZ','IN ORDER') THEN 1 ELSE 0 END)



		--FLAG HIGH RISK AND DUAL USE GOODS
		UPDATE #DOCDISCREPANCY
		SET HRGOODS=CASE WHEN (SELECT H_RISK FROM #LCGOODSTYPE A
		WHERE LC_GOODSTYPE_ID=CAST(GOODSTYPE AS FLOAT))='Y' AND #DOCDISCREPANCY.DISCREPANCYFLAG=1 THEN 1 ELSE 0 END,
		DUGOODS=CASE WHEN (SELECT DUAL_USE FROM #LCGOODSTYPE
		WHERE LC_GOODSTYPE_ID=CAST(GOODSTYPE AS FLOAT))='Y' AND #DOCDISCREPANCY.DISCREPANCYFLAG=1 THEN 1 ELSE 0 END



		--CREATE A TEMP TABLE FOR COMPUTATING DISCREPANCY DISTRIBUTIONS
		CREATE TABLE #TT1(
		FOCALENTITY VARCHAR(50),
		TOTDISCREPANCY NUMERIC(5),
		TOTTRANSACTIONS NUMERIC(5),
		PER_DISPNCY NUMERIC(5),
		TOT_HRGOODS_DISPNCY NUMERIC(5),
		PER_HRGOODS_DISPNCY NUMERIC(5),
		TOT_DUGOODS_DISPANCY NUMERIC(5),
		PER_DUGOODS_DISPANCY NUMERIC(5))


		--THE NEXT TWO SNIPPETS COMPUTE AND RECORD THE DISCREPANCY PERCENTAGE AND COUNT
		INSERT INTO #TT1(FOCALENTITY,TOTDISCREPANCY,TOTTRANSACTIONS,TOT_HRGOODS_DISPNCY,TOT_DUGOODS_DISPANCY)
		SELECT FOCALENTITY,SUM(DISCREPANCYFLAG),COUNT(FOCALENTITY), SUM(HRGOODS),SUM(DUGOODS)
		FROM #DOCDISCREPANCY 
		GROUP BY FOCALENTITY

				
		UPDATE #TT1
		SET PER_DISPNCY= CEILING((100*TOTDISCREPANCY) /TOTTRANSACTIONS),
			PER_HRGOODS_DISPNCY=CEILING((100*TOT_HRGOODS_DISPNCY) /TOTTRANSACTIONS),
			PER_DUGOODS_DISPANCY=CEILING((100*TOT_DUGOODS_DISPANCY) /TOTTRANSACTIONS)


		--TABLE TO HOLD THE ALERTED TRANSACTIONS
		CREATE TABLE #DOCDISCREPANCYALERTS
		(
		ID							VARCHAR(25),
		FOCALENTITY					VARCHAR(50),
		ALERTINGCONDITION			VARCHAR(20),
		OLD_LC_NUMBER				VARCHAR(20),
		LC_TYPE						VARCHAR(10),
		DRAWING_TYPE				VARCHAR(2),
		DISCREPANCY					VARCHAR(50),
		HRGOODS						INT DEFAULT 0, 		--FLAG TO INDICATE HIGH RISK GOODS 
		DUGOODS						INT DEFAULT 0,		--FLAG TO INDICATE DUAL USE GOODS 
		TOTDISCREPANCY				NUMERIC(5),
		TOTTRANSACTIONS				NUMERIC(5),
		PER_DISPNCY					NUMERIC(5),
		TOT_HRGOODS_DISPNCY			NUMERIC(5),
		PER_HRGOODS_DISPNCY			NUMERIC(5),
		TOT_DUGOODS_DISPANCY		NUMERIC(5),
		PER_DUGOODS_DISPANCY		NUMERIC(5),
		COUNTRY_ORIG				VARCHAR(9),
		SHIP_FM_COUNTRY				VARCHAR(35),
		SHIP_TO_COUNTRY				VARCHAR(9),
		VESSEL_NAME					VARCHAR(50),
		VOYAGE_NUMBER				VARCHAR(50),
		DOCUMENT_AMOUNT				DECIMAL(19,2),
		LC_AMOUNT					DECIMAL(19,2),
		LC_NUMBER					VARCHAR(16),
		TRANS_DATE					VARCHAR(8), 
		VALUE_DATE					VARCHAR(8),
		DATE_TIME					VARCHAR(8),
		APPLICANT					VARCHAR(MAX),
		APPLICANT_CUSTNO			VARCHAR(10),
		APPLICANT_ACC				INT,
		BENEFICIARY					VARCHAR(MAX),
		BENEFICIARY_CUSTNO			INT,
		BENEFICIARY_ACC				INT,
		ACT_GOODS_DESC				VARCHAR(100),
		GOODSTYPE					VARCHAR(50)
	)



		--INSERT TRANSACTIONS WHICH BREACH THE THRESHOLDS FOR DOCUMENTARY DISCREPANCIES, FOR TRANSACTIONS WITH HIGH RISK GOODS
		INSERT INTO #DOCDISCREPANCYALERTS
		SELECT A.ID,A.FOCALENTITY,'TOTALHRGDSDISPNCY',A.OLD_LC_NUMBER,A.LC_TYPE,A.DRAWING_TYPE,A.DISCREPANCY,A.HRGOODS,A.DUGOODS,B.TOTDISCREPANCY,
		B.TOTTRANSACTIONS,B.PER_DISPNCY,B.TOT_HRGOODS_DISPNCY ,B.PER_HRGOODS_DISPNCY ,B.TOT_DUGOODS_DISPANCY ,B.PER_DUGOODS_DISPANCY,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.VESSEL_NAME,
		A.VOYAGE_NUMBER,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,
		A.APPLICANT_CUSTNO,A.APPLICANT_ACC,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC,A.GOODSTYPE 
		FROM #DOCDISCREPANCY A
		INNER JOIN #TT1 B
		ON A.FOCALENTITY = B.FOCALENTITY
		WHERE B.TOT_HRGOODS_DISPNCY>=@TOTNOOFDISPNCYHRGDSTHSLD AND  B.PER_HRGOODS_DISPNCY>=@PERHRGDSDISPNCYTHSLD
		AND A.DISCREPANCYFLAG=1 AND  A.HRGOODS=1



		--INSERT TRANSACTIONS WHICH BREACH THE THRESHOLDS FOR DOCUMENTARY DISCREPANCIES, FOR TRANSACTIONS WITH DUAL USE GOODS
		INSERT INTO #DOCDISCREPANCYALERTS
		SELECT A.ID,A.FOCALENTITY,'TOTALDUGDSDISPNCY',A.OLD_LC_NUMBER,A.LC_TYPE,A.DRAWING_TYPE,A.DISCREPANCY,A.HRGOODS,A.DUGOODS,B.TOTDISCREPANCY,
		B.TOTTRANSACTIONS,B.PER_DISPNCY,B.TOT_HRGOODS_DISPNCY ,B.PER_HRGOODS_DISPNCY ,B.TOT_DUGOODS_DISPANCY ,B.PER_DUGOODS_DISPANCY,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.VESSEL_NAME,
		A.VOYAGE_NUMBER,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,
		A.APPLICANT_CUSTNO,A.APPLICANT_ACC,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC,A.GOODSTYPE 
		FROM #DOCDISCREPANCY A
		INNER JOIN #TT1 B
		ON A.FOCALENTITY = B.FOCALENTITY
		WHERE B.TOT_DUGOODS_DISPANCY>=@TOTNOOFDISPNCYDUGDSTHSLD AND  B.PER_DUGOODS_DISPANCY>=@PERDUGDSDISPNCYTHSLD 
		AND A.DISCREPANCYFLAG=1 AND  A.DUGOODS=1


		--INSERT TRANSACTIONS WHICH BREACH THE THRESHOLDS FOR DOCUMENTARY DISCREPANCIES, FOR ALL THE TRANSACTIONS IRRESPECTIVE OF GOODS TYPE
		INSERT INTO #DOCDISCREPANCYALERTS
		SELECT A.ID,A.FOCALENTITY,'TOTDISPNCY',A.OLD_LC_NUMBER,A.LC_TYPE,A.DRAWING_TYPE,A.DISCREPANCY,A.HRGOODS,A.DUGOODS,B.TOTDISCREPANCY,
		B.TOTTRANSACTIONS,B.PER_DISPNCY,B.TOT_HRGOODS_DISPNCY ,B.PER_HRGOODS_DISPNCY ,B.TOT_DUGOODS_DISPANCY ,B.PER_DUGOODS_DISPANCY,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.VESSEL_NAME,
		A.VOYAGE_NUMBER,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,
		A.APPLICANT_CUSTNO,A.APPLICANT_ACC,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC,A.GOODSTYPE 
		FROM #DOCDISCREPANCY A
		INNER JOIN #TT1 B
		ON A.FOCALENTITY = B.FOCALENTITY
		WHERE B.TOTDISCREPANCY>=@TOTDISPNCYTHSLD AND B.PER_DISPNCY>=@PERDISPNCYTHSLD
		AND A.DISCREPANCYFLAG=1 



		--INSERT THE DISTINCT FOCALENTITY AND ALERTING CONDITIONS INTO A NEW TABLE 	
		SELECT  DISTINCT FOCALENTITY,ALERTINGCONDITION INTO #TT2 FROM #DOCDISCREPANCYALERTS
			

		--INSERT THE FOCALENTITY AND ALL THE CORRESPONDING ALERTED CONDITIONS INTO A NEW TABLE (ALERTING CONDITIONS ARE DISPLAYED IN A SINGLE FIELD FOR A GIVEN FOCALENTITY)
		SELECT C.FOCALENTITY,
			   LEFT(C.ALERTINGCONDITIONS,LEN(C.ALERTINGCONDITIONS)-1) AS 'ALERTINGCONDITIONS' INTO #TT3
		FROM
			(
					SELECT DISTINCT B.FOCALENTITY, 
						   (
								SELECT A.ALERTINGCONDITION + ',' AS [text()]
								FROM #TT2 A
								WHERE A.FOCALENTITY = B.FOCALENTITY
								ORDER BY A.FOCALENTITY
								FOR XML PATH ('')
							) ALERTINGCONDITIONS
						FROM #TT2 B
		)C



		--INSERT THE ID AND ALL THE CORRESPONDING ALERTED CONDITIONS INTO A NEW TABLE (ALERTING CONDITIONS ARE DISPLAYED IN A SINGLE FIELD FOR A GIVEN ID)
					SELECT C.ID,
				   LEFT(C.ALERTINGCONDITIONS,LEN(C.ALERTINGCONDITIONS)-1) AS 'ALERTINGCONDITIONS' INTO #HISTORICALTRANSACTIONDATA
			FROM
				(
						SELECT DISTINCT B.ID, 
							   (
									SELECT A.ALERTINGCONDITION + ',' AS [text()]
									FROM #DOCDISCREPANCYALERTS A
									WHERE A.ID = B.ID
									ORDER BY A.ID
									FOR XML PATH ('')
								) ALERTINGCONDITIONS
							FROM #DOCDISCREPANCYALERTS B
			)C



			--INSERT ALL THE TRANSACTIONS FROM THE CURRENT RUN TO THE HISTORICAL TRANSACTION TABLE FOR THE ALERTED CUSTOMERS
			INSERT INTO PBSA.DBO.HISTORICALTRANSACTIONS 
			SELECT DISTINCT [dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) as FOCALENTITY,A.LC_NUMBER,A.ID,'DOCUMENTARY_DISCREPANCIES' AS SCENARIO,D.ALERTINGCONDITIONS,A.OLD_LC_NUMBER,A.APPLICANT,A.APPLICANT_CUSTNO,
			A.LC_TYPE,A.DRAWING_TYPE,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.VESSEL_NAME,A.VOYAGE_NUMBER,A.DISCREPANCY,
			A.TRANS_DATE,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,REPLACE(LTRIM(RTRIM(A.ACT_GOODS_DESC)),' ','_') AS ACT_GOODS_DESC,[dbo].[BOC_ReplaceSpaces](C.GOODS_DISPLAY)
			AS GOODSTYPE,DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME)) AS ALERT_MONTH,
			GETDATE() AS RUN_MONTH
			FROM #DOCDISCREPANCY A
			INNER JOIN #TT3 B
			ON A.FOCALENTITY=B.FOCALENTITY
			LEFT JOIN #LCGOODSTYPE C
			ON CAST(A.GOODSTYPE AS FLOAT)=CAST(C.LC_GOODSTYPE_ID AS FLOAT)
			LEFT JOIN #HISTORICALTRANSACTIONDATA D
			ON A.ID=D.ID
			AND NOT EXISTS (SELECT 1 FROM HISTORICALTRANSACTIONS B WHERE B.ID=A.ID AND B.ALERTINGCONDITIONS=D.ALERTINGCONDITIONS
			AND B.ALERT_MONTH=DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))
			)



			--INSERT CUSTOMER LEVEL INFORMATION FOR ALERTED CUSTOMERS INTO A NEW TABLE
			SELECT [dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) as FOCALENTITY,ALERTINGCONDITIONS,B.TOTTRANSACTIONS,B.TOTDISCREPANCY,CAST(B.PER_DISPNCY AS VARCHAR)+'%' AS 'PER_DISPNCY',B.TOT_HRGOODS_DISPNCY ,CAST(B.PER_HRGOODS_DISPNCY AS VARCHAR)+'%' AS 'PER_HRGOODS_DISPNCY',
			B.TOT_DUGOODS_DISPANCY ,CAST(B.PER_DUGOODS_DISPANCY AS VARCHAR)+'%' AS 'PER_DUGOODS_DISPANCY' INTO PBSA.DBO.DOCDSPYALERTCUSTOMERS FROM #TT3 A
			INNER JOIN #TT1 B
			ON A.FOCALENTITY=B.FOCALENTITY --ORDER BY FOCALENTITY
	


			--INSERT TRANSACTION LEVEL INFORMATION FOR ALERTED CUSTOMERS INTO A NEW TABLE. 
			SELECT DISTINCT A.ID,[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) as FOCALENTITY,A.OLD_LC_NUMBER,A.LC_TYPE,A.DRAWING_TYPE,A.DISCREPANCY,A.HRGOODS,A.DUGOODS,A.TOTDISCREPANCY,
			A.TOTTRANSACTIONS,A.PER_DISPNCY,A.TOT_HRGOODS_DISPNCY ,A.PER_HRGOODS_DISPNCY ,A.TOT_DUGOODS_DISPANCY ,A.PER_DUGOODS_DISPANCY,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.VESSEL_NAME,
			A.VOYAGE_NUMBER,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,
			A.APPLICANT_CUSTNO,A.APPLICANT_ACC,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,REPLACE(LTRIM(RTRIM(A.ACT_GOODS_DESC)),' ', '_') AS ACT_GOODS_DESC,[dbo].[BOC_ReplaceSpaces](B.GOODS_DISPLAY) AS GOODSTYPE
			INTO PBSA.DBO.DOCDSPYALERTTRANSACTION FROM #DOCDISCREPANCYALERTS A 
			LEFT JOIN #LCGOODSTYPE B
			ON CAST(A.GOODSTYPE AS FLOAT)=CAST(B.LC_GOODSTYPE_ID AS FLOAT)
			

			--INSERT ALL THE TRANSACTIONS MADE BY THE ALERTED CUSTOMER DURING THE CURRENT PERIOD. ALSO FLAG THE ALERTED TRANSACTIONS 
			SELECT A.ID ,[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) as FOCALENTITY,A.OLD_LC_NUMBER,A.LC_TYPE ,A.DRAWING_TYPE ,A.COUNTRY_ORIG ,
				A.SHIP_FM_COUNTRY ,A.SHIP_TO_COUNTRY ,CAST(A.DOCUMENT_AMOUNT AS VARCHAR) AS DOCUMENT_AMOUNT,CAST(A.LC_AMOUNT AS VARCHAR) AS LC_AMOUNT,A.LC_NUMBER ,A.TRANS_DATE,
				REPLACE(LTRIM(RTRIM(A.APPLICANT)),' ', '_') AS APPLICANT ,CAST(A.APPLICANT_CUSTNO AS VARCHAR) AS APPLICANT_CUSTNO ,CAST(A.APPLICANT_ACC AS VARCHAR) AS APPLICANT_ACC,REPLACE(LTRIM(RTRIM(A.BENEFICIARY)),' ', '_') AS BENEFICIARY ,
				CAST(A.BENEFICIARY_CUSTNO AS VARCHAR) AS BENEFICIARY_CUSTNO,CAST(A.BENEFICIARY_ACC AS VARCHAR) AS BENEFICIARY_ACC,REPLACE(LTRIM(RTRIM(A.ACT_GOODS_DESC)),' ', '_') AS ACT_GOODS_DESC,[dbo].[BOC_ReplaceSpaces](B.GOODS_DISPLAY) AS GOODSTYPE,
				CAST(A.DISCREPANCY AS VARCHAR) AS DISCREPANCYREMARKS, CAST(A.DISCREPANCYFLAG AS VARCHAR) AS DISCREPANCYFLAG, ISNULL(TR.HRGOODS,0) AS HRGOODS, ISNULL(TR.DUGOODS,0) AS DUGOODS 
				INTO PBSA.DBO.DOCDISCREPANCYMAPDATA
				FROM #DOCDISCREPANCY A
				LEFT JOIN DOCDSPYALERTTRANSACTION TR
				ON A.ID=TR.ID 
			LEFT JOIN #LCGOODSTYPE B
			ON CAST(A.GOODSTYPE AS FLOAT)=CAST(B.LC_GOODSTYPE_ID AS FLOAT)



			INSERT INTO PBSA.DBO.CONSOLIDATEDALERTS
			SELECT  'DOCUMENTARY_DISCREPANCIES' AS ALERT_NAME,ALERTINGCONDITIONS,[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) as FOCALENTITY,CUSTOMERNAME,DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME)),GETDATE()  FROM DOCDSPYALERTCUSTOMERS A
			LEFT JOIN 
			(SELECT FOCALENTITY, MAX(CUSTOMERNAME) AS CUSTOMERNAME FROM 
			(SELECT FOCALENTITY, 
			CASE 
			WHEN FOCALENTITY=CAST(BENEFICIARY_CUSTNO AS VARCHAR) THEN BENEFICIARY
			WHEN FOCALENTITY=CAST(APPLICANT_CUSTNO AS VARCHAR) THEN APPLICANT 
			WHEN UPPER(LTRIM(RTRIM(FOCALENTITY)))=UPPER(LTRIM(RTRIM(BENEFICIARY))) THEN BENEFICIARY 
			WHEN UPPER(LTRIM(RTRIM(FOCALENTITY)))=UPPER(LTRIM(RTRIM(APPLICANT))) THEN APPLICANT 
			END AS CUSTOMERNAME FROM DOCDSPYALERTTRANSACTION)B 
			GROUP BY FOCALENTITY) C
			ON A.FOCALENTITY=C.FOCALENTITY
			WHERE NOT EXISTS (SELECT 1 FROM CONSOLIDATEDALERTS B WHERE  B.ALERTING_CONDITION=A.ALERTINGCONDITIONS
			AND B.ALERT_MONTH= DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))
			AND  B.FOCALENTITY=A.FOCALENTITY)

END










