USE [Pbsa]
GO
/****** Object:  StoredProcedure [dbo].[BOC_VESSELSHIPMENT_INFODISCREPANCY]    Script Date: 12/18/2016 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		DANESHWARI
-- CREATE DATE: 08/16/16
-- DESCRIPTION: THIS SCENARIO IDENTIFIES POTENTIAL DISCREPENCIES 
--              IN VESSEL INFORMATION  PROVIDED TO TRADE SERVICES.
--				THERE ARE 4 PARAMETERS CONSIDERED IN THIS SCENARIO: VESSEL NAME, VOYAGE NUMBER, SHIP_FM_COUNTRY, SHIP_TO_COUNTRY.
--				FOR ALL THE TRANSACTIONS ACROSS ALL THE CUSTOMERS IN A GIVEN MONTH, ALERTS ARE GENERATED WHEN 3 OF THESE PARAMETERS 
--				ARE CONSTANT WHILE ONE PARAMETER VARIES 
-- =============================================

CREATE PROCEDURE [dbo].[BOC_VESSELSHIPMENT_INFODISCREPANCY]

	--INPUT PARAMETERS THAT CAN BE PROVIDED WHILE RUNNING THE STORED PROCEDURE
	@CURRPERIODSTART			INT ,		-- START DATE OF CURRENT MONITORING MONTH (FORMAT:YYYYMMDD)
	@CURRPERIODEND				INT 		-- END DATE OF CURRENT MONITORING MONTH (FORMAT:YYYYMMDD)
	
AS
BEGIN

	-- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM INTERFERING WITH SELECT STATEMENTS. 
	-- THIS PROVIDES SIGNIFICANT BOOST IN PERFORMANCE
	SET NOCOUNT ON;


		--DELETE THE TABLES IF THEY ALREADY EXIST. THESE TABLE HOLD THE ALERT INFORMATION GENERAETED FROM PRIOR RUN
		IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'DISCPNCYSHPMNTTRANSACTIONS')
					BEGIN
						DROP TABLE PBSA.DBO.DISCPNCYSHPMNTTRANSACTIONS 
					END


		IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'VSSLSHMTDSPYALERTCUSTOMERS')
					BEGIN
						DROP TABLE PBSA.DBO.VSSLSHMTDSPYALERTCUSTOMERS 
					END


		IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'SHIPPINGDISCREPANCYGEOMAPDATA')
					BEGIN
						DROP TABLE PBSA.DBO.SHIPPINGDISCREPANCYGEOMAPDATA 
					END

		--GET THE LATEST RECORDS FROM THE TABLE: MULTI_DRAWINGS_HIST
		SELECT A.ID,DRAWING_TYPE, COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,DOCUMENT_AMOUNT,
		DOC_RECE_DT,VALUE_DATE,DATE_TIME,ACT_GOODS_DESC,GOODSTYPE,VESSEL_NAME,VOYAGE_NUMBER,DISCREPANCY,a.ASOFDATE
		INTO #MULTI_DRAWINGS_HIST 
		FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_DRAWINGS_HIST A
		INNER JOIN (SELECT B.ID, MAX(B.ASOFDATE) 
					FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_DRAWINGS_HIST B 
					GROUP BY B.ID) TEMP(ID,ASOFDATE)
		ON A.ID=TEMP.ID
		WHERE A.ASOFDATE=TEMP.ASOFDATE



		--GET THE LATEST RECORDS FROM THE TABLE: MULTI_LC_HIST
		SELECT a.ID,OLD_LC_NUMBER,LC_TYPE,LC_AMOUNT,LC_NUMBER,ISSUE_DATE
		,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,	BENEFICIARY_CUSTNO,
		BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE,a.ASOFDATE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER
		INTO #MULTI_LC_HIST 
		FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_LC_HIST A
		INNER JOIN		(SELECT B.ID,MAX(B.ASOFDATE) 
						FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_LC_HIST B 
						GROUP BY B.ID) TEMP(ID,ASOFDATE)
		ON A.ID=TEMP.ID
		WHERE A.ASOFDATE=TEMP.ASOFDATE




			--UPDATE QUERY: REPLACE [F_BOC_LCGOODSTYPE_CODE] BY THE IDENTICAL TABLE FROM US_DATA_MART. CONNECT TO THE TABLE USING LINKED SERVER OBJECT
			SELECT * INTO #LCGOODSTYPE
			FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.[F_BOC_LCGOODSTYPE_CODE]

			--UPDATES GOODSTYPE FOR HISTORICAL TRANSACTIONS SINCE 2016 FEB FOR THE DRAWINGS RECORDS
			IF(getdate()<cast(cast(20170502 as char(8)) as datetime))
			UPDATE #MULTI_DRAWINGS_HIST
			SET GOODSTYPE=(SELECT A.LC_GOODSTYPE_ID FROM #LCGOODSTYPE A WHERE
			UPPER(LTRIM(RTRIM(A.GOODS_DISPLAY))) = (SELECT UPPER(LTRIM(RTRIM(A.GOODS_TYPE))) FROM GOODSREFID A WHERE
			UPPER(LTRIM(RTRIM(#MULTI_DRAWINGS_HIST.ACT_GOODS_DESC)))=UPPER(LTRIM(RTRIM(A.ACT_GOODS_DESC ))) COLLATE DATABASE_DEFAULT GROUP BY A.GOODS_TYPE) COLLATE DATABASE_DEFAULT
			) WHERE  #MULTI_DRAWINGS_HIST.GOODSTYPE IS NULL and #MULTI_DRAWINGS_HIST.DOC_RECE_DT>20160331 ;


			--UPDATES GOODSTYPE FOR HISTORICAL TRANSACTIONS SINCE 2016 FEB FOR THE LC RECORDS
			IF(getdate()<cast(cast(20170502 as char(8)) as datetime))
			UPDATE #MULTI_LC_HIST
			SET GOODSTYPE=(SELECT A.LC_GOODSTYPE_ID FROM #LCGOODSTYPE A WHERE
			UPPER(LTRIM(RTRIM(A.GOODS_DISPLAY))) = (SELECT UPPER(LTRIM(RTRIM(A.GOODS_TYPE))) FROM GOODSREFID A WHERE
			UPPER(LTRIM(RTRIM(#MULTI_LC_HIST.ACT_GOODS_DESC)))=UPPER(LTRIM(RTRIM(A.ACT_GOODS_DESC )))   COLLATE DATABASE_DEFAULT GROUP BY A.GOODS_TYPE) COLLATE DATABASE_DEFAULT
			)WHERE #MULTI_LC_HIST.GOODSTYPE IS NULL AND #MULTI_LC_HIST.ISSUE_DATE > 20160331;

	--CREATE TABLE TO HOLD ALL THE RECORDS BELONGING TO THE CURRENT PERIOD
		CREATE TABLE  #SHIPMENT_DISCREPANCY
		(
		ID						VARCHAR(25),
		FOCALENTITY				VARCHAR(50),
		OLD_LC_NUMBER			VARCHAR(20),
		SHIPMENT_DISCREPANCY	VARCHAR (20),
		LC_TYPE					VARCHAR(10),
		DRAWING_TYPE			VARCHAR(2),
		VESSEL_NAME				VARCHAR(50),
		VOYAGE_NUMBER			VARCHAR(50),
		COUNTRY_ORIG			VARCHAR(9),
		SHIP_FM_COUNTRY			VARCHAR(35),
		SHIP_TO_COUNTRY			VARCHAR(9),
		DOCUMENT_AMOUNT			DECIMAL(19,2),
		LC_AMOUNT				DECIMAL(19,2),
		LC_NUMBER				VARCHAR(16),
		--NOTE: TRANS_DATE IS POPULATED BY THE FIELD 'ISSUE_DATE' OR 'DOC_RECE_DT' DEPENDING ON THE LC TYPE
		TRANS_DATE				VARCHAR(8), 
		DOC_RECE_DT				VARCHAR(8),
		VALUE_DATE				VARCHAR(8),
		DATE_TIME				VARCHAR(8),
		APPLICANT				VARCHAR(MAX),
		APPLICANT_CUSTNO		VARCHAR(10),
		APPLICANT_ACC			INT,
		BENEFICIARY				VARCHAR(MAX),
		BENEFICIARY_CUSTNO		INT,
		BENEFICIARY_ACC			INT,
		GOODSTYPE				VARCHAR(100)
	)




		--INSERT THE REQUIRED FIELDS INTO TABLE #MULTIPLEINVOICE FOR THE TRANSACTIONS WHOSE LC TYPES DO NOT BEGIN WITH 'C' (i.e. lc types other than collections)
		INSERT INTO #SHIPMENT_DISCREPANCY (ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,VESSEL_NAME,VOYAGE_NUMBER,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,
		DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,
		BENEFICIARY_CUSTNO,BENEFICIARY_ACC,GOODSTYPE )
		SELECT MD.ID,
		CASE WHEN (ML.LC_TYPE LIKE 'I%' OR ML.LC_TYPE LIKE 'SO%')
			THEN
				CASE 
					WHEN APPLICANT_CUSTNO IS NOT NULL THEN APPLICANT_CUSTNO 
					WHEN APPLICANT_CUSTNO IS NULL AND APPLICANT IS NOT NULL THEN APPLICANT
					ELSE ML.ID  
				END

		ELSE 
				CASE 
					WHEN BENEFICIARY_CUSTNO IS NOT NULL THEN BENEFICIARY_CUSTNO 
					WHEN BENEFICIARY_CUSTNO IS NULL AND BENEFICIARY IS NOT NULL THEN BENEFICIARY
					ELSE ML.ID  
				END
		END,
		ML.OLD_LC_NUMBER,ML.LC_TYPE,MD.DRAWING_TYPE, MD.VESSEL_NAME,
			CASE 
				WHEN UPPER(LTRIM(RTRIM(MD.VOYAGE_NUMBER))) LIKE 'V.%' THEN LTRIM(RTRIM(SUBSTRING(LTRIM(RTRIM(MD.VOYAGE_NUMBER)),3,LEN(LTRIM(RTRIM(MD.VOYAGE_NUMBER))))))	
				WHEN UPPER(LTRIM(RTRIM(MD.VOYAGE_NUMBER))) LIKE 'V%' THEN LTRIM(RTRIM(SUBSTRING(LTRIM(RTRIM(MD.VOYAGE_NUMBER)),2,LEN(LTRIM(RTRIM(MD.VOYAGE_NUMBER))))))
				ELSE LTRIM(RTRIM(MD.VOYAGE_NUMBER))
			END,
		MD.COUNTRY_ORIG,MD.SHIP_FM_COUNTRY,MD.SHIP_TO_COUNTRY,MD.DOCUMENT_AMOUNT,ML.LC_AMOUNT,ML.LC_NUMBER,
		MD.DOC_RECE_DT,MD.VALUE_DATE,MD.DATE_TIME,ML.APPLICANT,ML.APPLICANT_CUSTNO,ML.APPLICANT_ACC,ML.BENEFICIARY,
		ML.BENEFICIARY_CUSTNO,ML.BENEFICIARY_ACC,MD.GOODSTYPE
			FROM #MULTI_DRAWINGS_HIST MD
			INNER JOIN #MULTI_LC_HIST ML
			ON LEFT(MD.ID,12)=ML.ID
			--CONDITIONAL STATEMENTS FOR TRANSACTIONS
			WHERE ML.LC_TYPE IS NOT NULL 
			AND ML.LC_TYPE <> 'RUS' 
			AND ML.LC_TYPE NOT LIKE 'C%' AND ML.LC_TYPE NOT LIKE 'ET%'
			AND MD.DOC_RECE_DT BETWEEN @CURRPERIODSTART AND @CURRPERIODEND   
 			ORDER BY MD.ID



	--INSERT THE REQUIRED FIELDS INTO TABLE #MULTIPLEINVOICE FOR THE TRANSACTIONS WHOSE LC TYPES BEGIN WITH 'C' (COLLECTION LC TYPES)
	INSERT INTO #SHIPMENT_DISCREPANCY (ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,VESSEL_NAME,VOYAGE_NUMBER,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,
		DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,
		BENEFICIARY_CUSTNO,BENEFICIARY_ACC,GOODSTYPE ) 
		SELECT MD.ID,
				CASE 
					WHEN APPLICANT_CUSTNO IS NOT NULL THEN APPLICANT_CUSTNO 
					WHEN APPLICANT_CUSTNO IS NULL AND APPLICANT IS NOT NULL THEN APPLICANT
					ELSE ML.ID  
				END,
		ML.OLD_LC_NUMBER,ML.LC_TYPE,MD.DRAWING_TYPE,ML.VESSEL_NAME,ML.VOYAGE_NUMBER,ML.COUNTRY_ORIG,ML.SHIP_FM_COUNTRY,ML.SHIP_TO_COUNTRY,
		MD.DOCUMENT_AMOUNT,ML.LC_AMOUNT,ML.LC_NUMBER,ML.ISSUE_DATE,MD.VALUE_DATE,MD.DATE_TIME,ML.APPLICANT,ML.APPLICANT_CUSTNO,ML.APPLICANT_ACC,ML.BENEFICIARY,
		ML.BENEFICIARY_CUSTNO,ML.BENEFICIARY_ACC,ML.GOODSTYPE  
		FROM #MULTI_DRAWINGS_HIST MD
		INNER JOIN #MULTI_LC_HIST ML
		ON LEFT(MD.ID,12)=ML.ID
		WHERE  ML.ISSUE_DATE BETWEEN @CURRPERIODSTART AND @CURRPERIODEND   
  		AND ML.LC_TYPE LIKE 'C%' 
	


		--CREATE TABLE TO RECORD THE ALERTS
		CREATE TABLE #SHIPMENT_DISCREPANCY_ALERTS(
		ID						VARCHAR(25),
		FOCALENTITY				VARCHAR(50),
		OLD_LC_NUMBER			VARCHAR(20),
		SHIPMENT_DISCREPANCY	VARCHAR (200),
		LC_TYPE					VARCHAR(10),
		DRAWING_TYPE			VARCHAR(2),
		VESSEL_NAME				VARCHAR(50),
		VOYAGE_NUMBER			VARCHAR(50),
		COUNTRY_ORIG			VARCHAR(9),
		SHIP_FM_COUNTRY			VARCHAR(35),
		SHIP_TO_COUNTRY			VARCHAR(9),
		DOCUMENT_AMOUNT			DECIMAL(19,2),
		LC_AMOUNT				DECIMAL(19,2),
		LC_NUMBER				VARCHAR(16),
		TRANS_DATE				VARCHAR(8), 
		VALUE_DATE				VARCHAR(8),
		DATE_TIME				VARCHAR(8),
		APPLICANT				VARCHAR(200),
		APPLICANT_CUSTNO		VARCHAR(10),
		APPLICANT_ACC			INT,
		BENEFICIARY				VARCHAR(200),
		BENEFICIARY_CUSTNO		INT,
		BENEFICIARY_ACC			INT,
		GOODSTYPE				VARCHAR(100),
	)

	
		--INSERT THE TRANSACTIONS BELONGING TO MULTIPLE CUSTOMERS WITH IDENTICAL VALUES FOR VESSEL_NAME,VOYAGE_NUMBER,SHIP_FM_COUNTRY,COUNTRY_ORIG BUT DIFFERENT SHIP_TO_COUNTRY 
		INSERT INTO #SHIPMENT_DISCREPANCY_ALERTS 
		SELECT A.ID,A.FOCALENTITY,A.OLD_LC_NUMBER,'SHIP_TO_COUNTRY',A.LC_TYPE,A.DRAWING_TYPE,A.VESSEL_NAME,A.VOYAGE_NUMBER,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,
		A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,A.APPLICANT_CUSTNO,A.APPLICANT_ACC,A.BENEFICIARY,
		A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,A.GOODSTYPE
		FROM  #SHIPMENT_DISCREPANCY A
		INNER JOIN #SHIPMENT_DISCREPANCY B
		ON			UPPER(LTRIM(RTRIM(A.VESSEL_NAME)))		=	UPPER(LTRIM(RTRIM(B.VESSEL_NAME)))
		WHERE		UPPER(LTRIM(RTRIM(A.VOYAGE_NUMBER)))	=	UPPER(LTRIM(RTRIM(B.VOYAGE_NUMBER)))
		AND			UPPER(LTRIM(RTRIM(A.SHIP_FM_COUNTRY)))	=	UPPER(LTRIM(RTRIM(B.SHIP_FM_COUNTRY)))
		AND			UPPER(LTRIM(RTRIM(A.COUNTRY_ORIG)))		=	UPPER(LTRIM(RTRIM(B.COUNTRY_ORIG)))
		AND			UPPER(LTRIM(RTRIM(A.SHIP_TO_COUNTRY)))	<>	UPPER(LTRIM(RTRIM(B.SHIP_TO_COUNTRY))) 
		AND			A.SHIP_TO_COUNTRY<>'ZZ' AND A.SHIP_TO_COUNTRY IS NOT NULL
		AND			B.SHIP_TO_COUNTRY<>'ZZ'  AND B.SHIP_TO_COUNTRY IS NOT NULL
		AND			A.FOCALENTITY<> B.FOCALENTITY 
		



		--INSERT THE TRANSACTIONS BELONGING TO MULTIPLE CUSTOMERS WITH IDENTICAL VALUES FOR VESSEL_NAME,VOYAGE_NUMBER,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY BUT DIFFERENT COUNTRY_ORIG  
		INSERT INTO #SHIPMENT_DISCREPANCY_ALERTS 
		SELECT A.ID,A.FOCALENTITY,A.OLD_LC_NUMBER,'COUNTRY_ORIG',A.LC_TYPE,A.DRAWING_TYPE,A.VESSEL_NAME,A.VOYAGE_NUMBER,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,
		A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,A.APPLICANT_CUSTNO,A.APPLICANT_ACC,A.BENEFICIARY,
		A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,A.GOODSTYPE
		FROM  #SHIPMENT_DISCREPANCY A
		INNER JOIN #SHIPMENT_DISCREPANCY B
		ON			UPPER(LTRIM(RTRIM(A.VESSEL_NAME)))		=	UPPER(LTRIM(RTRIM( B.VESSEL_NAME))) 
		WHERE		UPPER(LTRIM(RTRIM(A.VOYAGE_NUMBER)))	=	UPPER(LTRIM(RTRIM( B.VOYAGE_NUMBER)))
		AND			UPPER(LTRIM(RTRIM(A.SHIP_FM_COUNTRY)))	=	UPPER(LTRIM(RTRIM( B.SHIP_FM_COUNTRY)))
		AND			UPPER(LTRIM(RTRIM(A.COUNTRY_ORIG)))		<>	UPPER(LTRIM(RTRIM( B.COUNTRY_ORIG))) 
		AND			UPPER(LTRIM(RTRIM(A.COUNTRY_ORIG)))<>'ZZ' AND A.COUNTRY_ORIG IS NOT NULL  
		AND			UPPER(LTRIM(RTRIM(B.COUNTRY_ORIG)))<>'ZZ' AND B.COUNTRY_ORIG IS NOT NULL 
		AND			UPPER(LTRIM(RTRIM(A.SHIP_TO_COUNTRY)))	=	UPPER(LTRIM(RTRIM(B.SHIP_TO_COUNTRY)))
		AND			A.FOCALENTITY<>B.FOCALENTITY


		--INSERT THE TRANSACTIONS BELONGING TO MULTIPLE CUSTOMERS WITH IDENTICAL VALUES FOR VESSEL_NAME,VOYAGE_NUMBER,COUNTRY_ORIG,SHIP_TO_COUNTRY BUT DIFFERENT SHIP_FM_COUNTRY  
		INSERT INTO #SHIPMENT_DISCREPANCY_ALERTS 
		SELECT A.ID,A.FOCALENTITY,A.OLD_LC_NUMBER,'SHIP_FM_COUNTRY',A.LC_TYPE,A.DRAWING_TYPE,A.VESSEL_NAME,A.VOYAGE_NUMBER,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,
		A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,A.APPLICANT_CUSTNO,A.APPLICANT_ACC,A.BENEFICIARY,
		A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,A.GOODSTYPE
		FROM  #SHIPMENT_DISCREPANCY A
		INNER JOIN #SHIPMENT_DISCREPANCY B
		ON			UPPER(LTRIM(RTRIM(A.VESSEL_NAME)))		=	UPPER(LTRIM(RTRIM( B.VESSEL_NAME))) 
		WHERE		UPPER(LTRIM(RTRIM(A.VOYAGE_NUMBER)))	=	UPPER(LTRIM(RTRIM( B.VOYAGE_NUMBER)))
		AND			UPPER(LTRIM(RTRIM(A.SHIP_FM_COUNTRY)))	<>	UPPER(LTRIM(RTRIM( B.SHIP_FM_COUNTRY))) 
		AND			UPPER(LTRIM(RTRIM(A.SHIP_FM_COUNTRY)))	<>	'ZZ' AND A.SHIP_FM_COUNTRY IS NOT NULL  
		AND			UPPER(LTRIM(RTRIM(B.SHIP_FM_COUNTRY)))	<>	'ZZ' AND		B.SHIP_FM_COUNTRY IS NOT NULL  
		AND			UPPER(LTRIM(RTRIM(A.COUNTRY_ORIG)))		=	UPPER(LTRIM(RTRIM( B.COUNTRY_ORIG)))
		AND			UPPER(LTRIM(RTRIM(A.SHIP_TO_COUNTRY)))	=	UPPER(LTRIM(RTRIM( B.SHIP_TO_COUNTRY)))
		AND			A.FOCALENTITY<>B.FOCALENTITY 




		--INSERT THE TRANSACTIONS BELONGING TO MULTIPLE CUSTOMERS WITH IDENTICAL VALUES FOR VESSEL_NAME BUT DIFFERENT VOYAGE_NUMBER
		INSERT INTO #SHIPMENT_DISCREPANCY_ALERTS 
		SELECT A.ID,A.FOCALENTITY,A.OLD_LC_NUMBER,'VOYAGE_NUMBER',A.LC_TYPE,A.DRAWING_TYPE,A.VESSEL_NAME,A.VOYAGE_NUMBER,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,
		A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,A.APPLICANT_CUSTNO,A.APPLICANT_ACC,A.BENEFICIARY,
		A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,A.GOODSTYPE
		FROM  #SHIPMENT_DISCREPANCY A
		INNER JOIN #SHIPMENT_DISCREPANCY B
		ON			UPPER(LTRIM(RTRIM(A.VOYAGE_NUMBER)))	<>	UPPER(LTRIM(RTRIM( B.VOYAGE_NUMBER)))
		WHERE		UPPER(LTRIM(RTRIM(A.VOYAGE_NUMBER)))<>'ZZ' AND A.VOYAGE_NUMBER IS NOT NULL 
		AND			UPPER(LTRIM(RTRIM(B.VOYAGE_NUMBER)))<>'ZZ' AND  B.VOYAGE_NUMBER IS NOT NULL
		AND			A.FOCALENTITY=B.FOCALENTITY
		AND			UPPER(LTRIM(RTRIM(A.VESSEL_NAME)))=UPPER(LTRIM(RTRIM( B.VESSEL_NAME))) 
		AND			UPPER(LTRIM(RTRIM(A.VESSEL_NAME)))<>'ZZ' AND A.VESSEL_NAME IS NOT NULL  
		AND			UPPER(LTRIM(RTRIM(B.VESSEL_NAME)))<>'ZZ' AND  B.VESSEL_NAME IS NOT NULL
		AND			A.TRANS_DATE=B.TRANS_DATE



		--SEGGREGATE THE ALERTED TRANSACTIONS BASED ON THE ALERTING CONDITION AND INSERT THEM TO INVIDUAL TABLES
		SELECT DISTINCT * INTO #VSSLSHMTDSPYSHIPFMCOUNTRY FROM #SHIPMENT_DISCREPANCY_ALERTS WHERE SHIPMENT_DISCREPANCY='SHIP_FM_COUNTRY' 
		SELECT DISTINCT * INTO #VSSLSHMTDSPYSHIPTOCOUNTRY FROM #SHIPMENT_DISCREPANCY_ALERTS WHERE SHIPMENT_DISCREPANCY='SHIP_TO_COUNTRY' 
		SELECT DISTINCT * INTO #VSSLSHMTDSPYORIGCOUNTRY FROM #SHIPMENT_DISCREPANCY_ALERTS WHERE SHIPMENT_DISCREPANCY='COUNTRY_ORIG' 
		SELECT DISTINCT * INTO #VSSLSHMTDSPYVOYAGENUMBER FROM #SHIPMENT_DISCREPANCY_ALERTS WHERE SHIPMENT_DISCREPANCY='VOYAGE_NUMBER'


		--CREATE A NEW TABLE TO HOLD ALL THE ALERTED TRANSACTIONS
		CREATE TABLE PBSA.DBO.DISCPNCYSHPMNTTRANSACTIONS(
				ID						VARCHAR(25),
				FOCALENTITY				VARCHAR(50),
				GROUP_NO				VARCHAR(5),
				OLD_LC_NUMBER			VARCHAR(20),
				SHIPMENT_DISCREPANCY	VARCHAR (200),
				LC_TYPE					VARCHAR(10),
				DRAWING_TYPE			VARCHAR(2),
				VESSEL_NAME				VARCHAR(50),
				VOYAGE_NUMBER			VARCHAR(50),
				COUNTRY_ORIG			VARCHAR(9),
				SHIP_FM_COUNTRY			VARCHAR(35),
				SHIP_TO_COUNTRY			VARCHAR(9),
				DOCUMENT_AMOUNT			DECIMAL(19,2),
				LC_AMOUNT				DECIMAL(19,2),
				LC_NUMBER				VARCHAR(16),
				TRANS_DATE				VARCHAR(8), 
				VALUE_DATE				VARCHAR(8),
				DATE_TIME				VARCHAR(8),
				APPLICANT				VARCHAR(MAX),
				APPLICANT_CUSTNO		VARCHAR(10),
				APPLICANT_ACC			INT,
				BENEFICIARY				VARCHAR(MAX),
				BENEFICIARY_CUSTNO		INT,
				BENEFICIARY_ACC			INT,
				GOODSTYPE				VARCHAR(100)

		)


		-- THE NEXT FOUR SNIPPETS ASSIGN GROUP NUMBERS TO THE ALERT PAIRS 
		INSERT INTO DISCPNCYSHPMNTTRANSACTIONS
		SELECT ID,[dbo].[BOC_ReplaceSpaces](FOCALENTITY)AS FOCALENTITY,DENSE_RANK() OVER (PARTITION BY  SHIPMENT_DISCREPANCY ORDER BY VESSEL_NAME, VOYAGE_NUMBER,COUNTRY_ORIG,SHIP_TO_COUNTRY) 
		AS GROUP_NO,OLD_LC_NUMBER,SHIPMENT_DISCREPANCY,LC_TYPE,DRAWING_TYPE,VESSEL_NAME,VOYAGE_NUMBER,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,
		VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,BENEFICIARY_CUSTNO,BENEFICIARY_ACC,GOODSTYPE  FROM #VSSLSHMTDSPYSHIPFMCOUNTRY


		INSERT INTO DISCPNCYSHPMNTTRANSACTIONS
		SELECT ID,[dbo].[BOC_ReplaceSpaces](FOCALENTITY)AS FOCALENTITY,DENSE_RANK() OVER (PARTITION BY  SHIPMENT_DISCREPANCY ORDER BY VESSEL_NAME, VOYAGE_NUMBER,COUNTRY_ORIG,SHIP_FM_COUNTRY ) 
		AS GROUP_NO,OLD_LC_NUMBER,SHIPMENT_DISCREPANCY,LC_TYPE,DRAWING_TYPE,VESSEL_NAME,VOYAGE_NUMBER,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,
		VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,BENEFICIARY_CUSTNO,BENEFICIARY_ACC,GOODSTYPE
		FROM #VSSLSHMTDSPYSHIPTOCOUNTRY


		INSERT INTO DISCPNCYSHPMNTTRANSACTIONS
		SELECT ID,[dbo].[BOC_ReplaceSpaces](FOCALENTITY)AS FOCALENTITY,DENSE_RANK() OVER (PARTITION BY  SHIPMENT_DISCREPANCY ORDER BY VESSEL_NAME, VOYAGE_NUMBER,SHIP_TO_COUNTRY,SHIP_FM_COUNTRY ) 
		AS GROUP_NO,OLD_LC_NUMBER,SHIPMENT_DISCREPANCY,LC_TYPE,DRAWING_TYPE,VESSEL_NAME,VOYAGE_NUMBER,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,
		VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,BENEFICIARY_CUSTNO,BENEFICIARY_ACC,GOODSTYPE FROM #VSSLSHMTDSPYORIGCOUNTRY



		INSERT INTO DISCPNCYSHPMNTTRANSACTIONS
		SELECT ID,[dbo].[BOC_ReplaceSpaces](FOCALENTITY)AS FOCALENTITY,DENSE_RANK() OVER (PARTITION BY  SHIPMENT_DISCREPANCY ORDER BY VESSEL_NAME, TRANS_DATE) 
		AS GROUP_NO,OLD_LC_NUMBER,SHIPMENT_DISCREPANCY,LC_TYPE,DRAWING_TYPE,VESSEL_NAME,VOYAGE_NUMBER,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,
		VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,BENEFICIARY_CUSTNO,BENEFICIARY_ACC,GOODSTYPE  FROM #VSSLSHMTDSPYVOYAGENUMBER



		--REPLACE GOODS TYPE ID WITH THE GOODS DISPLAY FIELD FROM #LCGOODS
		UPDATE DISCPNCYSHPMNTTRANSACTIONS
		SET GOODSTYPE=(SELECT [dbo].[BOC_ReplaceSpaces](A.GOODS_DISPLAY) FROM #LCGOODSTYPE A WHERE
		CAST(DISCPNCYSHPMNTTRANSACTIONS.GOODSTYPE AS FLOAT)=CAST(A.LC_GOODSTYPE_ID AS FLOAT))


		--INSERT CUSTOMER LEVEL INFORMATION FOR ALERTED CUSTOMERS INTO A NEW TABLE
		SELECT DISTINCT [dbo].[BOC_ReplaceSpaces](FOCALENTITY) AS FOCALENTITY, SHIPMENT_DISCREPANCY,GROUP_NO INTO  PBSA.DBO.VSSLSHMTDSPYALERTCUSTOMERS FROM DISCPNCYSHPMNTTRANSACTIONS

		--INSERT THE FOCALENTITY AND ALL THE CORRESPONDING ALERTED CONDITIONS INTO A NEW TABLE (ALERTING CONDITIONS ARE DISPLAYED IN A SINGLE FIELD FOR A GIVEN FOCALENTITY)
		 SELECT C.ID,LEFT(C.ALERTINGCONDITIONS,LEN(C.ALERTINGCONDITIONS)-1) AS 'ALERTINGCONDITIONS'  
					INTO #TT3 FROM
						(
									SELECT DISTINCT B.ID, 
									   (
											SELECT A.SHIPMENT_DISCREPANCY + ',' AS [text()]
											FROM DISCPNCYSHPMNTTRANSACTIONS A
											WHERE A.ID = B.ID
											ORDER BY A.FOCALENTITY
											FOR XML PATH ('')
										) ALERTINGCONDITIONS
									FROM DISCPNCYSHPMNTTRANSACTIONS B

			)C




			--INSERT TRANSACTION LEVEL INFORMATION FOR ALERTED CUSTOMERS INTO A NEW TABLE. 
			SELECT DISTINCT FOCALENTITY, SHIPMENT_DISCREPANCY INTO #TT4 FROM DISCPNCYSHPMNTTRANSACTIONS


			--INSERT THE ID AND ALL THE CORRESPONDING ALERTED CONDITIONS INTO A NEW TABLE (ALERTING CONDITIONS ARE DISPLAYED IN A SINGLE FIELD FOR A GIVEN TRANSACTION ID)
			 SELECT C.FOCALENTITY,LEFT(C.ALERTINGCONDITIONS,LEN(C.ALERTINGCONDITIONS)-1) AS 'ALERTINGCONDITIONS'  
				INTO #TT5 FROM
						(
							SELECT DISTINCT B.FOCALENTITY, 
							   (
									SELECT A.SHIPMENT_DISCREPANCY + ',' AS [text()]
									FROM #TT4 A
									WHERE A.FOCALENTITY = B.FOCALENTITY
									ORDER BY A.FOCALENTITY
									FOR XML PATH ('')
								) ALERTINGCONDITIONS
							FROM #TT4 B
						)C

			--INSERT ALL THE TRANSACTIONS FROM THE CURRENT RUN TO THE HISTORICAL TRANSACTION TABLE FOR THE ALERTED CUSTOMERS
			INSERT INTO PBSA.DBO.HISTORICALTRANSACTIONS 
			SELECT DISTINCT [dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) AS FOCALENTITY,A.LC_NUMBER,A.ID,'DISCREPANCY_IN_SHIPPING_INFORMATION' AS SCENARIO,D.ALERTINGCONDITIONS,A.OLD_LC_NUMBER,A.APPLICANT,A.APPLICANT_CUSTNO,
			A.LC_TYPE,A.DRAWING_TYPE,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.VESSEL_NAME,A.VOYAGE_NUMBER,E.DISCREPANCY,
			A.TRANS_DATE,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,REPLACE(LTRIM(RTRIM(E.ACT_GOODS_DESC)),' ','_') AS ACT_GOODS_DESC,[dbo].[BOC_ReplaceSpaces](C.GOODS_DISPLAY) 
			AS GOODSTYPE,DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME)) AS ALERT_MONTH,
			GETDATE() AS RUN_MONTH
			FROM #SHIPMENT_DISCREPANCY A
			INNER JOIN #TT5 B
			ON A.FOCALENTITY=B.FOCALENTITY
			LEFT JOIN #LCGOODSTYPE C
			ON CAST(A.GOODSTYPE AS FLOAT)=CAST(C.LC_GOODSTYPE_ID AS FLOAT)
			LEFT JOIN #TT3 D
			ON A.ID=D.ID
			LEFT JOIN #MULTI_DRAWINGS_HIST E
			ON A.ID=E.ID COLLATE DATABASE_DEFAULT
			AND NOT EXISTS (SELECT 1 FROM HISTORICALTRANSACTIONS B WHERE B.ID=A.ID AND B.ALERTINGCONDITIONS=D.ALERTINGCONDITIONS
			AND B.ALERT_MONTH=DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))
			)
			
			--INSERT ALL THE TRANSACTIONS MADE BY THE ALERTED CUSTOMER DURING THE CURRENT PERIOD. ALSO FLAG THE ALERTED TRANSACTIONS 
			SELECT A.ID,[dbo].[BOC_ReplaceSpaces](FOCALENTITY) AS FOCALENTITY,B.ALERTINGCONDITIONS, OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,VESSEL_NAME,VOYAGE_NUMBER,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,
			VALUE_DATE,A.DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,BENEFICIARY_CUSTNO,BENEFICIARY_ACC,[dbo].[BOC_ReplaceSpaces](C.GOODS_DISPLAY) AS GOODSTYPE
			INTO PBSA.DBO.SHIPPINGDISCREPANCYGEOMAPDATA
			FROM #SHIPMENT_DISCREPANCY A
			LEFT JOIN #TT3 B
			ON A.ID=B.ID
			LEFT JOIN #LCGOODSTYPE C
			ON CAST(A.GOODSTYPE AS FLOAT)=CAST(C.LC_GOODSTYPE_ID AS FLOAT)


			--INSERT CUSTOMER LEVEL INFORMATION W.R.T THE ALERTED CUSTOMERS IN THE HISTORICAL ALERTS TABLE
			INSERT INTO PBSA.DBO.CONSOLIDATEDALERTS
			SELECT distinct 'DISCREPANCY_IN_SHIPPING_INFORMATION' AS ALERT_NAME,ALERTINGCONDITIONS,[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) AS FOCALENTITY,CUSTOMERNAME,
			DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME)),GETDATE()  FROM #TT5 A
			LEFT JOIN 
			(SELECT FOCALENTITY, MAX(CUSTOMERNAME) AS CUSTOMERNAME FROM 
			(SELECT FOCALENTITY, 
			CASE 
			WHEN FOCALENTITY=CAST(BENEFICIARY_CUSTNO AS VARCHAR) THEN BENEFICIARY
			WHEN FOCALENTITY=CAST(APPLICANT_CUSTNO AS VARCHAR) THEN APPLICANT 
			WHEN UPPER(LTRIM(RTRIM(FOCALENTITY)))=UPPER(LTRIM(RTRIM(BENEFICIARY))) THEN BENEFICIARY 
			WHEN UPPER(LTRIM(RTRIM(FOCALENTITY)))=UPPER(LTRIM(RTRIM(APPLICANT))) THEN APPLICANT 
			END AS CUSTOMERNAME FROM #SHIPMENT_DISCREPANCY)B 
			GROUP BY FOCALENTITY) C
			ON A.FOCALENTITY=C.FOCALENTITY
			WHERE NOT EXISTS (SELECT 1 FROM CONSOLIDATEDALERTS B WHERE  B.ALERTING_CONDITION=ALERTINGCONDITIONS 
			AND B.ALERT_MONTH=DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))
			AND  B.FOCALENTITY=A.FOCALENTITY)


			  

END





