USE [Pbsa]
GO
/****** Object:  StoredProcedure [dbo].[BOC_CAROUSEL_TRANSACTIONS]    Script Date: 12/18/2016 09:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- AUTHOR:		DANESHWARI
-- CREATE DATE: 08/19/16
-- DESCRIPTION:	CAROUSEL TRANSACTIONS
--				THIS SCENARIO MONITORS FOR THE REPEATED IMPORT AND EXPORT OF A HIGH VALUE PRODUCT (I.E. A “CAROUSEL TRANSACTION”)

CREATE PROCEDURE [dbo].[BOC_CAROUSEL_TRANSACTIONS]
	--INPUT PARAMETERS THAT CAN BE PROVIDED WHILE RUNNING THE STORED PROCEDURE

	@LOOKBACKSTART				INT	,									--START DATE OF THE MONITORING PERIOD(FORMAT:YYYYMMDD)
	@CURRPERIODSTART			INT ,									--START DATE OF CURRENT MONTH (FORMAT:YYYYMMDD)
	@CURRPERIODEND				INT ,									--END DATE OF CURRENT MONTH (FORMAT:YYYYMMDD)
	@CASLHRGOODSTRADETHSLD		INT ,									--THRESHOLD FOR TOTAL NUMBER OF CAROUSEL TRADES INVOLVING HIGH RISK HIGH VALUE GOODS TYPE IN THE MONITORING PERIOD
	@CASLDUGOODSTRADETHSLD		INT ,									--THRESHOLD FOR TOTAL NUMBER OF CAROUSEL TRADES INVOLVING DUAL USE HIGH VALUE GOODS TYPE IN THE MONITORING PERIOD
	@CASLGOODSTRADETHSLD		INT ,									--THRESHOLD FOR TOTAL NUMBER OF CAROUSEL TRADES WITH HIGH VALUE GOODS TYPE IN THE MONITORING PERIOD
	@CASLHRDOCUMENTAMTTHSLD		DECIMAL(19,2),							--TTHRESHOLD FOR SUM OF DOCUMENT AMOUNT OF CAROUSEL TRADES INVOLVING HIGH RISK HIGH VALUE GOODS TYPE IN THE MONITORING PERIOD.
	@CASLDUDOCUMENTAMTTHSLD		DECIMAL(19,2),							--THRESHOLD FOR SUM OF DOCUMENT AMOUNT OF CAROUSEL TRADES INVOLVING DUAL USE HIGH VALUE GOODS TYPE IN THE MONITORING PERIOD
	@CASLDOCUMENTAMTTHSLD		DECIMAL(19,2)							--THRESHOLD FOR SUM OF DOCUMENT AMOUNT OF CAROUSEL TRADES HIGH VALUE GOODS TYPE IN THE MONITORING PERIOD

AS
BEGIN

	-- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM INTERFERING WITH SELECT STATEMENTS. 
	-- THIS PROVIDES SIGNFIICANT BOOST IN PERFORMANCE
		SET NOCOUNT ON;

	--DELETE THE TABLES IF THEY ALREADY EXIST. THESE TABLE HOLD THE ALERT INFORMATION GENERAETED FROM PRIOR RUN
	IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'CAROUSELALERTCUSTOMERS')
			BEGIN
				DROP TABLE PBSA.DBO.CAROUSELALERTCUSTOMERS
			END

	IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'CAROUSELALERTTRANSACTIONS')
			BEGIN
				DROP TABLE PBSA.DBO.CAROUSELALERTTRANSACTIONS
			END

	IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'CAROUSELMAPDATA')
			BEGIN
				DROP TABLE PBSA.DBO.CAROUSELMAPDATA
			END



	--GET THE LATEST RECORDS FROM THE TABLE: MULTI_LC_HIST
	SELECT a.ID,OLD_LC_NUMBER,LC_TYPE,LC_AMOUNT,LC_NUMBER,ISSUE_DATE
		,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,	BENEFICIARY_CUSTNO,
		BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE,a.ASOFDATE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER
		INTO #MULTI_LC_HIST 
		FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_LC_HIST A
		INNER JOIN (SELECT B.ID,MAX(B.ASOFDATE) 
						FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_LC_HIST B 
						GROUP BY B.ID) TEMP(ID,ASOFDATE)
		ON A.ID=TEMP.ID
		WHERE A.ASOFDATE=TEMP.ASOFDATE



	--GET THE LATEST RECORDS FROM THE TABLE: MULTI_DRAWINGS_HIST
	SELECT A.ID,DRAWING_TYPE, COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,DOCUMENT_AMOUNT,
		DOC_RECE_DT,VALUE_DATE,DATE_TIME,ACT_GOODS_DESC,GOODSTYPE,VESSEL_NAME,VOYAGE_NUMBER,DISCREPANCY,a.ASOFDATE
		INTO #MULTI_DRAWINGS_HIST 
		FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_DRAWINGS_HIST A
		INNER JOIN (SELECT B.ID, MAX(B.ASOFDATE) 
					FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_DRAWINGS_HIST B 
					GROUP BY B.ID) TEMP(ID,ASOFDATE)
		ON A.ID=TEMP.ID
		WHERE A.ASOFDATE=TEMP.ASOFDATE
	

	
	--UPDATE QUERY: REPLACE [F_BOC_LCGOODSTYPE_CODE] BY THE IDENTICAL TABLE FROM US_DATA_MART. CONNECT TO THE TABLE USING LINKED SERVER OBJECT
	SELECT * INTO #LCGOODSTYPE
	FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.[F_BOC_LCGOODSTYPE_CODE]

	--UPDATES GOODSTYPE FOR HISTORICAL TRANSACTIONS SINCE 2016 FEB FOR THE DRAWINGS RECORDS
	IF(getdate()<cast(cast(20170502 as char(8)) as datetime))
	UPDATE #MULTI_DRAWINGS_HIST
	SET GOODSTYPE=(SELECT A.LC_GOODSTYPE_ID FROM #LCGOODSTYPE A WHERE
	UPPER(LTRIM(RTRIM(A.GOODS_DISPLAY))) = (SELECT UPPER(LTRIM(RTRIM(A.GOODS_TYPE))) FROM GOODSREFID A WHERE
	UPPER(LTRIM(RTRIM(#MULTI_DRAWINGS_HIST.ACT_GOODS_DESC)))=UPPER(LTRIM(RTRIM(A.ACT_GOODS_DESC))) COLLATE DATABASE_DEFAULT GROUP BY A.GOODS_TYPE) COLLATE DATABASE_DEFAULT
	) WHERE  #MULTI_DRAWINGS_HIST.GOODSTYPE IS NULL and #MULTI_DRAWINGS_HIST.DOC_RECE_DT>20160331 ;



	--UPDATES GOODSTYPE FOR HISTORICAL TRANSACTIONS SINCE 2016 FEB FOR THE LC RECORDS
	IF(getdate()<cast(cast(20170502 as char(8)) as datetime))
	UPDATE #MULTI_LC_HIST
	SET GOODSTYPE=(SELECT A.LC_GOODSTYPE_ID FROM #LCGOODSTYPE A WHERE
	UPPER(LTRIM(RTRIM(A.GOODS_DISPLAY))) = (SELECT UPPER(LTRIM(RTRIM(A.GOODS_TYPE))) FROM GOODSREFID A WHERE
	UPPER(LTRIM(RTRIM(#MULTI_LC_HIST.ACT_GOODS_DESC)))=UPPER(LTRIM(RTRIM(A.ACT_GOODS_DESC )))   COLLATE DATABASE_DEFAULT GROUP BY A.GOODS_TYPE) COLLATE DATABASE_DEFAULT
	)WHERE #MULTI_LC_HIST.GOODSTYPE IS NULL AND #MULTI_LC_HIST.ISSUE_DATE > 20160331;



	--CREATE TABLE TO HOLD ALL THE RECORDS BELONGING TO THE MONITORING PERIOD
	CREATE TABLE #CAROUSELTRANSACTIONS
		(
		ID						VARCHAR(25),
		FOCALENTITY				VARCHAR(50),
		OLD_LC_NUMBER			VARCHAR(20),
		LC_TYPE					VARCHAR(50),
		HRGOODS					INT DEFAULT 0, 		--FLAG TO INDICATE HIGH RISK GOODS 
		DUGOODS					INT DEFAULT 0,		--FLAG TO INDICATE DUAL USE GOODS 
		DRAWING_TYPE			VARCHAR(2),
		COUNTRY_ORIG			VARCHAR(9),
		SHIP_FM_COUNTRY			VARCHAR(35),
		SHIP_TO_COUNTRY			VARCHAR(9),
		DOCUMENT_AMOUNT			DECIMAL(19,2),
		LC_AMOUNT				DECIMAL(19,2),
		LC_NUMBER				VARCHAR(16),
		--NOTE: TRANS_DATE IS POPULATED BY THE FIELD 'ISSUE_DATE' (COLLECTION LC TYPE) OR 'DOC_RECE_DT' (LC_TYPE OTHER THAN COLLECTIONS) 
		TRANS_DATE				VARCHAR(8), 
		VALUE_DATE				VARCHAR(8),
		DATE_TIME				VARCHAR(8),
		APPLICANT				VARCHAR(100),
		APPLICANT_CUSTNO		INT,
		APPLICANT_ACC			INT,
		BENEFICIARY				VARCHAR(100),
		BENEFICIARY_CUSTNO		INT,
		BENEFICIARY_ACC			INT,
		ACT_GOODS_DESC			VARCHAR(100),
		GOODSTYPE				VARCHAR(100)
		)



		--INSERT THE REQUIRED FIELDS INTO TABLE #CAROUSELTRANSACTIONS FOR THE TRANSACTIONS WHOSE LC TYPES DO NOT BEGIN WITH 'C' I.E. THE LC TYPES OTHER THAN COLLECTIONS
		INSERT INTO #CAROUSELTRANSACTIONS(ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,
		DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,BENEFICIARY_CUSTNO,
		BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE)
				
				SELECT MD.ID,
					   CASE WHEN (ML.LC_TYPE LIKE 'I%' OR ML.LC_TYPE LIKE 'SO%'  )
							THEN
								CASE 
									WHEN APPLICANT_CUSTNO IS NOT NULL THEN APPLICANT_CUSTNO 
									WHEN APPLICANT IS NOT NULL THEN APPLICANT
									ELSE ML.ID  
								END

						ELSE 
								CASE 
								WHEN BENEFICIARY_CUSTNO IS NOT NULL THEN BENEFICIARY_CUSTNO 
								WHEN BENEFICIARY IS NOT NULL THEN BENEFICIARY
								ELSE ML.ID  
								END
						END,
		ML.OLD_LC_NUMBER,ML.LC_TYPE,MD.DRAWING_TYPE, MD.COUNTRY_ORIG,MD.SHIP_FM_COUNTRY,MD.SHIP_TO_COUNTRY,MD.DOCUMENT_AMOUNT,ML.LC_AMOUNT,ML.LC_NUMBER,
		MD.DOC_RECE_DT,MD.VALUE_DATE,MD.DATE_TIME,ML.APPLICANT,ML.APPLICANT_CUSTNO,ML.APPLICANT_ACC,ML.BENEFICIARY,	ML.BENEFICIARY_CUSTNO,
		ML.BENEFICIARY_ACC,MD.ACT_GOODS_DESC,MD.GOODSTYPE
		FROM #MULTI_DRAWINGS_HIST MD
		INNER JOIN #MULTI_LC_HIST ML
		ON LEFT(MD.ID,12)=ML.ID
		WHERE ML.LC_TYPE IS NOT NULL 
		--CONDITIONAL STATEMENTS FOR TRANSACTIONS
		AND ML.LC_TYPE <> 'RUS' 
		AND ML.LC_TYPE NOT LIKE 'C%' AND ML.LC_TYPE NOT LIKE 'ET%'
		AND UPPER(MD.ACT_GOODS_DESC)<>'ZZ'
		AND MD.DOC_RECE_DT BETWEEN @LOOKBACKSTART AND @CURRPERIODEND	  
		ORDER BY MD.ID



	
		--INSERT THE REQUIRED FIELDS INTO TABLE #CAROUSELTRANSACTIONS FOR THE TRANSACTIONS WHOSE LC TYPES BEGIN WITH 'C' (COLLECTION LC TYPE)
		INSERT INTO #CAROUSELTRANSACTIONS (ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,
		DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,BENEFICIARY_CUSTNO,
		BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE)
				SELECT MD.ID,
						CASE 
							WHEN APPLICANT_CUSTNO IS NOT NULL THEN APPLICANT_CUSTNO 
							WHEN APPLICANT_CUSTNO IS NULL AND APPLICANT IS NOT NULL THEN APPLICANT
							ELSE ML.ID  
						END,
		ML.OLD_LC_NUMBER,ML.LC_TYPE,MD.DRAWING_TYPE,ML.COUNTRY_ORIG,ML.SHIP_FM_COUNTRY,ML.SHIP_TO_COUNTRY,
		MD.DOCUMENT_AMOUNT,ML.LC_AMOUNT,ML.LC_NUMBER,ML.ISSUE_DATE,MD.VALUE_DATE,MD.DATE_TIME,ML.APPLICANT,ML.APPLICANT_CUSTNO,ML.APPLICANT_ACC,ML.BENEFICIARY,
		ML.BENEFICIARY_CUSTNO,ML.BENEFICIARY_ACC,ML.ACT_GOODS_DESC,ML.GOODSTYPE
		FROM #MULTI_DRAWINGS_HIST MD
		INNER JOIN #MULTI_LC_HIST ML
		ON LEFT(MD.ID,12)=ML.ID
		WHERE  ML.ISSUE_DATE BETWEEN  @LOOKBACKSTART AND @CURRPERIODEND	  
		AND ML.LC_TYPE LIKE 'C%' 
		AND UPPER(ML.ACT_GOODS_DESC)<>'ZZ'


		--DELETE THE RECORDS OF CUSTOMERS WHO DID NOT HAVE ANY TRANSACTIONS IN THE CURRENT MONTH AND HAVE NOT TRANSACTED IN HIGH VALUE GOOD
		DELETE FROM #CAROUSELTRANSACTIONS 
		WHERE NOT EXISTS
		(SELECT 1 FROM #CAROUSELTRANSACTIONS  A WHERE TRANS_DATE 
		BETWEEN @CURRPERIODSTART AND @CURRPERIODEND 
		AND A.FOCALENTITY=#CAROUSELTRANSACTIONS.FOCALENTITY AND
		CAST(#CAROUSELTRANSACTIONS.GOODSTYPE AS FLOAT) IN ('10','50','70',
		'90','120','121','130',
		'140','190','350'))

		--FLAG HIGH RISK AND DUAL USE GOODS
		UPDATE #CAROUSELTRANSACTIONS
		SET HRGOODS=CASE WHEN (SELECT H_RISK FROM #LCGOODSTYPE A
		WHERE CAST(LC_GOODSTYPE_ID AS FLOAT)=CAST(GOODSTYPE AS FLOAT))='Y' THEN 1 ELSE 0 END,
		DUGOODS=CASE WHEN (SELECT DUAL_USE FROM #LCGOODSTYPE
		WHERE CAST(LC_GOODSTYPE_ID AS FLOAT)=CAST(GOODSTYPE AS FLOAT))='Y' THEN 1  ELSE 0 END


		--INSERT ALL THE IMPORT TYPE TRANSACTIONS FROM THE LOOKBACK PERIOD INTO A NEW TABLE
		SELECT * INTO #IMPORT_PWC_CAROUSELTRANSACTIONS 
		FROM #CAROUSELTRANSACTIONS
		WHERE (LC_TYPE LIKE 'I%' OR LC_TYPE LIKE 'SO%' OR LC_TYPE LIKE 'CI%') 
		AND TRANS_DATE BETWEEN @LOOKBACKSTART AND @CURRPERIODSTART

		--INSERTALL THE EXPORT TYPE TRANSACTIONS FROM THE LOOKBACK AND THE CURRENT PERIOD INTO A NEW TABLE
		SELECT * INTO #EXPORT_PWC_CAROUSELTRANSACTIONS 
		FROM #CAROUSELTRANSACTIONS
		WHERE (LC_TYPE LIKE 'E%' OR LC_TYPE LIKE 'CE%' OR LC_TYPE LIKE 'LE%' OR LC_TYPE LIKE 'SI%') 
		AND TRANS_DATE BETWEEN @LOOKBACKSTART AND @CURRPERIODEND  

		--INSERT THE IMPORT RECORDS FROM THE CURRENT PERIOD INTO A NEW TABLE
		SELECT * INTO #IMPORT_PWC_CURRCAROUSELTRANSACTIONS 
		FROM #CAROUSELTRANSACTIONS
		WHERE (LC_TYPE LIKE 'I%' OR LC_TYPE LIKE 'SO%' OR LC_TYPE LIKE 'CI%') AND 
		TRANS_DATE BETWEEN @CURRPERIODSTART  AND @CURRPERIODEND  


		--INSERT THE EXPORT RECORDS FROM THE CURRENT PERIOD INTO A NEW TABLE
		SELECT * INTO #EXPORT_PWC_CURRCAROUSELTRANSACTIONS 
		FROM #CAROUSELTRANSACTIONS
		WHERE (LC_TYPE LIKE 'E%' OR LC_TYPE LIKE 'CE%' OR LC_TYPE LIKE 'LE%' OR LC_TYPE LIKE 'SI%')
		 AND TRANS_DATE BETWEEN  @CURRPERIODSTART  AND @CURRPERIODEND  


		--CREATE TABLE TO HOLD THE CAROUSEL TRANSACTIONS
		CREATE TABLE #CURRCAROUSELTRANSACTIONS_ALERTS (
				ID					VARCHAR(25),
				FOCALENTITY			VARCHAR(50),
				OLD_LC_NUMBER		VARCHAR(20),
				LC_TYPE				VARCHAR(50),
				HRGOODS				INT DEFAULT 0,
				DUGOODS				INT DEFAULT 0,
				DRAWING_TYPE		VARCHAR(2),
				COUNTRY_ORIG		VARCHAR(9),
				SHIP_FM_COUNTRY		VARCHAR(35),
				SHIP_TO_COUNTRY		VARCHAR(9),
				DOCUMENT_AMOUNT		DECIMAL(19,2),
				LC_AMOUNT			DECIMAL(19,2),
				LC_NUMBER			VARCHAR(16),
				TRANS_DATE			VARCHAR(8), 
				VALUE_DATE			VARCHAR(8),
				DATE_TIME			VARCHAR(8),
				APPLICANT			VARCHAR(100),
				APPLICANT_CUSTNO	INT,
				APPLICANT_ACC		INT,
				BENEFICIARY			VARCHAR(100),
				BENEFICIARY_CUSTNO	INT,
				BENEFICIARY_ACC		INT,
				ACT_GOODS_DESC		VARCHAR(100),
				GOODSTYPE			VARCHAR(100)
		)


		--THE NEXT TWO SNIPPETS INSERT ALL THE CAROUSEL TRANSACTIONS FROM MONITORING PERIOD(GOODS THAT WERE EXPORTED IN THE CURRENT MONTH 
		--AND IMPORTED DURING OTHER MONTHS OF THE MONITORING PERIOD (LOOKBACK + CURRENT MONTH))
		INSERT INTO #CURRCAROUSELTRANSACTIONS_ALERTS
		SELECT DISTINCT A.* 
		FROM #IMPORT_PWC_CAROUSELTRANSACTIONS A, #EXPORT_PWC_CURRCAROUSELTRANSACTIONS B 
		WHERE A.FOCALENTITY=B.FOCALENTITY AND CAST(A.GOODSTYPE AS FLOAT)=CAST(B.GOODSTYPE AS FLOAT)  
		AND NOT EXISTS (SELECT 1 FROM #CURRCAROUSELTRANSACTIONS_ALERTS C WHERE A.ID=C.ID)


		INSERT INTO #CURRCAROUSELTRANSACTIONS_ALERTS
		SELECT DISTINCT B.* 
		FROM #IMPORT_PWC_CAROUSELTRANSACTIONS A, #EXPORT_PWC_CURRCAROUSELTRANSACTIONS B 
		WHERE A.FOCALENTITY=B.FOCALENTITY AND CAST(A.GOODSTYPE AS FLOAT)=CAST(B.GOODSTYPE AS FLOAT) 
		AND NOT EXISTS (SELECT 1 FROM #CURRCAROUSELTRANSACTIONS_ALERTS C WHERE B.ID=C.ID)


		--THE NEXT TWO SNIPPETS INSERT ALL THE CAROUSEL TRANSACTIONS FROM MONITORING PERIOD(GOODS THAT WERE IMPORTED IN THE CURRENT MONTH 
		--AND EXPORTED DURING OTHER MONTHS OF THE MONITORING PERIOD (LOOKBACK + CURRENT MONTH))
		INSERT INTO #CURRCAROUSELTRANSACTIONS_ALERTS
		SELECT DISTINCT A.* 
		FROM #EXPORT_PWC_CAROUSELTRANSACTIONS A, #IMPORT_PWC_CURRCAROUSELTRANSACTIONS B 
		WHERE A.FOCALENTITY=B.FOCALENTITY AND CAST(A.GOODSTYPE AS FLOAT)=CAST(B.GOODSTYPE AS FLOAT) 
		AND NOT EXISTS (SELECT 1 FROM #CURRCAROUSELTRANSACTIONS_ALERTS C WHERE A.ID=C.ID)


		INSERT INTO #CURRCAROUSELTRANSACTIONS_ALERTS
		SELECT DISTINCT B.* 
		FROM #EXPORT_PWC_CAROUSELTRANSACTIONS A, #IMPORT_PWC_CURRCAROUSELTRANSACTIONS B 
		WHERE A.FOCALENTITY=B.FOCALENTITY AND CAST(A.GOODSTYPE AS FLOAT)=CAST(B.GOODSTYPE AS FLOAT) 
		AND NOT EXISTS (SELECT 1 FROM #CURRCAROUSELTRANSACTIONS_ALERTS C WHERE B.ID=C.ID)


		--CREATE A TABLE TO HOLD THE THE COMPUATATION FOR THE FOCALENTITIES WHICH BREACH THE ALERTING CONDITIONS
		CREATE TABLE #TT1(
		FOCALENTITY			VARCHAR(100),
		TRANSCOUNT			INT,
		HRGOODS				INT,
		DUGOODS				INT,
		HRDOCUMENT_AMOUNT   DECIMAL(19,2),
		DUDOCUMENT_AMOUNT	DECIMAL(19,2),
		TOTDOCUMENT_AMOUNT	DECIMAL(19,2),
		ALERTINGCONDITION	VARCHAR(50)
		)

		--INSERT THE FOCALENTITIES INTO #TT1 AND COMPUTE THE TOTAL DOCUMENT AMOUNT AND NO OF CARAOUSEL TRADES W.R.T THE GOODS TYPE
		INSERT INTO #TT1(FOCALENTITY,TRANSCOUNT,HRGOODS,DUGOODS,TOTDOCUMENT_AMOUNT) 
		SELECT  FOCALENTITY,COUNT(FOCALENTITY),SUM(HRGOODS),SUM(DUGOODS),SUM(DOCUMENT_AMOUNT) 
		FROM #CURRCAROUSELTRANSACTIONS_ALERTS 
		GROUP BY FOCALENTITY 

		
		--COMPUTE THE SUM OF TOTAL DOCUMENT AMOUNT OF GOODS BELONGING TO HIGH RISK OR DUAL USE CATEGORY
		UPDATE #TT1
		SET HRDOCUMENT_AMOUNT =(SELECT SUM(DOCUMENT_AMOUNT) FROM #CURRCAROUSELTRANSACTIONS_ALERTS A WHERE A.HRGOODS=1 AND A.FOCALENTITY=#TT1.FOCALENTITY),
			DUDOCUMENT_AMOUNT  =(SELECT SUM(DOCUMENT_AMOUNT) FROM #CURRCAROUSELTRANSACTIONS_ALERTS A WHERE A.DUGOODS=1 AND A.FOCALENTITY=#TT1.FOCALENTITY)
	

		--CREATE TABLE TO CAPTURE THE ALERTED TRANSACTIONS
		CREATE TABLE #CURRCAROUSELTRANSACTIONS_ALERTS_2 (
				ALERTINGCONDTITION	VARCHAR(200),
				ID					VARCHAR(25),
				FOCALENTITY			VARCHAR(50),
				OLD_LC_NUMBER		VARCHAR(20),
				LC_TYPE				VARCHAR(50),
				HRGOODS				INT DEFAULT 0,
				DUGOODS				INT DEFAULT 0,
				DRAWING_TYPE		VARCHAR(2),
				COUNTRY_ORIG		VARCHAR(9),
				SHIP_FM_COUNTRY		VARCHAR(35),
				SHIP_TO_COUNTRY		VARCHAR(9),
				DOCUMENT_AMOUNT		DECIMAL(19,2),
				LC_AMOUNT			DECIMAL(19,2),
				LC_NUMBER			VARCHAR(16),
				TRANS_DATE			VARCHAR(8), 
				VALUE_DATE			VARCHAR(8),
				DATE_TIME			VARCHAR(8),
				APPLICANT			VARCHAR(100),
				APPLICANT_CUSTNO	INT,
				APPLICANT_ACC		INT,
				BENEFICIARY			VARCHAR(100),
				BENEFICIARY_CUSTNO	INT,
				BENEFICIARY_ACC		INT,
				ACT_GOODS_DESC		VARCHAR(100),
				GOODSTYPE			VARCHAR(100)
		)


		--INSERT THE RECORDS WHICH BREACH THE THRESHOLD FOR HIGH RISK GOODS
		INSERT INTO #CURRCAROUSELTRANSACTIONS_ALERTS_2 
		SELECT 'CSLHRGOODS',A.* FROM #CURRCAROUSELTRANSACTIONS_ALERTS A
		INNER JOIN #TT1 B
		ON A.FOCALENTITY=B.FOCALENTITY
		WHERE B.HRGOODS>=@CASLHRGOODSTRADETHSLD AND B.HRDOCUMENT_AMOUNT >= @CASLHRDOCUMENTAMTTHSLD
		AND A.HRGOODS=1

		
		--INSERT THE RECORDS WHICH BREACH THE THRESHOLD FOR DUAL USE GOODS
		INSERT INTO #CURRCAROUSELTRANSACTIONS_ALERTS_2 
		SELECT 'CSLDUGOODS',A.* FROM #CURRCAROUSELTRANSACTIONS_ALERTS A
		INNER JOIN #TT1 B
		ON A.FOCALENTITY=B.FOCALENTITY
		WHERE B.DUGOODS>=@CASLDUGOODSTRADETHSLD AND B.DUDOCUMENT_AMOUNT > =@CASLDUDOCUMENTAMTTHSLD
		AND A.DUGOODS=1


		--INSERT THE RECORDS WHICH BREACH THE THRESHOLD FOR ALL GOODS
		INSERT INTO #CURRCAROUSELTRANSACTIONS_ALERTS_2 
		SELECT 'CSLALLGOODS',A.* FROM #CURRCAROUSELTRANSACTIONS_ALERTS A
		INNER JOIN #TT1 B
		ON A.FOCALENTITY=B.FOCALENTITY
		WHERE B.TRANSCOUNT>=@CASLGOODSTRADETHSLD AND B.TOTDOCUMENT_AMOUNT>=@CASLDOCUMENTAMTTHSLD;


		--INSERT THE DISTINCT FOCALENTITY AND ALERTING CONDITIONS INTO A NEW TABLE 	
		SELECT DISTINCT FOCALENTITY,ALERTINGCONDTITION INTO #TT2 FROM #CURRCAROUSELTRANSACTIONS_ALERTS_2


		--INSERT THE FOCALENTITY AND ALL THE CORRESPONDING ALERTED CONDITIONS INTO A NEW TABLE (ALERTING CONDITIONS ARE DISPLAYED IN A SINGLE FIELD FOR A GIVEN FOCALENTITY)
		SELECT C.FOCALENTITY,
       LEFT(C.ALERTINGCONDITIONS,LEN(C.ALERTINGCONDITIONS)-1) AS 'ALERTINGCONDITIONS' INTO #TT3
		FROM
			(
					SELECT DISTINCT B.FOCALENTITY, 
						   (
								SELECT  A.ALERTINGCONDTITION + ',' AS [text()]
								FROM #TT2 A
								WHERE A.FOCALENTITY = B.FOCALENTITY
								ORDER BY A.FOCALENTITY
								FOR XML PATH ('')
							) ALERTINGCONDITIONS
						FROM #TT2 B
				)C
				
				--INSERT THE ID AND ALL THE CORRESPONDING ALERTED CONDITIONS INTO A NEW TABLE (ALERTING CONDITIONS ARE DISPLAYED IN A SINGLE FIELD FOR A GIVEN ID)
							SELECT C.ID,
						   LEFT(C.ALERTINGCONDITIONS,LEN(C.ALERTINGCONDITIONS)-1) AS 'ALERTINGCONDITIONS' INTO #HISTORICALTRANSACTIONDATA
					FROM
						(
								SELECT DISTINCT B.ID, 
									   (
											SELECT A.ALERTINGCONDTITION + ',' AS [text()]
											FROM #CURRCAROUSELTRANSACTIONS_ALERTS_2 A
											WHERE A.ID = B.ID
											ORDER BY A.ID
											FOR XML PATH ('')
										) ALERTINGCONDITIONS
									FROM #CURRCAROUSELTRANSACTIONS_ALERTS_2 B
					)C
		
		
			--INSERT ALL THE TRANSACTIONS FROM THE CURRENT RUN TO THE HISTORICAL TRANSACTION TABLE FOR THE ALERTED CUSTOMERS
			INSERT INTO HISTORICALTRANSACTIONS
			SELECT DISTINCT [dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) as FOCALENTITY,A.LC_NUMBER,A.ID,'CAROUSEL_ALERTS' AS SCENARIO,D.ALERTINGCONDITIONS,
			A.OLD_LC_NUMBER,A.APPLICANT,A.APPLICANT_CUSTNO,	A.LC_TYPE,A.DRAWING_TYPE,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,
			A.SHIP_TO_COUNTRY,E.VESSEL_NAME,E.VOYAGE_NUMBER,E.DISCREPANCY,A.TRANS_DATE,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,REPLACE(LTRIM(RTRIM(A.ACT_GOODS_DESC)),' ','_') 
			AS ACT_GOODS_DESC,[dbo].[BOC_ReplaceSpaces](C.GOODS_DISPLAY)AS GOODSTYPE,
			DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME)) AS ALERT_MONTH,
			GETDATE() AS RUN_MONTH
			FROM #CAROUSELTRANSACTIONS A
			INNER JOIN #TT3 B
			ON A.FOCALENTITY=B.FOCALENTITY
			LEFT JOIN #LCGOODSTYPE C
			ON CAST(A.GOODSTYPE AS FLOAT)=CAST(C.LC_GOODSTYPE_ID AS FLOAT)
			LEFT JOIN #HISTORICALTRANSACTIONDATA D
			ON A.ID=D.ID
			LEFT JOIN #MULTI_DRAWINGS_HIST E
			ON A.ID=E.ID COLLATE DATABASE_DEFAULT
			AND NOT EXISTS (SELECT 1 FROM HISTORICALTRANSACTIONS B WHERE B.ID=A.ID AND B.ALERTINGCONDITIONS=D.ALERTINGCONDITIONS
			AND B.ALERT_MONTH=DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))
			)
			


		--INSERT CUSTOMER LEVEL INFORMATION FOR ALERTED CUSTOMERS INTO A NEW TABLE
		SELECT DISTINCT [dbo].[BOC_ReplaceSpaces](B.FOCALENTITY) as FOCALENTITY,A.ALERTINGCONDITIONS,CAST(B.TRANSCOUNT AS VARCHAR) AS ALLGOODSTRANSCOUNT,
		CAST(B.HRGOODS AS VARCHAR)AS HRGOODSTRANSCOUNT,CAST(B.DUGOODS AS VARCHAR)AS DUGOODSTRANSCOUNT,
		CAST(B.HRDOCUMENT_AMOUNT AS VARCHAR)AS HRDOC_AMT,CAST(B.DUDOCUMENT_AMOUNT AS VARCHAR) AS DUDOC_AMT,
		CAST(B.TOTDOCUMENT_AMOUNT AS VARCHAR) AS ALLGOODSDOC_AMOUNT 
		INTO PBSA.DBO.CAROUSELALERTCUSTOMERS 
		FROM #TT3 A
		INNER JOIN #TT1 B
		ON A.FOCALENTITY=B.FOCALENTITY


		--INSERT TRANSACTION LEVEL INFORMATION FOR ALERTED CUSTOMERS INTO A NEW TABLE.
		SELECT DISTINCT A.ID,[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) as FOCALENTITY,A.OLD_LC_NUMBER,
		CAST(A.HRGOODS AS VARCHAR) AS HRGOODS,CAST(A.DUGOODS AS VARCHAR) AS DUGOODS,
		A.LC_TYPE,A.DRAWING_TYPE,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,
		CAST(A.DOCUMENT_AMOUNT AS VARCHAR)AS DOCUMENT_AMOUNT,CAST(A.LC_AMOUNT AS VARCHAR) AS LC_AMOUNT,
		A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,CAST(A.APPLICANT_CUSTNO AS VARCHAR) AS APPLICANT_CUSTNO,
		CAST(A.APPLICANT_ACC AS VARCHAR) AS APPLICANT_ACC,A.BENEFICIARY,CAST(A.BENEFICIARY_CUSTNO AS VARCHAR) 
		AS BENEFICIARY_CUSTNO,CAST(A.BENEFICIARY_ACC AS VARCHAR) AS BENEFICIARY_ACC,
		A.ACT_GOODS_DESC,[dbo].[BOC_ReplaceSpaces](B.GOODS_DISPLAY) AS GOODSTYPE
		INTO PBSA.DBO.CAROUSELALERTTRANSACTIONS 
		FROM #CURRCAROUSELTRANSACTIONS_ALERTS_2 A 
		LEFT JOIN 
		#LCGOODSTYPE B
		ON CAST(A.GOODSTYPE AS FLOAT)=CAST(B.LC_GOODSTYPE_ID AS FLOAT)
		 

		--INSERT ALL THE TRANSACTIONS MADE BY THE ALERTED CUSTOMER DURING THE LOOKBACK AND CURRENT PERIOD. ALSO FLAG THE ALERTED TRANSACTIONS
		SELECT A.ID ,[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) as FOCALENTITY,A.OLD_LC_NUMBER,A.LC_TYPE,
		A.DRAWING_TYPE ,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY ,CAST(A.DOCUMENT_AMOUNT AS VARCHAR) 
		AS DOCUMENT_AMOUNT,CAST(A.LC_AMOUNT AS VARCHAR) AS LC_AMOUNT,A.LC_NUMBER ,A.TRANS_DATE,REPLACE(LTRIM(RTRIM(A.APPLICANT)),' ', '_') 
		AS APPLICANT ,CAST(A.APPLICANT_CUSTNO AS VARCHAR) AS APPLICANT_CUSTNO,CAST(A.APPLICANT_ACC AS VARCHAR) AS APPLICANT_ACC,
		REPLACE(LTRIM(RTRIM(A.BENEFICIARY)),' ','_') AS BENEFICIARY ,
		CAST(A.BENEFICIARY_CUSTNO AS VARCHAR) AS BENEFICIARY_CUSTNO,REPLACE(LTRIM(RTRIM(A.ACT_GOODS_DESC)),' ','_') AS ACT_GOODS_DESC,
		[dbo].[BOC_ReplaceSpaces](B.GOODS_DISPLAY) AS GOODSTYPE,
		(CASE
		WHEN EXISTS (SELECT 1 FROM CAROUSELALERTTRANSACTIONS B WHERE B.ID=A.ID) THEN 1 ELSE 0 END) AS CAROUSELTRANSACTIONS
		INTO PBSA.DBO.CAROUSELMAPDATA
		FROM #CAROUSELTRANSACTIONS A
		LEFT JOIN 
		#LCGOODSTYPE B
		ON CAST(A.GOODSTYPE AS FLOAT)=CAST(B.LC_GOODSTYPE_ID AS FLOAT)


		--INSERT CUSTOMER LEVEL INFORMATION W.R.T THE ALERTED CUSTOMERS IN THE HISTORICAL ALERTS TABLE
		INSERT INTO PBSA.DBO.CONSOLIDATEDALERTS
		SELECT  'CAROUSEL_ALERTS' AS ALERT_NAME,ALERTINGCONDITIONS,[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) as FOCALENTITY,CUSTOMERNAME,
		DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME)),GETDATE() 
		FROM CAROUSELALERTCUSTOMERS A
		LEFT JOIN 
		(SELECT FOCALENTITY, MAX(CUSTOMERNAME) AS CUSTOMERNAME FROM 
		(SELECT FOCALENTITY, 
		CASE 
		WHEN FOCALENTITY=CAST(BENEFICIARY_CUSTNO AS VARCHAR) THEN BENEFICIARY
		WHEN FOCALENTITY=CAST(APPLICANT_CUSTNO AS VARCHAR) THEN APPLICANT 
		WHEN UPPER(LTRIM(RTRIM(FOCALENTITY)))=UPPER(LTRIM(RTRIM(BENEFICIARY))) THEN BENEFICIARY 
		WHEN UPPER(LTRIM(RTRIM(FOCALENTITY)))=UPPER(LTRIM(RTRIM(APPLICANT))) THEN APPLICANT 
		END AS CUSTOMERNAME FROM CAROUSELALERTTRANSACTIONS)B 
		GROUP BY FOCALENTITY) C
		ON A.FOCALENTITY=C.FOCALENTITY
		WHERE NOT EXISTS (SELECT 1 FROM CONSOLIDATEDALERTS B WHERE B.ALERT_MONTH= 
		DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME)) 
		AND  B.FOCALENTITY=A.FOCALENTITY
		AND ALERTINGCONDITIONS=B.ALERTING_CONDITION)

END



