USE [Pbsa]
GO
/****** Object:  StoredProcedure [dbo].[BOC_TRADEINNEWGEO]    Script Date: 12/18/2016 09:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
 AUTHOR:		DANESHWARI
 CREATE DATE:	08/03/16
 DESCRIPTION:	CHANGE IN BEHAVIOR: TRADING IN NEW GEOGRAPHIES
				REPORT GENERATED TO IDENTIFY ACTIVITY (TRADING WITH NEW/HIGH-RISK COUNTRIES) WHICH DOES NOT 
				MATCH A CUSTOMER’S PROFILE OR HISTORICAL ACTIVITY.
 =============================================*/


CREATE PROCEDURE [dbo].[BOC_TRADEINNEWGEO]
	--INPUT PARAMETERS THAT CAN BE PROVIDED WHILE RUNNING THE STORED PROCEDURE
	@LOOKBACKSTART						INT,					-- LOOKBACK START DATE FOR BUILDING CUSTOMER'S HISTORICAL PROFILE (FORMAT:YYYYMMDD)
	@LOOKBACKEND						INT,					-- LOOKBACK END DATE FOR BUILDING CUSTOMER'S HISTORICAL PROFILE (FORMAT:YYYYMMDD)
	@CURRPERIODSTART					INT,					-- START DATE OF CURRENT MONTH FOR MONITORING (FORMAT:YYYYMMDD)
	@CURRPERIODEND						INT,					-- END DATE OF CURRENT MONTH FOR MONITORING (FORMAT:YYYYMMDD)
	@NEWSHIPFMTHSLD						INT,					-- THRESHOLD FOR TOTAL NUMBER OF TRADES INVOLVING A NEW SHIP FROM COUNTRY FOR A GIVEN CUSTOMER IN THE SCENARIO RUN PERIOD
	@NEWORIGTHSLD						INT,					-- TTHRESHOLD FOR TOTAL NUMBER OF TRADES INVOLVING A NEW COUNTRY OF ORIGIN FOR A GIVEN CUSTOMER IN THE SCENARIO RUN PERIOD
	@NEWSHIPTOTHSLD						INT,					-- THRESHOLD FOR TOTAL NUMBER OF TRADES INVOLVING A NEW SHIP TO COUNTRY FOR A GIVEN CUSTOMER IN THE SCENARIO RUN PERIOD
	@HRCUSTNWGEO						INT						-- THRESHOLD FOR TOTAL NUMBER OF TRADES INVOLVING NEW COUNTRY (SHIP FROM/SHIP TO/COUNTRY OF ORIGIN) FOR A GIVEN HIGH RISK CUSTOMER IN THE SCENARIO RUN PERIOD

	
	
AS
BEGIN

			-- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM INTERFERING WITH SELECT STATEMENTS. 
			-- THIS PROVIDES SIGNIFICANT BOOST IN PERFORMANCE
			SET NOCOUNT ON;
			

			--DELETE THE TABLES IF THEY ALREADY EXIST. THESE TABLE HOLD THE ALERT INFORMATION GENERAETED FROM PRIOR RUN
			IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'TRADEINNEWGEOALERTCUSTOMERS')
				BEGIN
					DROP TABLE TRADEINNEWGEOALERTCUSTOMERS 
				END

			IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'TRADEINNEWGEOALERTTRANSACTIONS')
				BEGIN
					DROP TABLE TRADEINNEWGEOALERTTRANSACTIONS 
				END


			IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'TRADEINNEWGEOMAPDATA')
				BEGIN
					DROP TABLE TRADEINNEWGEOMAPDATA 
				END


--GET THE LATEST RECORDS FROM THE TABLE: MULTI_LC_HIST
	SELECT a.ID,OLD_LC_NUMBER,LC_TYPE,LC_AMOUNT,LC_NUMBER,ISSUE_DATE
		,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,	BENEFICIARY_CUSTNO,
		BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE,a.ASOFDATE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER
		INTO #MULTI_LC_HIST 
		FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_LC_HIST A
		INNER JOIN (SELECT B.ID,MAX(B.ASOFDATE) 
						FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_LC_HIST B 
						GROUP BY B.ID) TEMP(ID,ASOFDATE)
		ON A.ID=TEMP.ID
		WHERE A.ASOFDATE=TEMP.ASOFDATE



	--GET THE LATEST RECORDS FROM THE TABLE: MULTI_DRAWINGS_HIST
	SELECT A.ID,DRAWING_TYPE, COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,DOCUMENT_AMOUNT,
		DOC_RECE_DT,VALUE_DATE,DATE_TIME,ACT_GOODS_DESC,GOODSTYPE,VESSEL_NAME,VOYAGE_NUMBER,DISCREPANCY,a.ASOFDATE
		INTO #MULTI_DRAWINGS_HIST 
		FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_DRAWINGS_HIST A
		INNER JOIN (SELECT B.ID, MAX(B.ASOFDATE) 
					FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_DRAWINGS_HIST B 
					GROUP BY B.ID) TEMP(ID,ASOFDATE)
		ON A.ID=TEMP.ID
		WHERE A.ASOFDATE=TEMP.ASOFDATE
	

			
				


			--UPDATE QUERY: REPLACE [F_BOC_LCGOODSTYPE_CODE] BY THE IDENTICAL TABLE FROM US_DATA_MART. CONNECT TO THE TABLE USING LINKED SERVER OBJECT
			SELECT * INTO #LCGOODSTYPE
			FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.[F_BOC_LCGOODSTYPE_CODE]


			--UPDATES GOODSTYPE FOR HISTORICAL TRANSACTIONS SINCE 2016 FEB FOR THE DRAWINGS RECORDS
			IF(getdate()<cast(cast(20170502 as char(8)) as datetime))
			UPDATE #MULTI_DRAWINGS_HIST
			SET GOODSTYPE=(SELECT A.LC_GOODSTYPE_ID FROM #LCGOODSTYPE A WHERE
			UPPER(LTRIM(RTRIM(A.GOODS_DISPLAY))) = (SELECT UPPER(LTRIM(RTRIM(A.GOODS_TYPE))) FROM GOODSREFID A WHERE
			UPPER(LTRIM(RTRIM(#MULTI_DRAWINGS_HIST.ACT_GOODS_DESC)))=UPPER(LTRIM(RTRIM(A.ACT_GOODS_DESC ))) COLLATE DATABASE_DEFAULT GROUP BY A.GOODS_TYPE) COLLATE DATABASE_DEFAULT
			) WHERE  #MULTI_DRAWINGS_HIST.GOODSTYPE IS NULL and #MULTI_DRAWINGS_HIST.DOC_RECE_DT>20160431 ;



			--UPDATES GOODSTYPE FOR HISTORICAL TRANSACTIONS SINCE 2016 FEB FOR THE LC RECORDS
			IF(getdate()<cast(cast(20170502 as char(8)) as datetime))
			UPDATE #MULTI_LC_HIST
			SET GOODSTYPE=(SELECT A.LC_GOODSTYPE_ID FROM #LCGOODSTYPE A WHERE
			UPPER(LTRIM(RTRIM(A.GOODS_DISPLAY))) = (SELECT UPPER(LTRIM(RTRIM(A.GOODS_TYPE))) FROM GOODSREFID A WHERE
			UPPER(LTRIM(RTRIM(#MULTI_LC_HIST.ACT_GOODS_DESC)))=UPPER(LTRIM(RTRIM(A.ACT_GOODS_DESC )))   COLLATE DATABASE_DEFAULT GROUP BY A.GOODS_TYPE) COLLATE DATABASE_DEFAULT
			)WHERE #MULTI_LC_HIST.GOODSTYPE IS NULL AND #MULTI_LC_HIST.ISSUE_DATE > 20160431;



			--CREATE TABLE TO HOLD ALL THE RECORDS BELONGING TO THE LOOKBACK PERIOD AND THE CURRENT PERIOD
			CREATE TABLE #TRADEINNEWGEO
				(
				ID						VARCHAR(25),
				FOCALENTITY				VARCHAR(50),
				OLD_LC_NUMBER			VARCHAR(20),
				LC_TYPE					VARCHAR(10),
				DRAWING_TYPE			VARCHAR(2),
				COUNTRY_ORIG			VARCHAR(9),
				SHIP_FM_COUNTRY			VARCHAR(35),
				SHIP_TO_COUNTRY			VARCHAR(9),
				VESSEL_NAME				VARCHAR(50),
				VOYAGE_NUMBER			VARCHAR(50),
				DOCUMENT_AMOUNT			DECIMAL(19,2),
				LC_AMOUNT				DECIMAL(19,2),
				LC_NUMBER				VARCHAR(16),
				--NOTE: TRANS_DATE IS POPULATED BY THE FIELD 'ISSUE_DATE' OR 'DOC_RECE_DT' DEPENDING ON THE LC TYPE
				TRANS_DATE				VARCHAR(8), 
				VALUE_DATE				VARCHAR(8),
				DATE_TIME				VARCHAR(8),
				APPLICANT				VARCHAR(MAX),
				APPLICANT_CUSTNO		VARCHAR(10),
				APPLICANT_ACC			INT,
				BENEFICIARY				VARCHAR(MAX),
				BENEFICIARY_CUSTNO		INT,
				BENEFICIARY_ACC			INT,
				ACT_GOODS_DESC			VARCHAR(MAX),
				GOODSTYPE				VARCHAR(150),
				)


				--INSERT THE REQUIRED FIELDS INTO THE TABLE #TRADEINNEWGEO FOR THE TRANSACTIONS WHOSE LC TYPES DO NOT BEGIN WITH 'C' I.E. THE LC TYPES OTHER THAN COLLECTIONS
				INSERT INTO #TRADEINNEWGEO (ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,
				VESSEL_NAME,VOYAGE_NUMBER,DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,
				BENEFICIARY,BENEFICIARY_CUSTNO,BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE) 
						SELECT MD.ID,
						CASE WHEN (ML.LC_TYPE LIKE 'I%' OR ML.LC_TYPE LIKE 'SO%')
								THEN
									CASE 
									WHEN APPLICANT_CUSTNO IS NOT NULL THEN APPLICANT_CUSTNO 
									WHEN APPLICANT_CUSTNO IS NULL AND APPLICANT IS NOT NULL THEN APPLICANT
									ELSE ML.ID  
									END
						ELSE 
								CASE 
								WHEN BENEFICIARY_CUSTNO IS NOT NULL THEN BENEFICIARY_CUSTNO 
								WHEN BENEFICIARY_CUSTNO IS NULL AND BENEFICIARY IS NOT NULL THEN BENEFICIARY
								ELSE ML.ID  
								END
						END,
					ML.OLD_LC_NUMBER,ML.LC_TYPE,MD.DRAWING_TYPE, MD.COUNTRY_ORIG,MD.SHIP_FM_COUNTRY,MD.SHIP_TO_COUNTRY,MD.VESSEL_NAME,
					MD.VOYAGE_NUMBER,MD.DOCUMENT_AMOUNT,ML.LC_AMOUNT,ML.LC_NUMBER,MD.DOC_RECE_DT,MD.VALUE_DATE,MD.DATE_TIME,ML.APPLICANT,
					ML.APPLICANT_CUSTNO,ML.APPLICANT_ACC,ML.BENEFICIARY,ML.BENEFICIARY_CUSTNO,ML.BENEFICIARY_ACC,MD.ACT_GOODS_DESC,MD.GOODSTYPE 
					FROM #MULTI_DRAWINGS_HIST MD
					INNER JOIN #MULTI_LC_HIST ML
					ON LEFT(MD.ID,12)=ML.ID
					WHERE ML.LC_TYPE<>'RUS'
					AND ML.LC_TYPE NOT LIKE 'C%' AND ML.LC_TYPE NOT LIKE 'ET%'
					AND ML.LC_TYPE IS NOT NULL
					AND MD.DOC_RECE_DT BETWEEN @LOOKBACKSTART AND @CURRPERIODEND   
					ORDER BY MD.ID




				--INSERT THE REQUIRED FIELDS INTO THE TABLE  #TRADEINNEWGEO FOR THE TRANSACTIONS WHOSE LC TYPES BEGIN WITH 'C' (COLLECTION LC TYPE)
				INSERT INTO #TRADEINNEWGEO (ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER,
				DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,
				BENEFICIARY_CUSTNO,BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE) 
					SELECT MD.ID,
							CASE 
								WHEN APPLICANT_CUSTNO IS NOT NULL THEN APPLICANT_CUSTNO 
								WHEN APPLICANT_CUSTNO IS NULL AND APPLICANT IS NOT NULL THEN APPLICANT
								ELSE ML.ID  
							END,
					ML.OLD_LC_NUMBER,ML.LC_TYPE,MD.DRAWING_TYPE,ML.COUNTRY_ORIG,ML.SHIP_FM_COUNTRY,ML.SHIP_TO_COUNTRY,ML.VESSEL_NAME,ML.VOYAGE_NUMBER,
					MD.DOCUMENT_AMOUNT,ML.LC_AMOUNT,ML.LC_NUMBER,ML.ISSUE_DATE,MD.VALUE_DATE,MD.DATE_TIME,ML.APPLICANT,ML.APPLICANT_CUSTNO,ML.APPLICANT_ACC,ML.BENEFICIARY,
					ML.BENEFICIARY_CUSTNO,ML.BENEFICIARY_ACC,ML.ACT_GOODS_DESC,ML.GOODSTYPE  
				FROM #MULTI_DRAWINGS_HIST MD
				INNER JOIN #MULTI_LC_HIST ML
				ON LEFT(MD.ID,12)=ML.ID
				WHERE ML.ISSUE_DATE BETWEEN @LOOKBACKSTART AND @CURRPERIODEND  
				AND ML.LC_TYPE LIKE 'C%'

		

			--CREATE TABLE TO CAPTURE RECORDS BELONGING ONLY TO CURRENT PERIOD
			CREATE TABLE #CURRTRADEINNEWGEO (
				ID							VARCHAR(25),
				FOCALENTITY					VARCHAR(50),
				OLD_LC_NUMBER				VARCHAR(20),
				LC_TYPE						VARCHAR(10),
				HIGHRISKCUSTOMER			INT DEFAULT 0,
				NEWSHIPFMCOUNTRY			INT DEFAULT 0,
				NEWORIGCOUNTRY				INT DEFAULT 0,
				NEWSHIPTOCOUNTRY			INT DEFAULT 0,
				DRAWING_TYPE				VARCHAR(2),
				COUNTRY_ORIG				VARCHAR(9),
				SHIP_FM_COUNTRY				VARCHAR(35),
				SHIP_TO_COUNTRY				VARCHAR(9),
				VESSEL_NAME					VARCHAR(50),
				VOYAGE_NUMBER				VARCHAR(50),
				DOCUMENT_AMOUNT				DECIMAL(19,2),
				LC_AMOUNT					DECIMAL(19,2),
				LC_NUMBER					VARCHAR(16),
				TRANS_DATE					VARCHAR(8),
				VALUE_DATE					VARCHAR(8),
				DATE_TIME					VARCHAR(8),
				APPLICANT					VARCHAR(MAX),
				APPLICANT_CUSTNO			INT,
				APPLICANT_ACC				INT,
				BENEFICIARY					VARCHAR(MAX),
				BENEFICIARY_CUSTNO			INT,
				BENEFICIARY_ACC				INT,
				ACT_GOODS_DESC				VARCHAR(MAX),
				GOODSTYPE					VARCHAR(150)
			)


		--INSERT RECORDS BELONGING TO THE CURRENT PERIOD 
		INSERT INTO #CURRTRADEINNEWGEO(ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER,
		DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,BENEFICIARY_CUSTNO,
		BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE)
		SELECT ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER,
		DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,BENEFICIARY_CUSTNO,
		BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE FROM #TRADEINNEWGEO 
		WHERE TRANS_DATE BETWEEN @CURRPERIODSTART AND @CURRPERIODEND  



		--THE NEXT TWO SNIPPETS STORE THE CUSTOMER'S HISTORICAL TRADING COUNTRY DETAILS (I.E. SHIP_FM_COUNTRY)
		CREATE TABLE #CUSTSHIPFMCTRYPROFILE(
			FOCALENTITY					VARCHAR(50),
			COUNTRY						VARCHAR(35)
			)


		INSERT INTO #CUSTSHIPFMCTRYPROFILE
			SELECT FOCALENTITY,SHIP_FM_COUNTRY
			FROM #TRADEINNEWGEO WHERE TRANS_DATE BETWEEN @LOOKBACKSTART  AND @LOOKBACKEND   
			AND SHIP_FM_COUNTRY IS NOT NULL --AND UPPER(SHIP_FM_COUNTRY)<> 'ZZ'  
			GROUP BY FOCALENTITY,SHIP_FM_COUNTRY ORDER BY FOCALENTITY


		--FLAG CURRENT PERIOD RECORDS ID NEW SHIP_FM_COUNTRY IS INVOLVED IN TRANSACTION 
		UPDATE #CURRTRADEINNEWGEO 
		SET NEWSHIPFMCOUNTRY=
			CASE WHEN NOT EXISTS 
				(SELECT 1 FROM #CUSTSHIPFMCTRYPROFILE 
				WHERE (#CURRTRADEINNEWGEO.SHIP_FM_COUNTRY =#CUSTSHIPFMCTRYPROFILE.COUNTRY  OR UPPER(#CURRTRADEINNEWGEO.SHIP_FM_COUNTRY)='ZZ' OR #CURRTRADEINNEWGEO.SHIP_FM_COUNTRY IS NULL)
				AND #CURRTRADEINNEWGEO.FOCALENTITY=#CUSTSHIPFMCTRYPROFILE.FOCALENTITY) 
				--NO FLAG IS GENERATED FOR NEW CUSTOMERS
				AND EXISTS (SELECT 1 FROM #CUSTSHIPFMCTRYPROFILE WHERE #CURRTRADEINNEWGEO.FOCALENTITY=#CUSTSHIPFMCTRYPROFILE.FOCALENTITY)
			THEN 1 
			ELSE 0
			END



		--THE NEXT TWO SNIPPETS STORE THE CUSTOMER'S HISTORICAL TRADING COUNTRY DETAILS (I.E. SHIP_TO_COUNTRY)
		CREATE TABLE #CUSTSHIPTOCTRYPROFILE(
			FOCALENTITY					VARCHAR(50),
			COUNTRY						VARCHAR(35)
			)
		


		--INSERT CUSTOMER'S HISTORICAL SJIP TO COUNTRY DETAILS
		INSERT INTO #CUSTSHIPTOCTRYPROFILE
			SELECT FOCALENTITY,SHIP_TO_COUNTRY
			FROM #TRADEINNEWGEO WHERE TRANS_DATE BETWEEN @LOOKBACKSTART  AND @LOOKBACKEND    
			AND SHIP_TO_COUNTRY IS NOT NULL --AND UPPER(SHIP_TO_COUNTRY)<> 'ZZ'  
			GROUP BY FOCALENTITY,SHIP_TO_COUNTRY ORDER BY FOCALENTITY



		--FLAG CURRENT PERIOD RECORDS ID NEW SHIP_TO_COUNTRY IS INVOLVED IN TRANSACTION 
		UPDATE #CURRTRADEINNEWGEO 
		SET NEWSHIPTOCOUNTRY=
							CASE WHEN NOT EXISTS 
							(SELECT 1 FROM #CUSTSHIPTOCTRYPROFILE 
							WHERE (#CURRTRADEINNEWGEO.SHIP_TO_COUNTRY =#CUSTSHIPTOCTRYPROFILE.COUNTRY OR UPPER(#CURRTRADEINNEWGEO.SHIP_TO_COUNTRY)='ZZ' OR #CURRTRADEINNEWGEO.SHIP_TO_COUNTRY IS NULL)
							AND #CURRTRADEINNEWGEO.FOCALENTITY=#CUSTSHIPTOCTRYPROFILE.FOCALENTITY) 
							--NO FLAG IS GENERATED FOR NEW CUSTOMERS
							AND EXISTS (SELECT 1 FROM #CUSTSHIPTOCTRYPROFILE WHERE #CURRTRADEINNEWGEO.FOCALENTITY=#CUSTSHIPTOCTRYPROFILE.FOCALENTITY)
							THEN 1 
							ELSE 0
							END



		--THE NEXT TWO SNIPPETS STORE THE CUSTOMER'S HISTORICAL TRADING COUNTRY DETAILS (I.E. ORIG_COUNTRY)
		CREATE TABLE #CUSTORIGCTRYPROFILE(
			FOCALENTITY				VARCHAR(50),
			COUNTRY					VARCHAR(35)
			)
	


		--INSERT CUSTOMER'S HISTORICAL ORIG_COUNTRY COUNTRY DETAILS
		INSERT INTO #CUSTORIGCTRYPROFILE
		SELECT FOCALENTITY,COUNTRY_ORIG
			FROM #TRADEINNEWGEO WHERE TRANS_DATE BETWEEN @LOOKBACKSTART  AND @LOOKBACKEND     
			AND COUNTRY_ORIG IS NOT NULL --AND UPPER(COUNTRY_ORIG)<> 'ZZ' 
			GROUP BY FOCALENTITY,COUNTRY_ORIG


		--FLAG CURRENT PERIOD RECORDS WITH NEW COUNTRY OF ORIGIN INVOLVED IN TRANSACTION (NEW COUNTRY OF ORIGIN)
		UPDATE #CURRTRADEINNEWGEO 
		SET NEWORIGCOUNTRY=
							CASE WHEN NOT EXISTS
							(SELECT 1 FROM #CUSTORIGCTRYPROFILE 
							WHERE (#CURRTRADEINNEWGEO.COUNTRY_ORIG =#CUSTORIGCTRYPROFILE.COUNTRY  OR UPPER(#CURRTRADEINNEWGEO.COUNTRY_ORIG)='ZZ' OR #CURRTRADEINNEWGEO.COUNTRY_ORIG IS NULL)
							AND #CURRTRADEINNEWGEO.FOCALENTITY=#CUSTORIGCTRYPROFILE.FOCALENTITY) 
							--NO FLAG IS GENERATED FOR NEW CUSTOMERS
							AND EXISTS (SELECT 1 FROM #CUSTORIGCTRYPROFILE WHERE #CUSTORIGCTRYPROFILE.FOCALENTITY=#CURRTRADEINNEWGEO.FOCALENTITY)
							THEN 1 
							ELSE 0
							END

		--FLAG THE RECORDS WITH HIGH RISK SHIP_FM_COUNTRY AND HIGH RISK CUSTOMER PROFILE
		UPDATE #CURRTRADEINNEWGEO 
		SET HIGHRISKCUSTOMER = CASE
								WHEN EXISTS (SELECT 1 FROM CUSTOMER WHERE ISNUMERIC(#CURRTRADEINNEWGEO.FOCALENTITY)=1 AND
								ID=#CURRTRADEINNEWGEO.FOCALENTITY AND UPPER(RISKCLASS) IN ('H1','H2','HIGH'))
								THEN 1
								ELSE 0
								END


		--CREATE TEMPROPRY TABLE TO STORE INFORMATION REGARDING THE MONITORED THRESHOLD VALUES FOR EACH CUSTOMER
		CREATE TABLE #TT1 (
			FOCALENTITY					VARCHAR(50),
			HIGHRISKCUSTOMER			INT DEFAULT 0,
			NEWSHIPFMCOUNTRY			INT DEFAULT 0,
			NEWORIGCOUNTRY				INT DEFAULT 0,
			NEWSHIPTOCOUNTRY			INT DEFAULT 0)




		--INSERT ALL THE FOCALENTITIES WHICH BREACH THE ALERTING THRESHOLD VALUES
		INSERT INTO #TT1 (FOCALENTITY,NEWSHIPFMCOUNTRY,NEWORIGCOUNTRY,NEWSHIPTOCOUNTRY,HIGHRISKCUSTOMER)
			SELECT  FOCALENTITY,SUM(NEWSHIPFMCOUNTRY),SUM(NEWORIGCOUNTRY),SUM(NEWSHIPTOCOUNTRY),MAX(CAST(HIGHRISKCUSTOMER AS INT)) 
			FROM #CURRTRADEINNEWGEO
			GROUP BY FOCALENTITY 



			--CREATE TABLE TO STORE ALL THE ALERTED TRANSACTIONS 
			CREATE TABLE #TRADEINNEWGEO_ALERTS(
			ID								VARCHAR(25),
			FOCALENTITY						VARCHAR(50),
			OLD_LC_NUMBER					VARCHAR(20),
			ALERTINGCONDTITION				VARCHAR (25),
			HIGHRISKCUSTOMER				INT DEFAULT 0,
			NEWSHIPFMCOUNTRY				INT DEFAULT 0,
			NEWORIGCOUNTRY					INT DEFAULT 0,
			NEWSHIPTOCOUNTRY				INT DEFAULT 0,
			LC_TYPE							VARCHAR(10),
			DRAWING_TYPE					VARCHAR(2),
			COUNTRY_ORIG					VARCHAR(9),
			SHIP_FM_COUNTRY					VARCHAR(35),
			SHIP_TO_COUNTRY					VARCHAR(9),
			DOCUMENT_AMOUNT					DECIMAL(19,2),
			LC_AMOUNT						DECIMAL(19,2),
			LC_NUMBER						VARCHAR(16),
			TRANS_DATE						VARCHAR(8),
			VALUE_DATE						VARCHAR(8),
			DATE_TIME						VARCHAR(8),
			APPLICANT						VARCHAR(45),
			APPLICANT_CUSTNO				VARCHAR(10),
			APPLICANT_ACC					INT,
			BENEFICIARY						VARCHAR(MAX),
			BENEFICIARY_CUSTNO				INT,
			BENEFICIARY_ACC					INT,
			ACT_GOODS_DESC					VARCHAR(MAX),
			GOODSTYPE						VARCHAR(150),
		)



			--THE NEXT 3 SNIPPETS INSERT THE TRANSACTIONS WHICH BREACH THE THRESHOLD FOR HIGH RISK CUSTOMERS AND NEW  SHIP FROM COUNTRY, ORIGIN COUNTRY AND SHIP TO COUNTRY
			INSERT INTO #TRADEINNEWGEO_ALERTS 
			SELECT  A.ID ,A.FOCALENTITY,A.OLD_LC_NUMBER,'HRCUSTNEWSHIPFMCOUNTRY' ,A.HIGHRISKCUSTOMER,A.NEWSHIPFMCOUNTRY ,A.NEWORIGCOUNTRY ,A.NEWSHIPTOCOUNTRY,A.LC_TYPE ,A.DRAWING_TYPE ,A.COUNTRY_ORIG ,
			A.SHIP_FM_COUNTRY ,A.SHIP_TO_COUNTRY ,A.DOCUMENT_AMOUNT ,A.LC_AMOUNT ,A.LC_NUMBER ,A.TRANS_DATE ,A.VALUE_DATE ,
			A.DATE_TIME ,A.APPLICANT ,A.APPLICANT_CUSTNO ,A.APPLICANT_ACC ,A.BENEFICIARY ,A.BENEFICIARY_CUSTNO ,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC
			,A.GOODSTYPE
			FROM #CURRTRADEINNEWGEO A
			INNER JOIN #TT1 B
			ON LTRIM(RTRIM(A.FOCALENTITY))=LTRIM(RTRIM(B.FOCALENTITY))
			WHERE CAST(B.HIGHRISKCUSTOMER AS INT)=1  AND B.NEWSHIPFMCOUNTRY>=@HRCUSTNWGEO
			AND A.NEWSHIPFMCOUNTRY=1



			INSERT INTO #TRADEINNEWGEO_ALERTS 
			SELECT  A.ID ,A.FOCALENTITY,A.OLD_LC_NUMBER,'HRCUSTNEWORIGCOUNTRY' ,A.HIGHRISKCUSTOMER,A.NEWSHIPFMCOUNTRY ,A.NEWORIGCOUNTRY,A.NEWSHIPTOCOUNTRY 
			,A.LC_TYPE ,A.DRAWING_TYPE ,A.COUNTRY_ORIG ,
			A.SHIP_FM_COUNTRY ,A.SHIP_TO_COUNTRY ,A.DOCUMENT_AMOUNT ,A.LC_AMOUNT ,A.LC_NUMBER ,A.TRANS_DATE ,A.VALUE_DATE ,
			A.DATE_TIME ,A.APPLICANT ,A.APPLICANT_CUSTNO ,A.APPLICANT_ACC ,A.BENEFICIARY ,A.BENEFICIARY_CUSTNO ,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC
			,A.GOODSTYPE
			FROM #CURRTRADEINNEWGEO A
			INNER JOIN #TT1 B
			ON LTRIM(RTRIM(A.FOCALENTITY))=LTRIM(RTRIM(B.FOCALENTITY))
			WHERE CAST(B.HIGHRISKCUSTOMER AS INT)=1  AND B.NEWORIGCOUNTRY>=@HRCUSTNWGEO
			AND A.NEWORIGCOUNTRY=1	

			
			INSERT INTO #TRADEINNEWGEO_ALERTS 
			SELECT  A.ID ,A.FOCALENTITY,A.OLD_LC_NUMBER,'HRCUSTNEWSHIPTOCOUNTRY',A.HIGHRISKCUSTOMER,A.NEWSHIPFMCOUNTRY ,A.NEWORIGCOUNTRY ,A.NEWSHIPTOCOUNTRY,A.LC_TYPE ,A.DRAWING_TYPE ,A.COUNTRY_ORIG ,
			A.SHIP_FM_COUNTRY ,A.SHIP_TO_COUNTRY ,A.DOCUMENT_AMOUNT ,A.LC_AMOUNT ,A.LC_NUMBER ,A.TRANS_DATE ,A.VALUE_DATE ,
			A.DATE_TIME ,A.APPLICANT ,A.APPLICANT_CUSTNO ,A.APPLICANT_ACC ,A.BENEFICIARY ,A.BENEFICIARY_CUSTNO ,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC
			,A.GOODSTYPE
			FROM #CURRTRADEINNEWGEO A
			INNER JOIN #TT1 B
			ON LTRIM(RTRIM(A.FOCALENTITY))=LTRIM(RTRIM(B.FOCALENTITY))
			WHERE CAST(B.HIGHRISKCUSTOMER AS INT)=1  AND B.NEWSHIPTOCOUNTRY>=@HRCUSTNWGEO	
			AND A.NEWSHIPTOCOUNTRY=1
	
				
			--INSERT THE TRANSACTIONS WHICH BREACH THE THERSHOLD FOR NEW RISK SHIP FROM COUNTRY
			INSERT INTO #TRADEINNEWGEO_ALERTS 
			SELECT  A.ID ,A.FOCALENTITY,A.OLD_LC_NUMBER,'NEWSHIPFMCOUNTRY' ,A.HIGHRISKCUSTOMER,A.NEWSHIPFMCOUNTRY ,A.NEWORIGCOUNTRY,A.NEWSHIPTOCOUNTRY ,A.LC_TYPE ,A.DRAWING_TYPE ,A.COUNTRY_ORIG ,
			A.SHIP_FM_COUNTRY ,A.SHIP_TO_COUNTRY ,A.DOCUMENT_AMOUNT ,A.LC_AMOUNT ,A.LC_NUMBER ,A.TRANS_DATE ,A.VALUE_DATE ,
			A.DATE_TIME ,A.APPLICANT ,A.APPLICANT_CUSTNO ,A.APPLICANT_ACC ,A.BENEFICIARY ,A.BENEFICIARY_CUSTNO ,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC
			,A.GOODSTYPE
			FROM #CURRTRADEINNEWGEO A
			INNER JOIN #TT1 B
			ON LTRIM(RTRIM(A.FOCALENTITY))=LTRIM(RTRIM(B.FOCALENTITY))
			WHERE B.NEWSHIPFMCOUNTRY>=@NEWSHIPFMTHSLD
			AND A.NEWSHIPFMCOUNTRY=1


			--INSERT THE TRANSACTIONS WHICH BREACH THE THERSHOLD FOR A NEW ORIGIN COUNTRY
			INSERT INTO #TRADEINNEWGEO_ALERTS 
			SELECT  A.ID ,A.FOCALENTITY,A.OLD_LC_NUMBER,'NEWORIGCOUNTRY' ,A.HIGHRISKCUSTOMER,A.NEWSHIPFMCOUNTRY ,A.NEWORIGCOUNTRY ,A.NEWSHIPTOCOUNTRY,A.LC_TYPE ,A.DRAWING_TYPE ,A.COUNTRY_ORIG ,
			A.SHIP_FM_COUNTRY ,A.SHIP_TO_COUNTRY ,A.DOCUMENT_AMOUNT ,A.LC_AMOUNT ,A.LC_NUMBER ,A.TRANS_DATE ,A.VALUE_DATE ,
			A.DATE_TIME ,A.APPLICANT ,A.APPLICANT_CUSTNO ,A.APPLICANT_ACC ,A.BENEFICIARY ,A.BENEFICIARY_CUSTNO ,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC
			,A.GOODSTYPE
			FROM #CURRTRADEINNEWGEO A
			INNER JOIN #TT1 B
			ON LTRIM(RTRIM(A.FOCALENTITY))=LTRIM(RTRIM(B.FOCALENTITY))
			WHERE B.NEWORIGCOUNTRY>=@NEWORIGTHSLD
			AND A.NEWORIGCOUNTRY=1

	
			--INSERT THE TRANSACTIONS WHICH BREACH THE THERSHOLD FOR HIGH RISK SHIP TO COUNTRY
			INSERT INTO #TRADEINNEWGEO_ALERTS 
			SELECT  A.ID ,A.FOCALENTITY,A.OLD_LC_NUMBER,'NEWSHIPTOCOUNTRY',A.HIGHRISKCUSTOMER,A.NEWSHIPFMCOUNTRY ,A.NEWORIGCOUNTRY,A.NEWSHIPTOCOUNTRY ,A.LC_TYPE ,A.DRAWING_TYPE ,A.COUNTRY_ORIG ,
			A.SHIP_FM_COUNTRY ,A.SHIP_TO_COUNTRY ,A.DOCUMENT_AMOUNT ,A.LC_AMOUNT ,A.LC_NUMBER ,A.TRANS_DATE ,A.VALUE_DATE ,
			A.DATE_TIME ,A.APPLICANT ,A.APPLICANT_CUSTNO ,A.APPLICANT_ACC ,A.BENEFICIARY ,A.BENEFICIARY_CUSTNO ,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC
			,A.GOODSTYPE
			FROM #CURRTRADEINNEWGEO A
			INNER JOIN #TT1 B
			ON LTRIM(RTRIM(A.FOCALENTITY))=LTRIM(RTRIM(B.FOCALENTITY))
			WHERE B.NEWSHIPTOCOUNTRY>=@NEWSHIPTOTHSLD	
			AND A.NEWSHIPTOCOUNTRY=1
	


			--INSERT THE DISTINCT FOCALENTITY AND ALERTING CONDITIONS INTO A NEW TABLE 	
			SELECT DISTINCT FOCALENTITY,ALERTINGCONDTITION INTO #TT2 FROM #TRADEINNEWGEO_ALERTS
			


			--INSERT THE FOCALENTITY AND ALL THE CORRESPONDING ALERTED CONDITIONS INTO A NEW TABLE (ALERTING CONDITIONS ARE DISPLAYED IN A SINGLE FIELD FOR A GIVEN FOCALENTITY)
			SELECT C.FOCALENTITY,
				   LEFT(C.ALERTINGCONDITIONS,LEN(C.ALERTINGCONDITIONS)-1) AS 'ALERTINGCONDITIONS' INTO #TT3
			FROM
				(
						SELECT DISTINCT B.FOCALENTITY, 
							   (
									SELECT A.ALERTINGCONDTITION + ', ' AS [text()]
									FROM #TT2 A
									WHERE A.FOCALENTITY = B.FOCALENTITY
									ORDER BY A.FOCALENTITY
									FOR XML PATH ('')
								) ALERTINGCONDITIONS
							FROM #TT2 B
			)C

			--INSERT THE ID AND ALL THE CORRESPONDING ALERTED CONDITIONS INTO A NEW TABLE (ALERTING CONDITIONS ARE DISPLAYED IN A SINGLE FIELD FOR A GIVEN ID)
					SELECT C.ID,
				   LEFT(C.ALERTINGCONDITIONS,LEN(C.ALERTINGCONDITIONS)-1) AS 'ALERTINGCONDITIONS' INTO #HISTORICALTRANSACTIONDATA
			FROM
				(
						SELECT DISTINCT B.ID, 
							   (
									SELECT A.ALERTINGCONDTITION + ',' AS [text()]
									FROM #TRADEINNEWGEO_ALERTS A
									WHERE A.ID = B.ID
									ORDER BY A.ID
									FOR XML PATH ('')
								) ALERTINGCONDITIONS
							FROM #TRADEINNEWGEO_ALERTS B
			)C



			--INSERT ALL THE TRANSACTIONS FROM THE CURRENT RUN TO THE HISTORICAL TRANSACTION TABLE FOR THE ALERTED CUSTOMERS
			INSERT INTO PBSA.DBO.HISTORICALTRANSACTIONS 
			SELECT DISTINCT [dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) AS FOCALENTITY,A.LC_NUMBER,A.ID,'TRADE_IN_NEW_GEO' AS SCENARIO,D.ALERTINGCONDITIONS,A.OLD_LC_NUMBER,A.APPLICANT,A.APPLICANT_CUSTNO,
			A.LC_TYPE,A.DRAWING_TYPE,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.VESSEL_NAME,A.VOYAGE_NUMBER,E.DISCREPANCY,
			A.TRANS_DATE,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,REPLACE(LTRIM(RTRIM(A.ACT_GOODS_DESC)),' ','_') AS ACT_GOODS_DESC,[dbo].[BOC_ReplaceSpaces](C.GOODS_DISPLAY)
			AS GOODSTYPE,DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME)) AS ALERT_MONTH,
			GETDATE() AS RUN_MONTH
			FROM #CURRTRADEINNEWGEO A
			INNER JOIN #TT3 B
			ON A.FOCALENTITY=B.FOCALENTITY
			LEFT JOIN #LCGOODSTYPE C
			ON CAST(A.GOODSTYPE AS FLOAT)=CAST(C.LC_GOODSTYPE_ID AS FLOAT)
			LEFT JOIN #HISTORICALTRANSACTIONDATA D
			ON A.ID=D.ID
			LEFT JOIN #MULTI_DRAWINGS_HIST E
			ON A.ID=E.ID COLLATE DATABASE_DEFAULT
			AND NOT EXISTS (SELECT 1 FROM HISTORICALTRANSACTIONS B WHERE B.ID=A.ID AND B.ALERTINGCONDITIONS=D.ALERTINGCONDITIONS
			AND B.ALERT_MONTH=DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))
			)


			--INSERT CUSTOMER LEVEL INFORMATION FOR ALERTED CUSTOMERS INTO A NEW TABLE
			SELECT [dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) AS FOCALENTITY,A.ALERTINGCONDITIONS, B.HIGHRISKCUSTOMER,
			B.NEWSHIPFMCOUNTRY,B.NEWORIGCOUNTRY,B.NEWSHIPTOCOUNTRY
			 INTO PBSA.DBO.TRADEINNEWGEOALERTCUSTOMERS FROM #TT3 A
			INNER JOIN  #TT1 B
			ON A.FOCALENTITY=B.FOCALENTITY

	
	
			--INSERT TRANSACTION LEVEL INFORMATION FOR ALERTED CUSTOMERS INTO A NEW TABLE. 
			SELECT DISTINCT A.ID,[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) AS FOCALENTITY,A.OLD_LC_NUMBER,A.HIGHRISKCUSTOMER,A.NEWSHIPFMCOUNTRY,A.NEWORIGCOUNTRY,A.NEWSHIPTOCOUNTRY,
			A.LC_TYPE ,A.DRAWING_TYPE,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.LC_NUMBER,
			A.TRANS_DATE ,A.VALUE_DATE,A.DATE_TIME ,A.APPLICANT,A.APPLICANT_CUSTNO,A.APPLICANT_ACC ,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,
			REPLACE(LTRIM(RTRIM(A.ACT_GOODS_DESC)),' ','_') AS ACT_GOODS_DESC,[dbo].[BOC_ReplaceSpaces](B.GOODS_DISPLAY) AS GOODSTYPE
			INTO PBSA.DBO.TRADEINNEWGEOALERTTRANSACTIONS 
			FROM #TRADEINNEWGEO_ALERTS A 
			LEFT JOIN #LCGOODSTYPE B
			ON CAST(A.GOODSTYPE AS FLOAT)=CAST(B.LC_GOODSTYPE_ID AS FLOAT)



			--INSERT ALL THE TRANSACTIONS MADE BY THE ALERTED CUSTOMER DURING THE CURRENT PERIOD. ALSO FLAG THE ALERTED TRANSACTIONS
			SELECT A.ID ,[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) AS FOCALENTITY,A.OLD_LC_NUMBER,A.LC_TYPE ,A.DRAWING_TYPE ,A.COUNTRY_ORIG ,
			A.SHIP_FM_COUNTRY ,A.SHIP_TO_COUNTRY ,CAST(A.DOCUMENT_AMOUNT AS VARCHAR) AS DOCUMENT_AMOUNT,CAST(A.LC_AMOUNT AS VARCHAR) AS LC_AMOUNT,A.LC_NUMBER ,A.TRANS_DATE ,A.VALUE_DATE ,
			A.DATE_TIME ,REPLACE(LTRIM(RTRIM(A.APPLICANT)),' ', '_') AS APPLICANT ,CAST(A.APPLICANT_CUSTNO AS VARCHAR) AS APPLICANT_CUSTNO ,CAST(A.APPLICANT_ACC AS VARCHAR) AS APPLICANT_ACC,
			REPLACE(LTRIM(RTRIM(A.BENEFICIARY)),' ', '_') AS BENEFICIARY ,CAST(A.BENEFICIARY_CUSTNO AS VARCHAR) AS BENEFICIARY_CUSTNO,CAST(A.BENEFICIARY_ACC AS VARCHAR) AS BENEFICIARY_ACC,
			REPLACE(LTRIM(RTRIM(A.ACT_GOODS_DESC)),' ','_') AS ACT_GOODS_DESC,[dbo].[BOC_ReplaceSpaces](B.GOODS_DISPLAY) AS GOODSTYPE,ISNULL(TR.HIGHRISKCUSTOMER,0) AS HIGHRISKCUSTOMER, 
			ISNULL(TR.NEWSHIPFMCOUNTRY,0) AS NEWSHIPFMCOUNTRY, 
			ISNULL(TR.NEWORIGCOUNTRY,0) AS NEWORIGCOUNTRY, ISNULL(TR.NEWSHIPTOCOUNTRY,0) AS NEWSHIPTOCOUNTRY
			INTO PBSA.DBO.TRADEINNEWGEOMAPDATA
			FROM #TRADEINNEWGEO A
			LEFT JOIN TRADEINNEWGEOALERTTRANSACTIONS TR
			ON A.ID=TR.ID
			LEFT JOIN #LCGOODSTYPE B
			ON CAST(A.GOODSTYPE AS FLOAT)=CAST(B.LC_GOODSTYPE_ID AS FLOAT)



			--INSERT CUSTOMER LEVEL INFORMATION W.R.T THE ALERTED CUSTOMERS IN THE HISTORICAL ALERTS TABLE
			INSERT INTO PBSA.DBO.CONSOLIDATEDALERTS
			SELECT  'TRADE_IN_NEW_GEO' AS ALERT_NAME,ALERTINGCONDITIONS,[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) AS FOCALENTITY,CUSTOMERNAME,DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME)),GETDATE() FROM TRADEINNEWGEOALERTCUSTOMERS A
			LEFT JOIN 
			(SELECT FOCALENTITY, MAX(CUSTOMERNAME) AS CUSTOMERNAME FROM 
			(SELECT FOCALENTITY, 
			CASE 
			WHEN FOCALENTITY=CAST(BENEFICIARY_CUSTNO AS VARCHAR) THEN BENEFICIARY
			WHEN FOCALENTITY=CAST(APPLICANT_CUSTNO AS VARCHAR) THEN APPLICANT 
			WHEN UPPER(LTRIM(RTRIM(FOCALENTITY)))=UPPER(LTRIM(RTRIM(BENEFICIARY))) THEN BENEFICIARY 
			WHEN UPPER(LTRIM(RTRIM(FOCALENTITY)))=UPPER(LTRIM(RTRIM(APPLICANT))) THEN APPLICANT 
			END AS CUSTOMERNAME FROM TRADEINNEWGEOALERTTRANSACTIONS)B 
			GROUP BY FOCALENTITY) C
			ON A.FOCALENTITY=C.FOCALENTITY
			WHERE NOT EXISTS (SELECT 1 FROM CONSOLIDATEDALERTS B WHERE  B.ALERTING_CONDITION=ALERTINGCONDITIONS 
			AND B.ALERT_MONTH= DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))
			AND  B.FOCALENTITY=A.FOCALENTITY)


END




