USE [Pbsa]
GO
/****** Object:  StoredProcedure [dbo].[BOC_TRADEINNWHRDUGOODS]    Script Date: 12/18/2016 09:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
	AUTHOR:		DANESHWARI
	CREATE DATE: 08/19/16
	DESCRIPTION:	CHANGE IN BEHAVIOR: TRADING IN NEW GOODS
					THE SCENARIO IDENTIFIES GOODS ACTIVITY WHICH DOES NOT MATCH THE CUSTOMER'S PROFILE OR 
					HISTORICAL ACTIVITY
  =============================================*/

CREATE PROCEDURE [dbo].[BOC_TRADEINNWHRDUGOODS]
	--INPUT PARAMETERS THAT CAN BE PROVIDED WHILE RUNNING THE STORED PROCEDURE

	@LOOKBACKSTART					INT ,							-- LOOKBACK START DATE FOR BUILDING CUSTOMER'S HISTORICAL GOODS PROFILE (FORMAT:YYYYMMDD)
	@LOOKBACKEND					INT ,							-- LOOKBACK END DATE FOR BUILDING CUSTOMER'S HISTORICAL GOODS PROFILE (FORMAT:YYYYMMDD)
	@CURRPERIODSTART				INT ,							-- START DATE OF CURRENT MONTH FOR MONITORING (FORMAT:YYYYMMDD)
	@CURRPERIODEND					INT ,							-- END DATE OF CURRENT MONTH FOR MONITORING (FORMAT:YYYYMMDD)
	@HRGOODSTHSLD					INT ,						-- THRESHOLD FOR TOTAL NUMBER OF TRADES IN THE CURRENT PERIOD INVOLVING A NEW HIGH RISK GOODS TYPE FOR A GIVEN CUSTOMER
	@DUGOODSTHSLD					INT ,						-- THRESHOLD FOR TOTAL NUMBER OF TRADES IN THE CURRENT PERIOD INVOLVING A NEW DUAL USE GOODS TYPE FOR A GIVEN CUSTOMER
	@NEWGOODSTHSLD					INT ,						-- THRESHOLD FOR TOTAL NUMBER OF TRADES IN THE CURRENT PERIOD INVOLVING A NEW GOODS TYPE/S FOR A GIVEN CUSTOMER
	@NEWGOODSHRCUSTTHSLD			INT  						-- THRESHOLD FOR TOTAL NUMBER OF TRADES IN THE CURRENT PERIOD INVOLVING A NEW GOODS TYPE/S FOR A GIVEN HIGH RISK CUSTOMER
		
AS
BEGIN

	-- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM INTERFERING WITH SELECT STATEMENTS. 
	-- THIS PROVIDES SIGNIFICANT BOOST IN PERFORMANCE
	SET NOCOUNT ON;



	--DELETE THE TABLES IF THEY ALREADY EXIST. THESE TABLE HOLD THE ALERT INFORMATION GENERAETED FROM PRIOR RUN
	IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'TRADEINNWHRDUALERTCUSTOMERS')
			BEGIN
			DROP TABLE TRADEINNWHRDUALERTCUSTOMERS 
		END


	IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'TRADEINNWHRDUALERTTRANSACTIONS')
			BEGIN
			DROP TABLE TRADEINNWHRDUALERTTRANSACTIONS 
		END


	IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = N'TRADEINNEWGOODSMAPDATA')
				BEGIN
				DROP TABLE TRADEINNEWGOODSMAPDATA 
			END


--GET THE LATEST RECORDS FROM THE TABLE: MULTI_LC_HIST
	SELECT a.ID,OLD_LC_NUMBER,LC_TYPE,LC_AMOUNT,LC_NUMBER,ISSUE_DATE
		,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,	BENEFICIARY_CUSTNO,
		BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE,a.ASOFDATE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER
		INTO #MULTI_LC_HIST 
		FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_LC_HIST A
		INNER JOIN (SELECT B.ID,MAX(B.ASOFDATE) 
						FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_LC_HIST B 
						GROUP BY B.ID) TEMP(ID,ASOFDATE)
		ON A.ID=TEMP.ID
		WHERE A.ASOFDATE=TEMP.ASOFDATE



	--GET THE LATEST RECORDS FROM THE TABLE: MULTI_DRAWINGS_HIST
	SELECT A.ID,DRAWING_TYPE, COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,DOCUMENT_AMOUNT,
		DOC_RECE_DT,VALUE_DATE,DATE_TIME,ACT_GOODS_DESC,GOODSTYPE,VESSEL_NAME,VOYAGE_NUMBER,DISCREPANCY,a.ASOFDATE
		INTO #MULTI_DRAWINGS_HIST 
		FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_DRAWINGS_HIST A
		INNER JOIN (SELECT B.ID, MAX(B.ASOFDATE) 
					FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.MULTI_DRAWINGS_HIST B 
					GROUP BY B.ID) TEMP(ID,ASOFDATE)
		ON A.ID=TEMP.ID
		WHERE A.ASOFDATE=TEMP.ASOFDATE
	


			--UPDATE QUERY: REPLACE [F_BOC_LCGOODSTYPE_CODE] BY THE IDENTICAL TABLE FROM US_DATA_MART. CONNECT TO THE TABLE USING LINKED SERVER OBJECT
			SELECT * INTO #LCGOODSTYPE
			FROM [9AMHSADCSQL106\SQL106$DVLP].DATA_MART_US.DBO.[F_BOC_LCGOODSTYPE_CODE]



			--UPDATES GOODSTYPE FOR HISTORICAL TRANSACTIONS SINCE 2016 FEB FOR THE DRAWINGS RECORDS
			IF(getdate()<cast(cast(20170502 as char(8)) as datetime))
			UPDATE #MULTI_DRAWINGS_HIST
			SET GOODSTYPE=(SELECT A.LC_GOODSTYPE_ID FROM #LCGOODSTYPE A WHERE
			UPPER(LTRIM(RTRIM(A.GOODS_DISPLAY))) = (SELECT UPPER(LTRIM(RTRIM(A.GOODS_TYPE))) FROM GOODSREFID A WHERE
			UPPER(LTRIM(RTRIM(#MULTI_DRAWINGS_HIST.ACT_GOODS_DESC)))=UPPER(LTRIM(RTRIM(A.ACT_GOODS_DESC ))) COLLATE DATABASE_DEFAULT GROUP BY A.GOODS_TYPE) COLLATE DATABASE_DEFAULT
			) WHERE  #MULTI_DRAWINGS_HIST.GOODSTYPE IS NULL and #MULTI_DRAWINGS_HIST.DOC_RECE_DT>20160331 ;



			--UPDATES GOODSTYPE FOR HISTORICAL TRANSACTIONS SINCE 2016 FEB FOR THE LC RECORDS
			IF(getdate()<cast(cast(20170502 as char(8)) as datetime))
			UPDATE #MULTI_LC_HIST
			SET GOODSTYPE=(SELECT A.LC_GOODSTYPE_ID FROM #LCGOODSTYPE A WHERE
			UPPER(LTRIM(RTRIM(A.GOODS_DISPLAY))) = (SELECT UPPER(LTRIM(RTRIM(A.GOODS_TYPE))) FROM GOODSREFID A WHERE
			UPPER(LTRIM(RTRIM(#MULTI_LC_HIST.ACT_GOODS_DESC)))=UPPER(LTRIM(RTRIM(A.ACT_GOODS_DESC )))   COLLATE DATABASE_DEFAULT GROUP BY A.GOODS_TYPE) COLLATE DATABASE_DEFAULT
			)WHERE #MULTI_LC_HIST.GOODSTYPE IS NULL AND #MULTI_LC_HIST.ISSUE_DATE > 20160331;


	--CREATE TABLE TO HOLD ALL THE RECORDS BELONGING TO THE LOOKBACK AND THE CURRENT PERIOD
		CREATE TABLE #TRADEINNWHRDUGOODS
			(
			ID						VARCHAR(25),
			FOCALENTITY				VARCHAR(50),
			OLD_LC_NUMBER			VARCHAR(20),
			LC_TYPE					VARCHAR(10),
			DRAWING_TYPE			VARCHAR(2),
			COUNTRY_ORIG			VARCHAR(9),
			SHIP_FM_COUNTRY			VARCHAR(35),
			SHIP_TO_COUNTRY			VARCHAR(9),
			VESSEL_NAME				VARCHAR(50),
			VOYAGE_NUMBER			VARCHAR(50),
			DOCUMENT_AMOUNT			DECIMAL(19,2),
			LC_AMOUNT				DECIMAL(19,2),
			LC_NUMBER				VARCHAR(16),
			--NOTE: TRANS_DATE IS POPULATED BY THE FIELD 'ISSUE_DATE' OR 'DOC_RECE_DT' DEPENDING ON THE LC TYPE
			TRANS_DATE				VARCHAR(8), 
			VALUE_DATE				VARCHAR(8),
			DATE_TIME				VARCHAR(8),
			APPLICANT				VARCHAR(100),
			APPLICANT_CUSTNO		VARCHAR(10),
			APPLICANT_ACC			INT,
			BENEFICIARY				VARCHAR(100),
			BENEFICIARY_CUSTNO		INT,
			BENEFICIARY_ACC			INT,
			ACT_GOODS_DESC			VARCHAR(100),
			GOODSTYPE				VARCHAR(100)
			)




			--INSERT THE REQUIRED FIELDS INTO TABLE #TRADEINNWHRDUGOODS FOR THE TRANSACTIONS WHOSE LC TYPES DO NOT BEGIN WITH 'C'
			INSERT INTO #TRADEINNWHRDUGOODS(ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER,
			DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,
			BENEFICIARY_CUSTNO,BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE) 
					SELECT MD.ID,
							CASE WHEN (ML.LC_TYPE LIKE 'I%' OR ML.LC_TYPE LIKE 'SO%' )
								THEN
									CASE 
									WHEN APPLICANT_CUSTNO IS NOT NULL THEN APPLICANT_CUSTNO 
									WHEN APPLICANT_CUSTNO IS NULL AND APPLICANT IS NOT NULL THEN APPLICANT
									ELSE ML.ID  
									END

							ELSE 
									CASE 
									WHEN BENEFICIARY_CUSTNO IS NOT NULL THEN BENEFICIARY_CUSTNO 
									WHEN BENEFICIARY_CUSTNO IS NULL AND BENEFICIARY IS NOT NULL THEN BENEFICIARY
									ELSE ML.ID  
									END
							END,
				ML.OLD_LC_NUMBER,ML.LC_TYPE,MD.DRAWING_TYPE, MD.COUNTRY_ORIG,MD.SHIP_FM_COUNTRY,MD.SHIP_TO_COUNTRY,MD.VESSEL_NAME,MD.VOYAGE_NUMBER,MD.DOCUMENT_AMOUNT,ML.LC_AMOUNT,ML.LC_NUMBER,
				MD.DOC_RECE_DT,MD.VALUE_DATE,MD.DATE_TIME,ML.APPLICANT,ML.APPLICANT_CUSTNO,ML.APPLICANT_ACC,ML.BENEFICIARY,
				ML.BENEFICIARY_CUSTNO,ML.BENEFICIARY_ACC,MD.ACT_GOODS_DESC,MD.GOODSTYPE 
				FROM #MULTI_DRAWINGS_HIST MD
				INNER JOIN #MULTI_LC_HIST ML
				ON LEFT(MD.ID,12)=ML.ID
				--CONDITIONAL STATEMENTS FOR TRANSACTIONS
					WHERE ML.LC_TYPE IS NOT NULL 
					AND ML.LC_TYPE <> 'RUS' 
					AND ML.LC_TYPE NOT LIKE 'C%' AND ML.LC_TYPE NOT LIKE 'ET%'
					AND UPPER(MD.ACT_GOODS_DESC)<>'ZZ'
					AND MD.DOC_RECE_DT BETWEEN @LOOKBACKSTART  AND @CURRPERIODEND    
					ORDER BY MD.ID
			


			--INSERT THE REQUIRED FIELDS INTO TABLE #TRADEINNWHRDUGOODS FOR THE TRANSACTIONS WHOSE LC TYPES BEGIN WITH 'C'
				INSERT INTO #TRADEINNWHRDUGOODS (ID,FOCALENTITY,OLD_LC_NUMBER,LC_TYPE,DRAWING_TYPE,COUNTRY_ORIG,SHIP_FM_COUNTRY,SHIP_TO_COUNTRY,VESSEL_NAME,VOYAGE_NUMBER,
				DOCUMENT_AMOUNT,LC_AMOUNT,LC_NUMBER,TRANS_DATE,VALUE_DATE,DATE_TIME,APPLICANT,APPLICANT_CUSTNO,APPLICANT_ACC,BENEFICIARY,
				BENEFICIARY_CUSTNO,BENEFICIARY_ACC,ACT_GOODS_DESC,GOODSTYPE) 
					SELECT MD.ID,
							CASE 
								WHEN APPLICANT_CUSTNO IS NOT NULL THEN APPLICANT_CUSTNO 
								WHEN APPLICANT_CUSTNO IS NULL AND APPLICANT IS NOT NULL THEN APPLICANT
								ELSE ML.ID  
							END,
				ML.OLD_LC_NUMBER,ML.LC_TYPE,MD.DRAWING_TYPE,ML.COUNTRY_ORIG,ML.SHIP_FM_COUNTRY,ML.SHIP_TO_COUNTRY,ML.VESSEL_NAME,ML.VOYAGE_NUMBER,
				MD.DOCUMENT_AMOUNT,ML.LC_AMOUNT,ML.LC_NUMBER,ML.ISSUE_DATE,MD.VALUE_DATE,MD.DATE_TIME,ML.APPLICANT,ML.APPLICANT_CUSTNO,ML.APPLICANT_ACC,ML.BENEFICIARY,
				ML.BENEFICIARY_CUSTNO,ML.BENEFICIARY_ACC,ML.ACT_GOODS_DESC,ML.GOODSTYPE
				FROM #MULTI_DRAWINGS_HIST MD
				INNER JOIN #MULTI_LC_HIST ML
				ON LEFT(MD.ID,12)=ML.ID
				WHERE UPPER(ML.ACT_GOODS_DESC)<>'ZZ'
				AND  ML.ISSUE_DATE BETWEEN @LOOKBACKSTART AND @CURRPERIODEND     
				AND ML.LC_TYPE LIKE 'C%' 
			

			--CREATE TABLE TO STORE RECORDS BELONGING TO CURRENT PERIOD
				CREATE TABLE #CURRTRADEINNWHRDUGOODS (
					ID					VARCHAR(25),
					FOCALENTITY			VARCHAR(50),
					OLD_LC_NUMBER		VARCHAR(20),
					LC_TYPE				VARCHAR(10),
					DRAWING_TYPE		VARCHAR(2),
					COUNTRY_ORIG		VARCHAR(9),
					SHIP_FM_COUNTRY		VARCHAR(35),
					SHIP_TO_COUNTRY		VARCHAR(9),
					VESSEL_NAME			VARCHAR(50),
					VOYAGE_NUMBER		VARCHAR(50),
					DOCUMENT_AMOUNT		DECIMAL(19,2),
					LC_AMOUNT			DECIMAL(19,2),
					LC_NUMBER			VARCHAR(16),
					TRANS_DATE			VARCHAR(8),
					VALUE_DATE			VARCHAR(8),
					DATE_TIME			VARCHAR(8),
					APPLICANT			VARCHAR(MAX),
					APPLICANT_CUSTNO	VARCHAR(10),
					APPLICANT_ACC		INT,
					BENEFICIARY			VARCHAR(MAX),
					BENEFICIARY_CUSTNO	INT,
					BENEFICIARY_ACC		INT,
					ACT_GOODS_DESC		VARCHAR(200),
					GOODSTYPE			VARCHAR(MAX)
														)



				--INSERT RECORDS BELONGING TO THE CURRENT PERIOD INTO THE TABLE #CURRTRADEINNWHRDUGOODS
				INSERT INTO #CURRTRADEINNWHRDUGOODS 
				SELECT * FROM #TRADEINNWHRDUGOODS 
				WHERE TRANS_DATE BETWEEN  @CURRPERIODSTART AND @CURRPERIODEND    




				--CREATE TABLE TO STORE THE CUSTOMER'S HISTORICAL GOODS DETAILS
				CREATE TABLE #CUSTGOODSPROFILE(
					FOCALENTITY VARCHAR(50),
					GOODSTYPE VARCHAR(MAX)
					)



				--INSERT CUSTOMER'S HISTORICAL TRADING GOODS DETAILS
				INSERT INTO #CUSTGOODSPROFILE
				SELECT FOCALENTITY,GOODSTYPE
				FROM #TRADEINNWHRDUGOODS WHERE TRANS_DATE BETWEEN @LOOKBACKSTART AND   @LOOKBACKEND    
				AND #TRADEINNWHRDUGOODS.GOODSTYPE IS NOT NULL AND CAST(#TRADEINNWHRDUGOODS.GOODSTYPE AS FLOAT)<>350 
				GROUP BY FOCALENTITY,GOODSTYPE
				

				--ADD COLUMNS TO FLAG NEW GOODS AND THEIR TYPES IN THE TABLE #CURRTRADEINNWHRDUGOODS
				ALTER TABLE #CURRTRADEINNWHRDUGOODS
					ADD NEWGOODS INT,
						HRGOODS INT,
						DUGOODS INT,
						HIGHRISKCUSTOMER INT
				

				--FLAG CURRENT PERIOD RECORDS WITH NEW GOODS INVOLVED IN TRANSACTION 
				UPDATE #CURRTRADEINNWHRDUGOODS
				SET NEWGOODS=CASE WHEN NOT EXISTS 
						(SELECT 1 FROM #CUSTGOODSPROFILE 
						WHERE cast(#CURRTRADEINNWHRDUGOODS.GOODSTYPE as float)=cast(#CUSTGOODSPROFILE.GOODSTYPE as float)
						AND #CURRTRADEINNWHRDUGOODS.FOCALENTITY=#CUSTGOODSPROFILE.FOCALENTITY) 
						AND EXISTS(SELECT 1 FROM #CUSTGOODSPROFILE  WHERE #CURRTRADEINNWHRDUGOODS.FOCALENTITY=#CUSTGOODSPROFILE.FOCALENTITY)
						THEN 1 ELSE 0 END


			--UPDATE TABLE TO INDICATE EACH NEW GOOD'S RISK CATEGORY
			UPDATE #CURRTRADEINNWHRDUGOODS
			SET HRGOODS=CASE WHEN (SELECT H_RISK FROM #LCGOODSTYPE A
				WHERE cast(LC_GOODSTYPE_ID as float)=CAST(GOODSTYPE AS FLOAT))='Y' AND #CURRTRADEINNWHRDUGOODS.NEWGOODS=1 THEN 1 ELSE 0 END,
			DUGOODS=CASE WHEN (SELECT DUAL_USE FROM #LCGOODSTYPE
				WHERE cast(LC_GOODSTYPE_ID as float)=CAST(GOODSTYPE AS FLOAT))='Y'  AND #CURRTRADEINNWHRDUGOODS.NEWGOODS=1 THEN 1  ELSE 0 END



			--FLAG THE HIGH RISK CUSTOMERS
			UPDATE #CURRTRADEINNWHRDUGOODS
				 SET HIGHRISKCUSTOMER=CASE
									WHEN EXISTS (SELECT 1 FROM DBO.CUSTOMER WHERE ISNUMERIC(#CURRTRADEINNWHRDUGOODS.FOCALENTITY)=1 AND CUSTOMER.ID = #CURRTRADEINNWHRDUGOODS.FOCALENTITY   
									AND UPPER(CUSTOMER.RISKCLASS) IN ('H1','H2','HIGH'))
									THEN 1
									ELSE 0
								  END



		--CREATE TEMPROPRY TABLE TO STORE INFORMATION REGARDING THE MONITORED THRESHOLD VALUES FOR EACH CUSTOMER
		CREATE TABLE #TT1 (
			FOCALENTITY			VARCHAR(50),
			NEWGOODS			INT DEFAULT 0,
			HRGOODS				INT DEFAULT 0,
			DUGOODS				INT DEFAULT 0,
			HIGHRISKCUSTOMER	INT DEFAULT 0,
			ALERTINGCONDTITION	VARCHAR (25))




		--INSERT ALL THE COMPUTATIONS W.R.T THE MONITORED THRESHOLD VALUES FOR EACH CUSTOMER
		INSERT INTO #TT1 (FOCALENTITY,NEWGOODS,HRGOODS,DUGOODS,HIGHRISKCUSTOMER)
		SELECT  FOCALENTITY,SUM(NEWGOODS),SUM(HRGOODS),SUM(DUGOODS),MAX(HIGHRISKCUSTOMER) FROM  #CURRTRADEINNWHRDUGOODS 
		GROUP BY FOCALENTITY 

		

		--CREATE TABLE TO STORE ALL THE ALERTED TRANSACTIONS 
		CREATE TABLE #TRADEINNWHRDUGOODS_ALERTS(
			ID						VARCHAR(25),
			FOCALENTITY				VARCHAR(50),
			OLD_LC_NUMBER			VARCHAR(20),
			LC_TYPE					VARCHAR(10),
			ALERTINGCONDTITION		VARCHAR (25),
			HIGHRISKCUSTOMER		INT DEFAULT 0,
			NEWGOODS				INT DEFAULT 0,
			HRGOODS					INT DEFAULT 0,
			DUGOODS					INT DEFAULT 0,
			DRAWING_TYPE			VARCHAR(2),
			COUNTRY_ORIG			VARCHAR(9),
			SHIP_FM_COUNTRY			VARCHAR(35),
			SHIP_TO_COUNTRY			VARCHAR(9),
			DOCUMENT_AMOUNT			DECIMAL(19,2),
			LC_AMOUNT				DECIMAL(19,2),
			LC_NUMBER				VARCHAR(16),
			TRANS_DATE				VARCHAR(8),
			VALUE_DATE				VARCHAR(8),
			DATE_TIME				VARCHAR(8),
			APPLICANT				VARCHAR(45),
			APPLICANT_CUSTNO		VARCHAR(10),
			BENEFICIARY				VARCHAR(MAX),
			BENEFICIARY_CUSTNO		INT,
			BENEFICIARY_ACC			INT,
			ACT_GOODS_DESC			VARCHAR(200),
			GOODSTYPE				VARCHAR(MAX),
													)
	

			--INSERT THE TRANSACTIONS WHICH BREACH THE THERSHOLD FOR HIGH RISK GOODS
			INSERT INTO #TRADEINNWHRDUGOODS_ALERTS
			SELECT A.ID,A.FOCALENTITY,A.OLD_LC_NUMBER,A.LC_TYPE,'HIGHRISKGOODS',A.HIGHRISKCUSTOMER,A.NEWGOODS,A.HRGOODS,A.DUGOODS,A.DRAWING_TYPE,
			A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,
			A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,A.APPLICANT_CUSTNO,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC,A.GOODSTYPE
			FROM #CURRTRADEINNWHRDUGOODS A
			INNER JOIN #TT1 B
			ON A.FOCALENTITY=B.FOCALENTITY
			WHERE B.HRGOODS>=@HRGOODSTHSLD
			AND A.HRGOODS=1


			--INSERT THE TRANSACTIONS WHICH BREACH THE THERSHOLD FOR DUAL USE GOODS
			INSERT INTO #TRADEINNWHRDUGOODS_ALERTS
			SELECT A.ID,A.FOCALENTITY,A.OLD_LC_NUMBER,A.LC_TYPE,'DUALUSEGOODS',A.HIGHRISKCUSTOMER,A.NEWGOODS,A.HRGOODS,A.DUGOODS,A.DRAWING_TYPE,
			A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,
			A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,A.APPLICANT_CUSTNO,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC,A.GOODSTYPE
			FROM #CURRTRADEINNWHRDUGOODS A
			INNER JOIN #TT1 B
			ON A.FOCALENTITY=B.FOCALENTITY
			WHERE B.DUGOODS>=@DUGOODSTHSLD
			AND A.DUGOODS=1


			--INSERT THE TRANSACTIONS WHICH BREACH THE THERSHOLD FOR NEW GOODS
			INSERT INTO #TRADEINNWHRDUGOODS_ALERTS
			SELECT A.ID,A.FOCALENTITY,A.OLD_LC_NUMBER,A.LC_TYPE,'NEWGOODS',A.HIGHRISKCUSTOMER,A.NEWGOODS,A.HRGOODS,A.DUGOODS,A.DRAWING_TYPE,
			A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,
			A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,A.APPLICANT_CUSTNO,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC,A.GOODSTYPE
			FROM #CURRTRADEINNWHRDUGOODS A
			INNER JOIN #TT1 B
			ON A.FOCALENTITY=B.FOCALENTITY
			WHERE B.NEWGOODS>= @NEWGOODSTHSLD
			AND A.NEWGOODS=1


			--INSERT THE TRANSACTIONS WHICH BREACH THE THERSHOLD FOR HIUGH RISK CUSTOMERS WITH NEW GOODS
			INSERT INTO #TRADEINNWHRDUGOODS_ALERTS
			SELECT A.ID,A.FOCALENTITY,A.OLD_LC_NUMBER,A.LC_TYPE,'HIGHRISKCUSTNWGOODS',A.HIGHRISKCUSTOMER,A.NEWGOODS,A.HRGOODS,A.DUGOODS,A.DRAWING_TYPE,
			A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,
			A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,A.APPLICANT_CUSTNO,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,A.ACT_GOODS_DESC,A.GOODSTYPE
			FROM #CURRTRADEINNWHRDUGOODS A
			INNER JOIN #TT1 B
			ON A.FOCALENTITY=B.FOCALENTITY
			WHERE B.HIGHRISKCUSTOMER=1 AND B.NEWGOODS>=@NEWGOODSHRCUSTTHSLD
			AND A.NEWGOODS=1 AND A.HIGHRISKCUSTOMER=1



			--INSERT THE DISTINCT FOCALENTITY AND ALERTING CONDITIONS INTO A NEW TABLE 	
			SELECT DISTINCT FOCALENTITY,ALERTINGCONDTITION INTO #TT2 FROM #TRADEINNWHRDUGOODS_ALERTS


			
			--INSERT THE FOCALENTITY AND ALL THE CORRESPONDING ALERTED CONDITIONS INTO A NEW TABLE (ALERTING CONDITIONS ARE DISPLAYED IN A SINGLE FIELD FOR A GIVEN FOCALENTITY)
			SELECT C.FOCALENTITY,
				   LEFT(C.ALERTINGCONDITIONS,LEN(C.ALERTINGCONDITIONS)-1) AS 'ALERTINGCONDITIONS' INTO #TT3
			FROM
				(
						SELECT DISTINCT B.FOCALENTITY, 
							   (
									SELECT A.ALERTINGCONDTITION + ',' AS [text()]
									FROM #TT2 A
									WHERE A.FOCALENTITY = B.FOCALENTITY
									ORDER BY A.FOCALENTITY
									FOR XML PATH ('')
								) ALERTINGCONDITIONS
							FROM #TT2 B
			)C

			--INSERT THE ID AND ALL THE CORRESPONDING ALERTED CONDITIONS INTO A NEW TABLE (ALERTING CONDITIONS ARE DISPLAYED IN A SINGLE FIELD FOR A GIVEN ID)
					SELECT C.ID,
				   LEFT(C.ALERTINGCONDITIONS,LEN(C.ALERTINGCONDITIONS)-1) AS 'ALERTINGCONDITIONS' INTO #HISTORICALTRANSACTIONDATA
			FROM
				(
						SELECT DISTINCT B.ID, 
							   (
									SELECT A.ALERTINGCONDTITION + ',' AS [text()]
									FROM #TRADEINNWHRDUGOODS_ALERTS A
									WHERE A.ID = B.ID
									ORDER BY A.ID
									FOR XML PATH ('')
								) ALERTINGCONDITIONS
							FROM #TRADEINNWHRDUGOODS_ALERTS B
			)C



			--INSERT ALL THE TRANSACTIONS FROM THE CURRENT RUN TO THE HISTORICAL TRANSACTION TABLE FOR THE ALERTED CUSTOMERS
			INSERT INTO PBSA.DBO.HISTORICALTRANSACTIONS 
			SELECT DISTINCT [dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) AS FOCALENTITY,A.LC_NUMBER,A.ID,'TRADE_IN_NEW_GOODS' AS SCENARIO,D.ALERTINGCONDITIONS,A.OLD_LC_NUMBER,A.APPLICANT,A.APPLICANT_CUSTNO,
			A.LC_TYPE,A.DRAWING_TYPE,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.VESSEL_NAME,A.VOYAGE_NUMBER,E.DISCREPANCY,
			A.TRANS_DATE,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,REPLACE(LTRIM(RTRIM(A.ACT_GOODS_DESC)),' ','_') AS ACT_GOODS_DESC, [dbo].[BOC_ReplaceSpaces](C.GOODS_DISPLAY)
			AS GOODSTYPE,DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME)) AS ALERT_MONTH,
			GETDATE() AS RUN_MONTH
			FROM #CURRTRADEINNWHRDUGOODS A
			INNER JOIN #TT3 B
			ON A.FOCALENTITY=B.FOCALENTITY
			LEFT JOIN #LCGOODSTYPE C
			ON CAST(A.GOODSTYPE AS FLOAT)=CAST(C.LC_GOODSTYPE_ID AS FLOAT)
			LEFT JOIN #HISTORICALTRANSACTIONDATA D
			ON A.ID=D.ID
			LEFT JOIN #MULTI_DRAWINGS_HIST E
			ON A.ID=E.ID COLLATE DATABASE_DEFAULT
			AND NOT EXISTS (SELECT 1 FROM HISTORICALTRANSACTIONS B WHERE B.ID=A.ID AND B.ALERTINGCONDITIONS=D.ALERTINGCONDITIONS
			AND B.ALERT_MONTH=DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))
			)


			--INSERT CUSTOMER LEVEL INFORMATION FOR ALERTED CUSTOMERS INTO A NEW TABLE
			SELECT  [dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) AS FOCALENTITY,A.ALERTINGCONDITIONS,NEWGOODS,HRGOODS,DUGOODS,HIGHRISKCUSTOMER 
			INTO PBSA.DBO.TRADEINNWHRDUALERTCUSTOMERS FROM  #TT3 A
			INNER JOIN #TT1 B
			ON A.FOCALENTITY=B.FOCALENTITY


			--INSERT TRANSACTION LEVEL INFORMATION FOR ALERTED CUSTOMERS INTO A NEW TABLE. 
			SELECT DISTINCT A.ID, [dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) AS FOCALENTITY,A.OLD_LC_NUMBER,A.LC_TYPE,A.HIGHRISKCUSTOMER,A.NEWGOODS,A.HRGOODS,A.DUGOODS,A.DRAWING_TYPE,
			A.COUNTRY_ORIG,A.SHIP_FM_COUNTRY,A.SHIP_TO_COUNTRY,A.DOCUMENT_AMOUNT,A.LC_AMOUNT,
			A.LC_NUMBER,A.TRANS_DATE,A.VALUE_DATE,A.DATE_TIME,A.APPLICANT,A.APPLICANT_CUSTNO,A.BENEFICIARY,A.BENEFICIARY_CUSTNO,A.BENEFICIARY_ACC,REPLACE(LTRIM(RTRIM(A.ACT_GOODS_DESC)),' ','_') AS ACT_GOODS_DESC,[dbo].[BOC_ReplaceSpaces](B.GOODS_DISPLAY) AS GOODSTYPE
			INTO PBSA.DBO.TRADEINNWHRDUALERTTRANSACTIONS FROM #TRADEINNWHRDUGOODS_ALERTS A 
			LEFT JOIN #LCGOODSTYPE B
			ON CAST(A.GOODSTYPE AS FLOAT)=CAST(B.LC_GOODSTYPE_ID AS FLOAT)



			--INSERT ALL THE TRANSACTIONS MADE BY THE ALERTED CUSTOMER DURING THE CURRENT PERIOD. ALSO FLAG THE ALERTED TRANSACTIONS 
			SELECT A.ID ,[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) AS FOCALENTITY,A.OLD_LC_NUMBER,A.LC_TYPE ,A.DRAWING_TYPE ,A.COUNTRY_ORIG ,
			A.SHIP_FM_COUNTRY ,A.SHIP_TO_COUNTRY ,CAST(A.DOCUMENT_AMOUNT AS VARCHAR) AS DOCUMENT_AMOUNT,CAST(A.LC_AMOUNT AS VARCHAR) AS LC_AMOUNT,A.LC_NUMBER ,A.TRANS_DATE,
			REPLACE(LTRIM(RTRIM(A.APPLICANT)),' ', '_') AS APPLICANT ,CAST(A.APPLICANT_CUSTNO AS VARCHAR) AS APPLICANT_CUSTNO ,CAST(A.APPLICANT_ACC AS VARCHAR) AS APPLICANT_ACC,REPLACE(LTRIM(RTRIM(A.BENEFICIARY)),' ', '_') AS BENEFICIARY ,
			CAST(A.BENEFICIARY_CUSTNO AS VARCHAR) AS BENEFICIARY_CUSTNO,REPLACE(LTRIM(RTRIM(A.ACT_GOODS_DESC)),' ', '_') AS ACT_GOODS_DESC,[dbo].[BOC_ReplaceSpaces](B.GOODS_DISPLAY) AS GOODSTYPE,ISNULL(TR.HIGHRISKCUSTOMER,0) AS HIGHRISKCUSTOMER, 
			ISNULL(TR.NEWGOODS,0) AS NEWGOODS, 
			ISNULL(TR.HRGOODS,0) AS HRGOODS, ISNULL(TR.DUGOODS,0) AS DUGOODS
			INTO PBSA.DBO.TRADEINNEWGOODSMAPDATA
			FROM #TRADEINNWHRDUGOODS A
			LEFT JOIN TRADEINNWHRDUALERTTRANSACTIONS TR
			ON A.ID=TR.ID
			LEFT JOIN #LCGOODSTYPE B
			ON CAST(A.GOODSTYPE AS FLOAT)=CAST(B.LC_GOODSTYPE_ID AS FLOAT)


			--INSERT CUSTOMER LEVEL INFORMATION W.R.T THE ALERTED CUSTOMERS IN THE HISTORICAL ALERTS TABLE
			INSERT INTO PBSA.DBO.CONSOLIDATEDALERTS
			SELECT  'TRADE_IN_NEW_GOODS' AS ALERT_NAME,ALERTINGCONDITIONS,[dbo].[BOC_ReplaceSpaces](A.FOCALENTITY) AS FOCALENTITY,CUSTOMERNAME,DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME)),GETDATE() 
			FROM TRADEINNWHRDUALERTCUSTOMERS A
			LEFT JOIN 
			(SELECT FOCALENTITY, MAX(CUSTOMERNAME) AS CUSTOMERNAME FROM 
			(SELECT FOCALENTITY, 
			CASE 
			WHEN FOCALENTITY=CAST(BENEFICIARY_CUSTNO AS VARCHAR) THEN BENEFICIARY
			WHEN FOCALENTITY=CAST(APPLICANT_CUSTNO AS VARCHAR) THEN APPLICANT 
			WHEN UPPER(LTRIM(RTRIM(FOCALENTITY)))=UPPER(LTRIM(RTRIM(BENEFICIARY))) THEN BENEFICIARY 
			WHEN UPPER(LTRIM(RTRIM(FOCALENTITY)))=UPPER(LTRIM(RTRIM(APPLICANT))) THEN APPLICANT 
			END AS CUSTOMERNAME FROM TRADEINNWHRDUALERTTRANSACTIONS)B 
			GROUP BY FOCALENTITY) C
			ON A.FOCALENTITY=C.FOCALENTITY
			WHERE NOT EXISTS (SELECT 1 FROM CONSOLIDATEDALERTS B WHERE  B.ALERTING_CONDITION=ALERTINGCONDITIONS 
			AND B.ALERT_MONTH=DATENAME(MONTH, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))+ ' '+DATENAME(YEAR, CAST(CONVERT(CHAR(8),@CURRPERIODSTART) AS DATETIME))
			AND  B.FOCALENTITY=A.FOCALENTITY)
			

END





